<form name="form">
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="page-title text-uppercase">
            <i class="fa fa-cog"></i>
            <span translate="system_setting"></span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <table st-safe-src="rowCollection" st-table="displayCollection" class="table table-hover table-bordered table-settings">
                    <thead>
                        <tr>
                            <th>
                                <span translate="explanation"></span>
                            </th>
                            <th>
                                <span translate="value"></span>
                            </th>
                            <th>
                                <span translate="history"></span>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <input st-search="explanation" class="form-control" type="search" />
                            </th>
                            <th>
                                <input st-search="value" class="form-control" type="search" />
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in displayCollection" style="height:60px;">
                            <td>
                                {{ ::x.explanation }}
                            </td>
                            <td class="text-right">
                                <div ng-if="model.id == x.id">
                                    <div class="input-group">
                                        <input type="text" data-mask="{{ model.mask }}" data-mask-reverse="true" ng-model="model.value" maxlength="200" class="form-control" autofocus required>
                                        <div class="input-group-addon" ng-if="model.measure">
                                            {{ model.measure }}
                                        </div>
                                        <span class="input-group-btn">
                                            <button acl="setting" class="btn btn-primary" type="button" ng-click="save(form, model, $event)">
                                                <i class="fa fa-save"></i>
                                            </button>
                                            <button class="btn btn-danger" type="button" ng-click="cancel(model)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <span ng-if="model.id != x.id">
                                    <a href="javascript:;" ng-click="edit(x);">
                                        {{ x.value }}
                                        {{ x.measure }}
                                    </a>
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="history(x);" type="button" data-toggle="modal" data-target="#modalHistory">
                                    <i class="fa fa-book"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" colspan="3">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Modal History -->
<div class="modal fade" id="modalHistory" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title text-capitalize">
                <span translate="history"></span>: <b>{{ settingSelected.explanation }}</b>
            </h4>
        </div>
        <div class="modal-body">
          <items-by-page></items-by-page>
      <table st-safe-src="historyRowCollection" st-table="historyDisplayCollection" class="table table-striped table-bordered table-hover table-history">
                <thead>
                    <tr>
                        <th st-sort="oldValue">
                            <span translate="old_value"></span>
                        </th>
                        <th st-sort="newValue">
                            <span translate="new_value"></span>
                        </th>
                        <th st-sort="updated_by.username">
                            <span translate="user-last-changed"></span>
                        </th>
                        <th st-sort="updated_at">
                            <span translate="updated_at" class="column-status"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="historyDisplayCollection.length <= 0">
                        <td colspan="4">
                            <span translate="empty_records"></span>
                        </td>
                    </tr>
                    <tr ng-if="historyDisplayCollection.length >= 1" ng-repeat="row in historyDisplayCollection">
                        <td>{{ ::row.oldValue }} {{ settingSelected.measure }}</td>
                        <td>{{ ::row.newValue }} {{ settingSelected.measure }}</td>
                        <td>{{ ::row.updated_by.username }}</td>
                        <td>{{ ::row.created_at | date: "dd/MM/yyyy HH:mm" }}</td>
                    </tr>
                </tbody>
                <tfoot ng-if="historyDisplayCollection.length >= 1" >
                    <tr>
                        <td class="text-center" colspan="4">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                <span translate="close"></span>
            </button>
        </div>
    </div>
</div>
</div>