<ng-form name="accessionAbroadForm">
    <div class="row">

        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.company.$invalid && accessionAbroadForm.company.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="company_abroad"></span>
                </label>
                <input ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl.model.company" name="company" maxlength="200" class="form-control">
                <i class="help-block" ng-if="accessionAbroadForm.company.$error.required"><span translate="required_message"></span></i>
            </div>  
        </div>

        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.country.$invalid && accessionAbroadForm.country.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="country"></span>
                </label>
                <ui-select ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.country" theme="bootstrap" name="country" close-on-select="true" >
                    <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.countries | selectPropsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <i class="help-block" ng-if="accessionAbroadForm.country.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.securityCode.$invalid && accessionAbroadForm.securityCode.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="security_code_abroad"></span>
                </label>
                <input ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl.model.securityCode" name="securityCode" maxlength="200" class="form-control">
                <i class="help-block" ng-if="accessionAbroadForm.securityCode.$error.required"><span translate="required_message"></span></i>
            </div>  
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.hasSubsidie.$invalid && accessionAbroadForm.hasSubsidie.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="has_subsidie_abroad"></span>
                </label>
                <label class="radio-inline">
                  <input ng-disabled="$ctrl.disabled" type="radio" name="hasSubsidie" ng-model="$ctrl.model.hasSubsidie" ng-value="1"> <span translate="yes"></span>
                </label>
                <label class="radio-inline">
                  <input ng-disabled="$ctrl.disabled" type="radio" name="hasSubsidie" ng-model="$ctrl.model.hasSubsidie" ng-value="0"> <span translate="no"></span>
                </label>
            </div>  
        </div>
    </div>

    <div class="row" ng-if="$ctrl.model.hasSubsidie == 1">
        
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.subsidieType.$invalid && accessionAbroadForm.subsidieType.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="subsidie_type_abroad"></span><i class="required">*</i>
                </label>
                <input ng-disabled="$ctrl.disabled" type="text" ng-required="$ctrl.model.hasSubsidie == 1" ng-model="$ctrl.model.subsidieType" name="subsidieType" maxlength="200" class="form-control">
                <i class="help-block" ng-if="accessionAbroadForm.subsidieType.$error.required"><span translate="required_message"></span></i>
            </div>  
        </div>

        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.socialSecurityEntity.$invalid && accessionAbroadForm.socialSecurityEntity.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="social_security_abroad"></span>
                </label>
                <input ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl.model.socialSecurityEntity" ng-required="$ctrl.model.hasSubsidie == 1" name="socialSecurityEntity" maxlength="200" class="form-control">
                <i class="help-block" ng-if="accessionAbroadForm.socialSecurityEntity.$error.required"><span translate="required_message"></span></i>
            </div>  
        </div>

        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.subsidieCost.$invalid && accessionAbroadForm.subsidieCost.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="subsidie_cost_abroad"></span><i class="required">*</i>
                </label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input ng-disabled="$ctrl.disabled" ui-number-mask="2" ng-required="$ctrl.model.hasSubsidie == 1" ui-hide-group-sep name="subsidieCost" ng-model="$ctrl.model.subsidieCost" class="form-control">
                </div>
                <i class="help-block" ng-if="accessionAbroadForm.subsidieCost.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        
    </div>

    <fieldset>
        <legend><span translate="foreign_worker_title"></span></legend>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.foreignWorker.$invalid && accessionAbroadForm.foreignWorker.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="foreign_worker"></span>
                    </label>
                    <label class="radio-inline">
                      <input ng-disabled="$ctrl.disabled" type="radio" name="foreignWorker" ng-model="$ctrl.model.foreignWorker" ng-value="1"> <span translate="yes"></span>
                    </label>
                    <label class="radio-inline">
                      <input ng-disabled="$ctrl.disabled" type="radio" name="foreignWorker" ng-model="$ctrl.model.foreignWorker" ng-value="0"> <span translate="no"></span>
                    </label>
                </div>  
            </div>
        </div>

        <div class="row" ng-if="$ctrl.model.foreignWorker == 1">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.countryWork.$invalid && accessionAbroadForm.countryWork.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="country"></span><i class="required">*</i>
                    </label>
                    <ui-select ng-required="$ctrl.model.foreignWorker == 1" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.countryWork" theme="bootstrap" name="countryWork" close-on-select="true" >
                        <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.countries | selectPropsFilter: {name: $select.search}">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <i class="help-block" ng-if="accessionAbroadForm.countryWork.$error.required"><span translate="required_message"></span></i>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.socialSecurityEntityWork.$invalid && accessionAbroadForm.socialSecurityEntityWork.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="social_security_abroad_work"></span>
                    </label>
                    <input ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl.model.socialSecurityEntityWork" ng-required="$ctrl.model.hasSubsidie == 1" name="socialSecurityEntityWork" maxlength="200" class="form-control">
                    <i class="help-block" ng-if="accessionAbroadForm.socialSecurityEntityWork.$error.required"><span translate="required_message"></span></i>
                </div>  
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error': accessionAbroadForm.monthsWorkingTL.$invalid && accessionAbroadForm.monthsWorkingTL.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="month_working_tl"></span><i class="required">*</i>
                    </label>
                    <input ng-disabled="$ctrl.disabled" type="number" ng-required="$ctrl.model.foreignWorker == 1" class="form-control" name="monthsWorkingTL" maxlength="10" ng-model="$ctrl.model.monthsWorkingTL">
                </div>
            </div>

        </div>
    </fieldset>

</ng-form>
