<fieldset>
    <legend>
        <label class="control-label text-capitalize">
            <span translate="activity"></span><i ng-if="$ctrl.required" class="required">*</i>
        </label>
        <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#modalActiviySectors">
            <i class="fa fa-search"></i>
            <span translate="search"></span>
        </button>
    </legend>
    <div>
        <!-- <input class="hiddend" name="{{ $ctrl.name }}" ng-model="$ctrl.inputSector" type="text" required="{{ $ctrl.required }}"> -->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="label label-default" ng-repeat="m in $ctrl.model" style="margin:3px;float:left;">
                        {{ m.code }} - {{ m.name }}
                        <a href="javascript:;" ng-click="$ctrl.removeActivitySector(m)">
                            <span class="glyphicon glyphicon-remove" style="color:white"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<!-- MODAL -->
<div class="modal fade" id="modalActiviySectors" tabindex="-1" role="dialog" aria-labelledby="modalActiviySectorsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalActiviySectorsLabel" translate="activity"></h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label text-capitalize"><span translate="search"></span></label>
                        <div class="form-group">
                            <input ng-model="query" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div style="max-height: 400px;overflow-y:auto;overflow-x:hidden">
                            <div ng-if="$ctrl.sectors.length <= 0"><span translate="not_found"></span></div>
                            <div ui-tree data-nodrop-enabled="true" id="tree-root" ng-if="$ctrl.sectors.length > 0">
                                <ol ui-tree-nodes ng-model="$ctrl.model">
                                    <li ng-repeat="node in $ctrl.sectors |filter:query" ng-include="'nodes_renderer.html'"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span translate="close"></span></button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- TEMPLATE -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div class="tree-node tree-node-content tree-nothandle">
        <a class="btn btn-default btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
        </a>
        &nbsp;
        <label>
            <input type="checkbox" ng-checked="$ctrl.isChecked(node)" data-nodrag ng-click="$ctrl.toggleActivitySector(node)"> {{node.code }} - {{node.name}}
        </label>
    </div>
    <ol ui-tree-nodes ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li data-nodrag ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>
