<ng-form name="addressForm">
    <div class="row address-container">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="address" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group" ng-class="{ 'has-error': $ctrl.required && addressForm.address.$invalid && addressForm.$dirty }">
                                <label class="control-label text-capitalize">
                                <span translate="address"></span><i ng-if="$ctrl.required" class="required">*</i>
                            </label>
                                <input type="text" ng-disabled="$ctrl.disabled" class="form-control" name="address" maxlength="400" ng-model="$ctrl.model.address" ng-required="$ctrl.required">
                                <i class="help-block" ng-if="$ctrl.required && addressForm.address.$error.required"><span translate="required_message"></span></i>
                            </div>
                        </div>
                        <div ng-class="{'col-sm-2': $ctrl.hasHeadquarter, 'col-sm-4': !$ctrl.hasHeadquarter}">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                <span translate="postal_code"></span>
                            </label>
                                <input type="text" class="form-control" maxlength="200" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.postalCode">
                            </div>
                        </div>
                        <div class="col-sm-2" ng-if="$ctrl.hasHeadquarter">
                            <div class="form-group">
                                <label class="control-label text-capitalize">&nbsp;</label>
                                <div class="checkbox">
                                    <label class="checkbox-display">
                                       <input ng-disabled="$ctrl.disabled" type="checkbox" ng-model="$ctrl.model.main" ng-true-value="1" ng-false-value="0">
                                       <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                       <span class="text-capitalize"><span translate="headquarter"></span></span>
                                   </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="se_em_tl"></span>
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="addressInTL" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.addressInTL" ng-value="1"> <span translate="yes"></span>
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="addressInTL" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.addressInTL" ng-value="0"> <span translate="no"></span>
                                </label>
                            </div>  
                        </div>
                    </div>

                    <fieldset ng-if="$ctrl.model.addressInTL == 1">
                        <legend>
                            <span class="text-capitalize" translate="se_em_tl"></span>
                        </legend>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="municipio"></span>
                                </label>
                                    <ui-select reset-search-input="true" ng-disabled="$ctrl.disableTL || $ctrl.disabled" ng-model="$ctrl.model.municipio" ng-change="$ctrl.changeMunicipio($ctrl.model.municipio.id)" close-on-select="true" theme="bootstrap">
                                        <ui-select-match allow-clear>{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.municipios | selectPropsFilter: {displayName: $select.search}">
                                            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="posto_administrativo"></span>
                                </label>
                                    <ui-select ng-model="$ctrl.model.postoAdministrativo" ng-disabled="$ctrl.disableTL || $ctrl.disabled" ng-change="$ctrl.changePostoAdministrativo($ctrl.model.postoAdministrativo.id)" close-on-select="true"  theme="bootstrap">
                                        <ui-select-match allow-clear>{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.postosAdministrativos | selectPropsFilter: {displayName: $select.search}">
                                            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="suku"></span>
                                </label>
                                    <ui-select ng-model="$ctrl.model.suku" ng-disabled="$ctrl.disableTL || $ctrl.disabled" ng-change="$ctrl.changeSuku($ctrl.model.suku.id)" theme="bootstrap" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.sukus | selectPropsFilter: {displayName: $select.search}">
                                            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="village"></span>
                                </label>
                                    <ui-select ng-model="$ctrl.model.village" ng-disabled="$ctrl.disableTL || $ctrl.disabled" theme="bootstrap" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.villages | selectPropsFilter: {displayName: $select.search}">
                                            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset ng-if="$ctrl.model.addressInTL == 0">
                        <legend>
                            <span class="text-capitalize" translate="se_no_estrangeiro"></span>
                        </legend>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="city_abroad"></span>
                                    </label>
                                    <input type="text" ng-disabled="$ctrl.disableCountries || $ctrl.disabled" ng-change="$ctrl.changeCountry()" class="form-control" maxlength="200" ng-model="$ctrl.model.cityAbroad">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="country"></span>
                                    </label>
                                    <ui-select ng-disabled="$ctrl.disableCountries || $ctrl.disabled" ng-change="$ctrl.changeCountry()" ng-model="$ctrl.model.country" theme="bootstrap" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.countries | selectPropsFilter: {name: $select.search}">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</ng-form>
