<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <label class="control-label text-capitalize"><span translate="address"></span>:</label>
            <p>{{$ctrl.address.address}}</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label text-capitalize"><span translate="postal_code"></span>:</label>
            <p>{{$ctrl.address.postalCode}}</p>
        </div>
    </div>
</div>
<fieldset ng-if="$ctrl.address.municipio">
    <legend>
        <span class="text-capitalize" translate="se_em_tl"></span>
    </legend>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label text-capitalize"><span translate="municipio"></span>:</label>
                <p>{{$ctrl.address.municipio.displayName}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label text-capitalize"><span translate="posto_administrativo"></span>:</label>
                <p>{{$ctrl.address.postoAdministrativo.displayName}}</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label text-capitalize"><span translate="suku"></span>:</label>
                <p>{{$ctrl.address.suku.displayName}}</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label text-capitalize"><span translate="village"></span>:</label>
                <p>{{$ctrl.address.village.displayName}}</p>
            </div>
        </div>
    </div>
</fieldset>

<fieldset ng-if="$ctrl.address.country">
    <legend>
        <span class="text-capitalize" translate="se_no_estrangeiro"></span>
    </legend>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label text-capitalize"><span translate="city_abroad"></span></label>
                <p>{{$ctrl.address.cityAbroad}}</p>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label class="control-label text-capitalize scrollToAddress"><span translate="country"></span></label>
                <p><span class="label label-default">{{$ctrl.address.country.name}}</span></p>
            </div>
        </div>
    </div>
</fieldset>
