<button type="button" ng-disabled="$ctrl.disabled" class="btn btn-primary btn-sm text-capitalize" ng-click="$ctrl.addBank();">
    <i class="fa fa-plus"></i>
    <span translate="add"></span>
</button>
<div class="row" style="margin-top:15px;">
    <div class="col-sm-12" ng-repeat='b in $ctrl.model'>
        <ng-form name="bankInformationForm">
            <div class="panel panel-info" ng-class="{ 'disabled': b.status == 0 }">
                <div class="panel-heading text-uppercase">
                    <h4>
                        <small class="pull-right">
                            <button ng-if="!b.id" ng-disabled="$ctrl.disabled" type="button" class="btn btn-danger btn-sm text-capitalize" ng-click="$ctrl.removeBank(b)">
                                <i class="fa fa-trash"></i>
                                <span translate="remove"></span>
                            </button>
                            <div class="checkbox" ng-if="b.id" style="color:black;">
                                <label class="checkbox-display-">
                                   <input type="checkbox" ng-disabled="$ctrl.disabled" ng-model="b.status" ng-true-value="1" ng-false-value="0">
                                   <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                   <span class="text-uppercase">
                                       <span ng-if="b.status" translate="active" class="label label-success"></span>
                                       <span ng-if="!b.status" translate="inactive" class="label label-danger"></span>
                                   </span>
                               </label>
                            </div>
                        </small>
                        <span translate="bank_information"></span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group" ng-class="{ 'has-error': bankInformationForm.name.$invalid && bankInformationForm.name.$dirty }">
                                <label class="control-label text-capitalize">
                                    <span translate="account_number"></span>
                                <i class="required">*</i>
                            </label>
                                <input type="text" ng-disabled="$ctrl.disabled" class="form-control" name="name" ng-model="b.name" maxlength="200" required>
                                <i class="help-block" ng-if="bankInformationForm.name.$error.required">
                                    <span translate="required_message"></span>
                                </i>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" ng-class="{ 'has-error': bankInformationForm.bank.$invalid && bankInformationForm.bank.$dirty }">
                                <label class="control-label text-capitalize">
                                    <span translate="bank"></span>
                                    <i class="required">*</i>
                                </label>
                                <select class="form-control" ng-disabled="$ctrl.disabled" name="bank" ng-model="b.bank" ng-change="$ctrl.changeBank(b)" ng-options="item.name for item in $ctrl.banks track by item.id" required>
                                    <option value=""></option>
                                </select>
                                <i class="help-block" ng-if="bankInformationForm.bank.$error.required">
                                    <span translate="required_message"></span>
                                </i>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="iban"></span>
                                </label>
                                <input type="text" ng-disabled="$ctrl.disabled" class="form-control" ng-model="b.iban" maxlength="45">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="swift"></span>
                                </label>
                                <input type="text" ng-disabled="$ctrl.disabled" class="form-control" ng-model="b.swift" maxlength="21">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-12 {{b.id}}-address">
                            <fieldset>
                                <legend class="text-capitalize">
                                    <span translate="address"></span>&nbsp;<span translate="bank"></span>
                                </legend>
                                <div ng-repeat="address in b.addresses track by address.id" class="well">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{ ::address.address }} - {{ ::address.postalCode }}.
                                            <fieldset>
                                                <legend style="font-size:16px;">
                                                    <b><span class="text-capitalize" translate="se_em_tl"></span></b>
                                                </legend>
                                                {{ ::address.suku.postoAdministrativo.municipio.name }}, {{ ::address.suku.postoAdministrativo.name }}, {{ ::address.suku.name }}
                                            </fieldset>
                                            <fieldset ng-if="address.country">
                                                <legend style="font-size:16px;">
                                                    <b><span class="text-capitalize" translate="se_no_estrangeiro"></span></b>
                                                </legend>
                                                {{ ::address.cityAbroad }}, {{ ::address.country.name }}
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div> -->
                    <div class="scrollToBank">&nbsp;</div>
                </div>
            </div>
        </ng-form>
    </div>
</div>
