<div class="panel panel-warning">
    <div class="panel-heading">
        <span class="text-uppercase" translate="overview"></span>
    </div>
    <div class="panel-body">
        <div style="overflow-x:auto;">
            <table st-safe-src="$ctrl.rowCollection" st-table="$ctrl.displayCollection" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th st-sort="dateStart" class="column-status">
                            <span translate="date_start"></span>
                        </th>
                        <th st-sort="dateEnd" class="column-status">
                            <span translate="date_end"></span>
                        </th>
                        <th st-sort="employerName">
                            <span translate="employer"></span>
                        </th>
                        <th st-sort="employerSector">
                            <span translate="sector"></span>
                        </th>
                        <th st-sort="contractType" style="width:200px;">
                            <span translate="contract_type"></span>
                        </th>
                        <th st-sort="workedDays" class="column-status">
                            <span translate="worked_days"></span>
                        </th>
                        <th st-sort="absences" class="column-status">
                            <span translate="absences"></span>
                        </th>
                        <th st-sort="averageIncome" class="column-status">
                            <span translate="average_income"></span>
                        </th>
                        <th st-sort="totalIncome" class="column-status">
                            <span translate="total_income"></span>
                        </th>
                        <th st-sort="debt" class="column-status">
                            <span translate="balance"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="row in $ctrl.displayCollection">
                        <td>
                            <button type="button" ng-click="$ctrl.showDetailContribution(row)" class="btn btn-primary btn-sm text-capitalize">
                                <i class="fa" ng-class="{'fa-plus-circle': !row.show, 'fa-minus-circle': row.show}" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>{{ ::row.dateStart | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ ::row.dateEnd | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ ::row.employerName }}</td>
                        <td>{{ ::row.employerSector }}</td>
                        <td>{{ ::row.contractType }}</td>
                        <td>{{ ::row.daysInPeriod }}</td>
                        <td>{{ ::row.absences }}</td>
                        <td>{{ ::row.averageIncome | currency}}</td>
                        <td>{{ ::row.totalIncome | currency}}</td>
                        <td>{{ ::row.debt | currency}}</td>
                    </tr>
                    <tr ng-repeat-end ng-if="row.show">
                        <td colspan="11">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="info">
                                        <th class="text-center" colspan="12">
                                            <span class="text-uppercase" translate="details"></span>
                                        </th>
                                    </tr>
                                    <tr class="active">
                                        <th st-sort="dateStart" class="column-status">
                                            <span translate="date_start"></span>
                                        </th>
                                        <th st-sort="dateEnd" class="column-status">
                                            <span translate="date_end"></span>
                                        </th>
                                        <th st-sort="contractType" style="width:200px;">
                                            <span translate="contract_type"></span>
                                        </th>
                                        <th st-sort="workDays" class="column-status">
                                            <span translate="work_days"></span>
                                        </th>
                                        <th st-sort="workedDays" class="column-status">
                                            <span translate="worked_days"></span>
                                        </th>
                                        <th class="column-status">
                                            % (<span translate="work_days"></span> / <span translate="worked_days"></span>)
                                        </th>
                                        <th st-sort="absences" class="column-status">
                                            <span translate="absences"></span>
                                        </th>
                                        <th st-sort="declaredIncome" class="column-status">
                                            <span translate="declared_income"></span>
                                        </th>
                                        <th st-sort="equivalence" class="column-status">
                                            <span translate="equivalence"></span>
                                        </th>
                                        <th st-sort="voluntary" class="column-status">
                                            <span translate="voluntary"></span>
                                        </th>
                                        <th st-sort="total" class="column-status">
                                            <span translate="total"></span>
                                        </th>
                                        <th st-sort="debt" class="column-status">
                                            <span translate="debt"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="row.detail.length < 1">
                                        <td colspan="12"><span translate="loading"></span></td>
                                    </tr>
                                    <tr ng-if="row.detail.length >= 1" ng-repeat="d in row.detail">
                                        <td>{{ ::d.dateStart | date: 'dd/MM/yyyy' }}</td>
                                        <td>{{ ::d.dateEnd | date: 'dd/MM/yyyy' }}</td>
                                        <td>{{ ::d.contractType.name }}</td>
                                        <td>{{ ::d.workDays }}</td>
                                        <td>{{ ::d.daysInPeriod }}</td>
                                        <td>{{ ((d.daysInPeriod / d.workDays) * 100) | number:2 }}%</td>
                                        <td>{{ ::d.absences }}</td>
                                        <td>
                                            <a href="javascript:;" ng-click="$ctrl.showDeclaredIncome(d);">
                                                {{ ::d.declaredIncome | currency }}
                                            </a>
                                        </td>
                                        <td>{{ ::d.parTotalContribution | currency }}</td>
                                        <td>{{ ::d.voluntary | currency }}</td>
                                        <td>
                                            <a href="javascript:;" ng-click="$ctrl.showTotalPaid(d);">
                                                {{ ::d.paidTotalContribution | currency }}
                                            </a>
                                        </td>
                                        <td>{{ ::d.debt | currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Dialog declaredIncome -->
<script type="text/ng-template" id="declaredIncomeDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <span translate="declared_income"></span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" class="active">
                                <span class="text-uppercase" translate="theoretical_income"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span translate="days_in_period"></span>
                            </td>
                            <td class="column-status">
                                <b>{{ ::row.daysInPeriod }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="hour_cost"></span>
                            </td>
                            <td>
                                <div class="input-group">
                                    <b>{{ ::row.hourCost | currency }}</b>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="hours_day"></span>
                            </td>
                            <td>
                                <b>{{ ::row.hoursDay }}</b>
                                <i class="help-block text-warning" ng-if="row.hoursDay > 8"><span translate="hours_day_extra"></span></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b translate="theorical_income"></b>
                            </td>
                            <td>
                                <div class="input-group">
                                    <b>{{ ::row.theoricalIncome | currency }}</b>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="3" class="active">
                                <span class="text-uppercase" translate="overtime"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in row.overtimes track by o.data.id">
                            <td>
                                <span class="text-capitalize" translate="ratio"></span>: <b>{{ ::o.data.ratio }}</b>
                            </td>
                            <td class="column-status">
                                --
                            </td>
                            <td class="column-status">
                                --
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b translate="total"></b>
                            </td>
                            <td>
                                <b>{{ ::row.totalOvertime | currency }}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" class="active">
                                <span class="text-uppercase" translate="allowance"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="text-capitalize" translate="allowance"></span>
                            </td>
                            <td>
                                <b>{{ ::row.allowance | currency }}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="well">
                    <h4>
                        <span translate="total_theorical_income"></span>
                        <p style="font-weight: bold;">{{ row.totalTheoricalIncome | currency }}</p>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <span translate="worked_days"></span>
                            </td>
                            <td class="column-status">
                                <b>{{ ::row.daysInPeriod }}</b>
                            </td>
                            <td>
                                <span translate="declared_income"></span>
                            </td>
                            <td>
                                <div class="input-group">
                                    <b>{{ ::row.declaredIncome | currency }}</b>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="close()"><span translate="close"></span></button>
    </div>
</script>
<!-- Dialog totalPaidDialog -->
<script type="text/ng-template" id="totalPaidDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <span translate="theorical"></span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-8">
                <table class="table table-bordered">
                    <thead>
                        <tr class="active">
                            <th colspan="5">
                                <span class="text-uppercase" translate="theorical"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3"></td>
                            <td class="text-center">
                                <b translate="equivalence"></b>
                            </td>
                            <td class="text-center">
                                <b translate="total"></b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="employee"></span>
                            </td>
                            <td>
                                <b>{{ ::row.theoricalEmployeeContribution | currency }}</b>
                            </td>
                            <td>
                                <b>{{ ::row.employeeTax }}%</b>
                            </td>
                            <td>
                                <b>{{ ::row.parEmployeeContribution | currency }}</b>
                            </td>
                            <td>
                                <b>{{ ::row.theoricalTotalEmployeeContribution | currency }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="employer"></span>
                            </td>
                            <td>
                                <b>{{ ::row.theoricalEmployerContribution | currency }}</b>
                            </td>
                            <td>
                                <b>{{ ::row.employerTax }}%</b>
                            </td>
                            <td>
                                <b>{{ ::row.parEmployerContribution | currency }}</b>
                            </td>
                            <td>
                                <b>{{ ::row.theoricalTotalEmployerContribution | currency }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b translate="total"></b>
                            </td>
                            <td>
                                <b>{{ ::row.theoricalContribution | currency }}</b>
                            </td>
                            <td>
                            </td>
                            <td>
                                <b>{{ ::row.parTotalContribution | currency }}</b>
                            </td>
                            <td>
                                <b>{{ ::row.theoricalTotalContribution | currency }}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="table table-bordered">
                    <thead>
                        <tr class="active">
                            <th colspan="2">
                                <span class="text-uppercase" translate="paid"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span translate="employee"></span>
                            </td>
                            <td>
                                <b>{{ ::row.paidEmployeeContribution | currency }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="employer"></span>
                            </td>
                            <td>
                                <b>{{ ::row.paidEmployerContribution | currency }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b translate="total"></b>
                            </td>
                            <td>
                                <b>{{ ::row.paidTotalContribution | currency }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b translate="debt"></b>
                            </td>
                            <td>
                                <b ng-class="{'text-danger': row.debt < 0, 'text-success': row.debt >= 0 }">{{ ::row.debt | currency }}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="close()"><span translate="close"></span></button>
    </div>
</script>