<div>
    <div class="row">
        <div class="col-sm-12">
            <uib-accordion>
                <div uib-accordion-group class="panel-primary" is-open="$ctrl.searchForm" style="background-color: #eee">
                    <uib-accordion-heading>
                        <span translate="search"></span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.searchForm, 'glyphicon-chevron-right': !$ctrl.searchForm}"></i>
                    </uib-accordion-heading>
                    <form name='form' ng-submit="$ctrl.reload($ctrl.model);" novalidate>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="month"></span>
                                </label>
                                    <div class="input-group">
                                        <input type="text" ng-model="$ctrl.model.month" datepicker-options="$ctrl.monthOptions" data-mask="00" class="form-control" uib-datepicker-popup="MM" is-open="$ctrl.calendar['month']" close-text="{{ 'close' | translate }}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar('month')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="year"></span>
                                </label>
                                    <div class="input-group">
                                        <input type="text" ng-model="$ctrl.model.year" datepicker-options="$ctrl.yearOptions" data-mask="0000" class="form-control" uib-datepicker-popup="yyyy" is-open="$ctrl.calendar['year']" close-text="{{ 'close' | translate }}" />
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar('year')">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="date_start"></span>
                                </label>
                                    <div class="input-group">
                                        <input type="text" ng-model="$ctrl.model.dateStart" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.calendar['dateStart']" close-text="{{ 'close' | translate }}" />
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar('dateStart')">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="date_end"></span>
                                </label>
                                    <div class="input-group">
                                        <input type="text" ng-model="$ctrl.model.dateEnd" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.calendar['dateEnd']" close-text="{{ 'close' | translate }}" />
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar('dateEnd')">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label text-capitalize"><span translate="employee"></span></label>
                                    <input type="text" class="form-control" maxlength="200" autofocus ng-model="$ctrl.model.person" required>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize"><span translate="employer"></span></label>
                                    <input type="text" class="form-control" maxlength="200" autofocus ng-model="$ctrl.model.employer" required>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize"><span translate="has_contract"></span></label>
                                    <ui-select reset-search-input="true" ng-model="$ctrl.model.contractStatus" close-on-select="true" theme="bootstrap">
                                        <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.contractsStatus | selectPropsFilter: {name: $select.search}">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm text-capitalize">
                                    <i class="fa fa-search"></i>
                                    <span translate="search"></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <items-by-page></items-by-page>
            <table st-safe-src="$ctrl.rowCollection" st-table="$ctrl.displayCollection" class="table tableContribution table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            <div class="checkbox">
                                <label class="checkbox-display">
                                   <input type="checkbox" ng-model="$ctrl.selectedAll" ng-click="$ctrl.checkAll()">
                                   <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                               </label>
                            </div>
                        </th>
                        <th st-sort="dateStart" class="column-status">
                            <span translate="month_year"></span>
                        </th>
                        <th st-sort="dateStart">
                            <span translate="dates"></span>
                        </th>
                        <th st-sort="person.name">
                            <span translate="employee"></span>
                        </th>
                        <th st-sort="declaredIncome" class="column-status">
                            <span translate="declared_income"></span>
                        </th>
                        <th st-sort="status" class="column-status">
                            <span translate="status"></span>
                        </th>
                        <th class="column-action text-center">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span translate="actions"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:;"  class="text-capitalize text-danger" ng-click="$ctrl.removeContributions()">
                                            <i class="fa fa-trash-o"></i>
                                            <span translate="delete"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="text-capitalize text-info" ng-click="$ctrl.activateContributions()">
                                            <i class="fa fa-undo"></i>
                                            <span translate="activate"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <input st-search="dateStart" class="form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="dateStart" class="form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="person.name" class="form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="declaredIncome" class="form-control" type="search" />
                        </th>
                        <th>
                            <select st-search="status" class="form-control">
                                <option value=""></option>
                                <option value="0">{{ ::"inactive" | translate }}</option>
                                <option value="1">{{ ::"active" | translate }}</option>
                            </select>
                        </th>
                        <th class="text-center" style="width: 12%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in $ctrl.displayCollection track by row.id" ng-class="{ 'text-danger': !row.status }" class="text-center">
                        <td>
                            <div class="checkbox">
                                <label class="checkbox-display">
                                   <input type="checkbox" ng-model="row.selected">
                                   <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                               </label>
                            </div>
                        </td>
                        <td>{{ ::row.dateStart|date:'MM/yyyy' }}</td>
                        <td>
                            <small>
                                {{ ::row.dateStart|date:'dd/MM/yyyy' }} - {{ ::row.dateEnd|date:'dd/MM/yyyy' }}
                            </small>
                        </td>
                        <td>{{ ::row.person.name }}</td>
                        <td>{{ ::row.declaredIncome|currency }}</td>
                        <td>
                            <status value="row.status"></status>
                        </td>
                        <td class="text-center">
                            <div ng-repeat="a in $ctrl.actions" class="pull-left" ng-if="row.status">
                                <a ng-click="a.callback(row)" class="btn btn-default btn-sm">
                                    {{ ::a.title | translate }}
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" colspan="8">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
