<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase" translate="overview_total"></span>
    </div>
    <div class="panel-body">
        <div style="overflow-x:auto;">
            <table st-safe-src="$ctrl.rowCollection" st-table="$ctrl.displayCollection" class="table table-striped table-bordered  table-hover">
                <thead>
                    <tr>
                        <th style="width: 10%"></th>
                        <th st-sort="absences">
                            <span translate="absences"></span>
                        </th>
                        <th st-sort="averageIncome">
                            <span translate="average_income"></span>
                        </th>
                        <th st-sort="averageIncome">
                            <span translate="total_income"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="row in $ctrl.displayCollection">
                        <td>
                            <button type="button" ng-click="row.show = !row.show" class="btn btn-primary btn-sm text-capitalize">
                                <i class="fa" ng-class="{'fa-plus-circle': !row.show, 'fa-minus-circle': row.show}" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>{{ ::row.absences }}</td>
                        <td>{{ ::row.averageIncome | currency}}</td>
                    </tr>
                    <tr ng-repeat-end ng-show="row.show">
                        <td colspan="4">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="info">
                                        <th class="text-center" colspan="10">
                                            <span class="text-uppercase" translate="license"></span>
                                        </th>
                                    </tr>
                                    <tr class="active">
                                        <th><span translate="type"></span></th>
                                        <th style="width: 15%;"><span translate="days"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="license in row.licenses">
                                        <td>{{ ::license.name }}</td>
                                        <td>{{ ::license.days }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
