<ng-form name="contactDetailForm">
    <div class="row">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    <span translate="email"></span>
                    <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-sm btn-primary text-capitalize pull-right" ng-click="$ctrl.addEmail()">
                        <i class="fa fa-plus"></i>
                        <span translate="add"></span>&nbsp;<span translate="email"></span>
                    </button>
                </legend>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-condesed table-bordered">
                            <thead>
                                <tr class="active">
                                    <th>
                                        <span translate="email"></span>
                                    </th>
                                    <th style="width:100px;" class="text-center">
                                        <span translate="remove"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="$ctrl.model.email.length <= 0">
                                    <td colspan="2">
                                        <span translate="empty_records"></span>
                                    </td>
                                </tr>
                                <tr ng-repeat='e in $ctrl.model.email track by $index' ng-form="emailForm">
                                    <td>
                                        <div class="form-group" ng-class="{ 'has-error': emailForm.email.$invalid && emailForm.email.$dirty }">
                                            <input ng-disabled="$ctrl.disabled" type="email" class="form-control" ng-model="$ctrl.model.email[$index]" name="email" required>
                                            <i class="help-block" ng-if="emailForm.email.$error.required"><span translate="required_message"></span></i>
                                            <i class="help-block" ng-if="emailForm.email.$error.email"><span translate="email_invalid_message"></span></i>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-danger" ng-click="$ctrl.removeEmail(e)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>


     <div class="row">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    <span translate="phone"></span>
                    <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-sm btn-primary text-capitalize pull-right" ng-click="$ctrl.addPhone()">
                        <i class="fa fa-plus"></i>
                        <span translate="add_phone"></span>
                    </button>
                </legend>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-condesed table-bordered">
                            <thead>
                                <tr class="active">
                                    <th style="width:250px;">
                                        <span translate="type"></span>
                                    </th>
                                    <th>
                                        <span translate="phone"></span>
                                    </th>
                                    <th style="width:100px;" class="text-center">
                                        <span translate="remove"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="$ctrl.model.telephones.length <= 0">
                                    <td colspan="3">
                                        <span translate="empty_records"></span>
                                    </td>
                                </tr>
                                <tr ng-repeat='p in $ctrl.model.telephones' ng-form="phoneForm">
                                    <td>
                                        <div class="form-group" ng-class="{ 'has-error': phoneForm.type.$invalid && phoneForm.type.$dirty }">
                                            <select ng-disabled="$ctrl.disabled" class="form-control" name="type" ng-model="p.type" ng-options="item.value as item.label for item in $ctrl.phonesTypes" required></select>
                                            <i class="help-block" ng-if="phoneForm.type.$error.required"><span translate="required_message"></span></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" ng-class="{ 'has-error': phoneForm.number.$invalid && phoneForm.number.$dirty }">
                                            <input ng-disabled="$ctrl.disabled" type="text" class="form-control" name="number" ng-model="p.number" required>
                                            <i class="help-block" ng-if="phoneForm.number.$error.required"><span translate="required_message"></span></i>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-danger" ng-click="$ctrl.removePhone(p)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</ng-form>
