<ng-form name="contactForm">
    <div class="row">
        <div class="col-sm-9">
            <div class="form-group" ng-class="{ 'has-error': contactForm.name.$invalid && contactForm.name.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="name"></span>
                    <i class="required">*</i>
                </label>
                <input type="text" class="form-control" name="name" ng-model="$ctrl.model.name" maxlength="200" required>
                <i class="help-block" ng-if="contactForm.name.$error.required">
                    <span translate="required_message"></span>
                </i>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': contactForm.post.$invalid && contactForm.post.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="post"></span>
                    <i class="required">*</i>
                </label>
                <select class="form-control" name="post" ng-model="$ctrl.model.post" ng-options="item.id as item.name for item in $ctrl.posts" required></select>
                <i class="help-block" ng-if="contactForm.post.$error.required">
                    <span translate="required_message"></span>
                </i>
            </div>
        </div>
    </div>
    <div class="row scrollToContact">
        <div class="col-sm-12">
            <contact-detail model="$ctrl.model.contactDetail"></contact-detail>
        </div>
    </div>
</ng-form>
