<ng-form name="workSituationForm">
    <div class="row">

        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': workSituationForm.occupation.$invalid && workSituationForm.occupation.$dirty }">
                <label class="control-label text-capitalize"><span translate="occupation"></span></label>
                <ui-select ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.occupation" theme="bootstrap" name="occupation" close-on-select="true" >
                    <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.occupations | selectPropsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <i class="help-block" ng-if="workSituationForm.occupation.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': workSituationForm.post.$invalid && workSituationForm.post.$dirty }">
                <label class="control-label text-capitalize"><span translate="post"></span></label>
                <ui-select ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.post" theme="bootstrap" name="post" close-on-select="true" >
                    <ui-select-match allow-clear>{{$select.selected.acronym}} - {{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.posts | selectPropsFilter: {acronym: $select.search, name: $select.search}">
                        <div ng-bind-html="(item.acronym + ' - ' + item.name) | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <i class="help-block" ng-if="workSituationForm.post.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': workSituationForm.dateStart.$invalid && workSituationForm.dateStart.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="date_start_contract"></span><i class="required">*</i>
                </label>
                <div class="input-group">
                    <input type="text" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.dateStart" max-date="$ctrl.model.dateEnd" datepicker-options="$ctrl.dateOptions" name="dateStart" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.model.calendarStart" close-text="{{ 'close' | translate }}" ng-required="true"
                    />
                    <span class="input-group-btn">
                        <button tabindex="-1" type="button" ng-disabled="$ctrl.disabled" class="btn btn-default" ng-click="$ctrl.model.calendarStart = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
                <i class="help-block" ng-if="workSituationForm.dateStart.$error.required"><span translate="required_message"></span></i>
                <i class="help-block text-danger" ng-if="workSituationForm.dateStart.$error.maxDate"><span translate="error_max_date"></span></i>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': workSituationForm.payrollNumber.$invalid && workSituationForm.payrollNumber.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="payroll_number"></span>
                    <i class="required" ng-if="$ctrl.isElectoralRequired()">*</i>
                </label>
                
                <input type="text" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.payrollNumber" ng-model="$ctrl.model.payrollNumber" name="payrollNumber" maxlength="20" class="form-control">

                <i class="help-block" ng-if="workSituationForm.electoralCard.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>

       <!--  <div class="col-sm-3" ng-if="$ctrl.model.id">
           <div class="form-group" ng-class="{ 'has-error': workSituationForm.dateEnd.$invalid && workSituationForm.dateEnd.$dirty }">
               <label class="control-label text-capitalize">
                   <span translate="date_end"></span>
               </label>
               <div class="input-group">
                   <input type="text" ng-disabled="$ctrl.disabled" max-date="$ctrl.today" ng-model="$ctrl.model.dateEnd" min-date="$ctrl.model.dateEnd" datepicker-options="$ctrl.dateEndOptions" name="dateEnd" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.model.calendarEnd" close-text="{{ 'close' | translate }}" />
                   <span class="input-group-btn">
                       <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-default" ng-click="$ctrl.model.calendarEnd = true">
                           <i class="glyphicon glyphicon-calendar"></i>
                       </button>
                   </span>
               </div>
               <i class="help-block" ng-if="workSituationForm.dateEnd.$error.required"><span translate="required_message"></span></i>
               <i class="help-block text-danger" ng-if="workSituationForm.dateEnd.$error.minDate"><span translate="error_min_date"></span></i>
               <i class="help-block text-danger" ng-if="workSituationForm.dateEnd.$error.maxDate"><span translate="not_later_today"></span></i>
           </div>
       </div> -->

    </div>

    <work-contract contract="$ctrl.model" active="$ctrl.active" disabled="$ctrl.disabled"></work-contract>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group" ng-class="{ 'has-error': workSituationForm.activitySectors.$invalid && workSituationForm.activitySectors.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="activity"></span><i class="required">*</i>
                </label>
               
                <ui-select multiple name="activitySectors" reset-search-input="true" ng-required="true" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.activitySectors" close-on-select="true" theme="bootstrap">
                    <ui-select-match>{{$item.code}} - {{$item.name|limitTo:40}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.activitiesSectorsTree | selectPropsFilter: {name: $select.search, code:$select.search}">
                        <div style="padding-left: {{15 * item.level}}px" ng-bind-html="(item.code + ' - ' + item.name) | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

                <i class="help-block" ng-if="workSituationForm.activitySectors.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
    </div>
</ng-form>
