<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <employer-name employer="$ctrl.employer"></employer-name>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label text-capitalize">
                <span translate="tax_number"></span>:
            </label>
            {{$ctrl.employer.taxNumber}}
        </div>
    </div>
</div>
<div class="row identity-container">
    <div class="col-sm-8">
        <div class="form-group">
            <label class="control-label text-capitalize"><span translate="commercial_name"></span>:</label>
            {{$ctrl.employer.commercialName}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label text-capitalize"><span translate="sector"></span>:</label>
            {{$ctrl.employer.sector.name}}
        </div>
    </div>
</div>