<div class="row">
    <div class="col-sm-12">
        <items-by-page></items-by-page>
        <table st-safe-src="$ctrl.rowCollection" st-table="$ctrl.displayCollection" class="table tableEmployer table-striped table-bordered  table-hover">
            <thead>
                <tr>
                    <!-- <th st-sort="internalCode" class="column-status">
                        <span translate="internal_code"></span>
                    </th> -->
                    <th st-sort="name">
                        <span translate="name"></span>
                    </th>
                    <th st-sort="securityCode" class="column-status">
                        <span translate="niss"></span>
                    </th>
                    <th st-sort="taxNumber" class="column-status">
                        <span translate="tax_number"></span>
                    </th>
                    <th class="column-status">
                        <span translate="status"></span>
                    </th>
                    <th class="column-status" st-sort="version">
                        <span translate="version"></span>
                    </th>
                    <!-- <th>
                        <span translate="activity"></span>
                    </th> -->
                    <th class="column-status">
                        <span translate="created_at"></span>
                    </th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <!-- <th>
                        <input st-search="internalCode" class="form-control" type="search"/>
                    </th> -->
                    <th>
                        <input st-search="displayName" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="securityCode" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="taxNumber" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="subscriptionStatus" class="form-control" type="search"/>
                    </th>

                    <!-- <th>
                        <input st-search="sectors" class="form-control" type="search"/>
                    </th> -->
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $ctrl.displayCollection track by row.id">
                    <!-- <td>{{ ::row.internalCode }}</td> -->
                    <td>{{ ::row.displayName }}</td>
                    <td>{{ ::row.securityCode }}</td>
                    <td>{{ ::row.taxNumber }}</td>
                    <td><employer-status employer="row"></employer-status></td>
                    <td><version entity="row"></version></td>
                    <!-- <td>
                        <div ng-repeat="s in row.activitySectors track by s.id">
                            <span class='label label-primary'>{{ ::s.name|limitTo:15 }}</span>
                        </div>
                    </td> -->
                    <td>{{ ::row.created_at | date:"dd/MM/yyyy HH:mm" }}</td>
                    <td class="text-center">
                        <div class="dropdown" ng-if="$ctrl.actions.length > 1">
                              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span translate="actions"></span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li ng-repeat="a in $ctrl.actions">
                                    <a ng-click="a.callback(row)" href="javascript:;">
                                        <i ng-if="a.icon" class="fa" ng-class="a.icon"></i>
                                        <span ng-if="a.title" ng-bind-html="a.title | translate"></span>
                                    </a>
                                </li>
                              </ul>
                        </div>

                        <a ng-click="a.callback(row)" ng-if="$ctrl.actions.length < 2" class="btn btn-default btn-sm" ng-repeat="a in $ctrl.actions">
                            <i ng-if="a.icon" class="fa" ng-class="a.icon"></i>
                            <span ng-if="a.title" ng-bind-html="a.title | translate"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="8">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
