<ng-form name="$ctrl.employerHeaderForm">
    <div class="row header-container">
        <div class="col-sm-8">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.employerHeaderForm.name.$invalid && $ctrl.employerHeaderForm.name.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="name"></span><i class="required">*</i>
                </label>
                <input ng-disabled="$ctrl.disabled" type="text" maxlength="200" name="name" ng-model="$ctrl.employer.name" class="form-control" autofocus required>
                <i class="help-block" ng-if="$ctrl.employerHeaderForm.name.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label text-capitalize">
                    <span translate="short_name"></span>
                </label>
                <input ng-disabled="$ctrl.disabled" type="text" maxlength="200" name="shortName" ng-model="$ctrl.employer.shortName" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.employerHeaderForm.taxNumber.$invalid && $ctrl.employerHeaderForm.taxNumber.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="tax_number"></span><i class="required">*</i>
                </label>
                <input ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl.employer.taxNumber" check-entity="employer" on-found="$ctrl.foundEmployer(entity, 'taxNumber')" on-accepted="$ctrl.setEmployer(entity)" on-declined="$ctrl.cleanEmployer('taxNumber')" on-not-found="$ctrl.onNotFound()" name="taxNumber" maxlength="200" class="form-control" required>
                <i class="help-block" ng-if="$ctrl.employerHeaderForm.taxNumber.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.displayAllData()">
        <div class="col-sm-12">
            <contact-detail disabled="$ctrl.disabled" model="$ctrl.employer.contactDetail"></contact-detail>
        </div>
    </div>
</ng-form>