<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.closeModal()">
    <span aria-hidden="true">&times;</span>
</button>
    <h4 class="modal-title">
    <span translate="employer"></span>
</h4>
</div>
<div class="modal-body">
    <employer-search actions="$ctrl.gridAction" params="$ctrl.gridParams"></employer-search>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.closeModal()"><span translate="close"></span></button>
</div>
