<ng-form name="employerDataForm">
    <div class="row">
        <div ng-class="{ 'col-sm-12': $ctrl.hideNumWorker, 'col-sm-6': !$ctrl.hideNumWorker }">
            <div class="form-group" ng-class="{ 'has-error': employerDataForm.activitySectors.$invalid && employerDataForm.activitySectors.$dirty }">

                <label class="control-label text-capitalize">
                    <span translate="activity"></span><i class="required">*</i>
                </label>
                
                <ui-select multiple reset-search-input="true" ng-disabled="$ctrl.disabled" name="activitySectors" ng-required="true" ng-model="$ctrl.employer.activitySectors" close-on-select="true">
                    <ui-select-match>{{$item.code}} - {{$item.name|limitTo:40}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.activitiesSectorsTree | selectPropsFilter: {name: $select.search, code:$select.search}">
                        <div style="padding-left: {{15 * item.level}}px" ng-bind-html="(item.code + ' - ' + item.name) | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

                <i class="help-block" ng-if="employerDataForm.activitySectors.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        <div class="col-sm-3" ng-if="!$ctrl.hideNumWorker">
            <div class="form-group" ng-class="{ 'has-error': employerDataForm.numWorkers.$invalid && employerDataForm.numWorkers.$dirty }">
                <label class="control-label text-capitalize"><span translate="num_workers"></span><i class="required">*</i></label>
                <input ng-disabled="$ctrl.disabled" min="{{ $ctrl.employer.numWorkersNational }}" type="number" class="form-control" value="0" name="numWorkers" maxlength="200" ng-model="$ctrl.employer.numWorkers" required>
                <i class="help-block" ng-if="employerDataForm.numWorkers.$error.required"><span translate="required_message"></span></i>
                <i class="help-block" ng-if="employerDataForm.numWorkers.$error.min"><span translate="min_num_workers"></span></i>
            </div>
        </div>
        <div class="col-sm-3" ng-if="!$ctrl.hideNumWorker">
            <div class="form-group" ng-class="{ 'has-error': employerDataForm.numWorkersNational.$invalid && employerDataForm.numWorkersNational.$dirty }">
                <label class="control-label text-capitalize"><span translate="num_workers_national"></span><i class="required">*</i></label>
                <input ng-disabled="$ctrl.disabled" max="{{ $ctrl.employer.numWorkers }}" type="number" class="form-control" value="0" name="numWorkersNational" maxlength="200" ng-model="$ctrl.employer.numWorkersNational" required>
                <i class="help-block" ng-if="employerDataForm.numWorkersNational.$error.required"><span translate="required_message"></span></i>
                <i class="help-block" ng-if="employerDataForm.numWorkersNational.$error.max"><span translate="max_num_workers"></span></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-class="{ 'col-sm-4': $ctrl.endActivity, 'col-sm-6': !$ctrl.endActivity }">
            <div class="form-group" ng-class="{ 'has-error': employerDataForm.dateStartActivity.$invalid && employerDataForm.dateStartActivity.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="date_start_activity"></span><i class="required">*</i>
                </label>
                <p class="input-group">
                    <input ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl.employer.dateStartActivity" min-date="$ctrl.employer.employer.dateStartActivity" max-date="$ctrl.employer.dateEmployees" max-date-precision="month" name="dateStartActivity" datepicker-options="calendarOptions" placement="bottom-right"
                        data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.employer.openActivity" close-text="{{ 'close' | translate }}" ng-required="true" />
                    <span class="input-group-btn">
                        <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-default" ng-click="$ctrl.employer.openActivity = true"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <i class="help-block" ng-if="employerDataForm.dateStartActivity.$error.required"><span translate="required_message"></span></i>
                <i class="help-block" ng-if="employerDataForm.dateStartActivity.$error.date"><span translate="date_invalid_message"></span></i>
                <i class="help-block" ng-if="employerDataForm.dateStartActivity.$error.maxDate"><span translate="error_ee_max_date"></span></i>
                <i class="help-block" ng-if="employerDataForm.dateStartActivity.$error.minDate"><span translate="error_ee_min_date"></span></i>
            </div>
        </div>
        <div ng-class="{ 'col-sm-4': $ctrl.endActivity, 'col-sm-6': !$ctrl.endActivity }">
            <div class="form-group" ng-class="{ 'has-error': employerDataForm.dateEmployees.$invalid && employerDataForm.dateEmployees.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="date_employees"></span><i class="required">*</i>
                </label>
                <p class="input-group">
                    <input ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl.employer.dateEmployees" max-date="$ctrl.curDate" max-date-precision="month" min-date="$ctrl.employer.dateStartActivity" min-date-precision="month" name="dateEmployees" datepicker-options="$ctrl.calendarOptions" placement="bottom-right"
                        data-mask="00/0000" class="form-control" uib-datepicker-popup="MM/yyyy" is-open="$ctrl.employer.openEmployees" close-text="{{ 'close' | translate }}" ng-required="true" />
                    <span class="input-group-btn">
                        <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-default" ng-click="$ctrl.employer.openEmployees = true"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <i class="help-block" ng-if="employerDataForm.dateEmployees.$error.required"><span translate="required_message"></span></i>
                <i class="help-block" ng-if="employerDataForm.dateEmployees.$error.date"><span translate="date_invalid_message"></span></i>
                <i class="help-block" ng-if="employerDataForm.dateEmployees.$error.minDate"><span translate="error_ee_min_date"></span></i>
                <i class="help-block" ng-if="employerDataForm.dateEmployees.$error.maxDate"><span translate="not_later_today"></span></i>
            </div>
        </div>
        <div class="col-sm-4" ng-if="$ctrl.endActivity">
            <div class="form-group" ng-class="{ 'has-error': employerDataForm.dateEndActivity.$invalid && employerDataForm.dateEndActivity.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="date_end_activity"></span>
                </label>
                <p class="input-group">
                    <input ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl.employer.dateEndActivity" min-date="$ctrl.employer.dateStartActivity" name="dateEndActivity" datepicker-options="calendarOptions" placement="bottom-right"
                        data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.employer.openEndActivity" close-text="{{ 'close' | translate }}" />
                    <span class="input-group-btn">
                        <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-default" ng-click="$ctrl.employer.openEndActivity = true"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <i class="help-block" ng-if="employerDataForm.dateEndActivity.$error.required"><span translate="required_message"></span></i>
                <i class="help-block" ng-if="employerDataForm.dateEndActivity.$error.date"><span translate="date_invalid_message"></span></i>
                <i class="help-block" ng-if="employerDataForm.dateEndActivity.$error.minDate"><span translate="error_ee_min_activity"></span></i>
            </div>
        </div>
    </div>

    <fieldset ng-if="$ctrl.addAddress">
        <legend><span translate="address" class="text-capitalize"></span></legend>
        <div class="row" ng-repeat="address in $ctrl.employer.addresses">
            <div class="col-sm-12">
                <address disabled="$ctrl.disabled" model="address" required="true"></address>
            </div>
        </div>
    </fieldset>
</ng-form>
