<ng-form name="feedbackForm" server-validate isolate-form>

    <div class="panel panel-default feedback-form">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <span translate="feedback"></span>
            </h4>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group" ng-class="{ 'has-error': feedbackForm.subscriptionStatus.$invalid && feedbackForm.subscriptionStatus.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="status"></span><i class="required">*</i>
                        </label>
                        <ui-select ng-if="!$ctrl.feedback.id" ng-model="$ctrl.feedback.subscriptionStatus" name="subscriptionStatus" theme="bootstrap" close-on-select="true" ng-disabled="$ctrl.disabled" ng-required="true">
                            <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in $ctrl.subscriptionStatuses| selectPropsFilter: {name: $select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <input type="text" ng-if="$ctrl.feedback.id" ng-disabled="true" ng-model="$ctrl.feedback.subscriptionStatusDesc" class="form-control">
                        <i class="help-block" ng-if="feedbackForm.subscriptionStatus.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group" ng-class="{ 'has-error': feedbackForm.comment.$invalid && feedbackForm.comment.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="comment"></span>
                            <i class="required" ng-if="$ctrl.isCommentRequired()">*</i>
                        </label>
                        <textarea class="form-control" name="comment" ng-required="$ctrl.isCommentRequired()" ng-disabled="$ctrl.disabled" ng-model="$ctrl.feedback.comment"></textarea>
                        <i class="help-block" ng-if="feedbackForm.comment.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button acl="feedback" type="button" ng-click="$ctrl.save(feedbackForm, $ctrl.feedback)" class="btn btn-primary text-capitalize" ng-disabled="feedbackForm.$invalid">
                        <i class="fa fa-floppy-o"></i>
                        <span translate="save"></span>
                    </button>
                    <button acl="feedback" type="button" ng-click="$ctrl.cancel()" class="btn btn-warning text-capitalize">
                        <i class="fa fa-ban"></i>
                        <span translate="cancel"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <span translate="list_feedback"></span>
            </h4>
        </div>
        <div class="panel-body">
            <items-by-page></items-by-page>
            <table st-safe-src="rowCollection" st-table="displayCollection" class="table table-striped table-bordered table-hover table-feedback">
                <thead>
                    <tr>
                        <th st-sort="subscriptionStatus">
                            <span translate="status"></span>
                        </th>
                        <th st-sort="comment">
                            <span translate="comment"></span>
                        </th>
                        <th st-sort="updated_by.username">
                            <span translate="user-last-changed"></span>
                        </th>
                        <th st-sort="updated_at">
                            <span translate="updated_at"></span>
                        </th>
                        <th class="column-action">&nbsp;</th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="subscriptionStatus" class="form-control" type="search"/>
                        </th>
                        <th>
                            <input st-search="comment" class="form-control" type="search"/>
                        </th>
                        <th>
                            <input st-search="created_by.username" class="form-control" type="search"/>
                        </th>
                        <th>
                            <input st-search="subscriptionChangedAt" class="form-control" type="search"/>
                        </th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in $ctrl.displayCollection track by row.id">
                        <td>{{ $ctrl.getSubscriptionStatusDescription(row.subscriptionStatus) }}</td>
                        <td>{{ ::row.comment }}</td>
                        <td>{{ ::row.created_by.username }}</td>
                        <td>{{ ::row.subscriptionChangedAt|date:'dd/MM/yyyy HH:mm' }}</td>
                        <td class="text-center">
                            <button type="button" acl="feedback" ng-click="$ctrl.edit(row)" class="btn btn-default btn-sm">
                                <span translate="edit"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" colspan="5">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</ng-form>