<ng-form name="fileUploadForm" class="fileUploadForm">
    <div class="row" ng-repeat="config in $ctrl.filesConfiguration" style="margin-bottom: 5px">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <div class="btn btn-warning btn-sm"
                        type="button"
                        name="fileUpload"

                        ng-disabled="$ctrl.disabled"
                        ng-required="config.required == 1 ? true : false"
                        ng-model="config.file"

                        ngf-select="$ctrl.uploadFiles($files, config)"
                        ngf-multiple="config.multiple == 1 ? true : false">
                        <i class="fa fa-upload"></i>
                        <span translate="upload" class="text-capitalize"></span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <label class="control-label text-capitalize">
                        <strong>{{config.name}}</strong>
                        <i class="required" ng-if="config.required == 1 ? true : false">*</i>
                    </label>
                </div>
            </div>

            <hr ng-if="config.errors">

            <div class="row text-danger" ng-repeat="(fileName, errors) in config.errors">
                <div class="col-sm-6">
                    <i class="fa fa-file-o"></i>
                    <strong>{{fileName}}</strong>
                </div>
                <div class="col-sm-6">
                    <p ng-repeat="error in errors">
                        <i class="fa fa-exclamation-circle"></i>
                        &nbsp;
                        {{error}}
                    </p>
                </div>
            </div>

            <hr ng-if="config.percentages">

            <div class="row" ng-repeat="(fileName, percentage) in config.percentages" ng-if="percentage != 100">
                <div class="col-sm-6">
                    <strong>{{fileName}}</strong>
                </div>
                <div class="col-sm-6">
                    <div class="progress progress-striped active">
                        <div class="progress-bar" ng-style="{ 'width' : percentage + '%'}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="alert alert-warning" ng-if="$ctrl.hasFilesMissing()">
        <i class="fa fa-warning"></i>
        <span translate="files_missing"></span>
    </div>

    <fieldset ng-if="$ctrl.filesUploaded.length > 0">
        <legend>
            <span translate="files" class="text-capitalize"></span>
        </legend>

        <table class="table table-striped table-bordered table-hover list-files">
            <thead>
                <tr>
                    <th><span translate="reference"></span></th>
                    <th><span translate="name"></span></th>
                    <th><span translate="user-last-changed"></span></th>
                    <th><span translate="updated_at"></span></th>
                    <th class="column-action">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="savedFile in $ctrl.filesUploaded">
                    <td>{{savedFile.configuration.name}}</td>
                    <td>{{savedFile.name}}</td>
                    <td>{{savedFile.updated_by.username}}</td>
                    <td>{{savedFile.updated_at|date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span translate="actions"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;" ng-if="!$ctrl.disabled"  class="text-capitalize text-danger" ng-click="$ctrl.removeUploadedFile(savedFile)">
                                        <i class="fa fa-trash-o"></i>
                                        <span translate="delete"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{$ctrl.pathDownload(savedFile)}}" target="_blank" class="text-capitalize text-info">
                                        <i class="fa fa-download"></i>
                                        <span translate="download"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</ng-form>
