<div class="row inline-search-person">
    <div class="col-sm-12">
        <div class="alert alert-dismissible alert-warning" ng-if="$ctrl.personNotFound">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>
                <i class="fa fa-warning"></i>
                <span translate="person_not_found"></span>
            </p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label text-capitalize">
                <span translate="filter"></span>:
                <select class="form-control" name="filter" ng-model="$ctrl.search.filter" ng-change="$ctrl.searchPerson()" ng-options="item.id as item.name for item in $ctrl.filters">
                </select>
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label text-capitalize">
                <span translate="term"></span>:
            </label>
            <input type="text" maxlength="200" name="term" ng-model="$ctrl.search.term" ng-change="$ctrl.searchPerson()" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label"><span translate="employee"></span><i class="required" ng-if="$ctrl.personRequired">*</i></label>
            <div class="input-group">
                <input type="text" disabled value="{{ $ctrl.person.personDisplay }}" class="form-control">
                <input type="hidden" ng-model="$ctrl.person" name="person">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-disabled="$ctrl.hideSearchButton" ng-click="$ctrl.personModal()" title="{{ ::'choose' | translate }}">
                        <i class="fa fa-list"></i>
                    </button>
                    <a ng-if="$ctrl.person.id" target="_blank" class="btn btn-info" title="{{ ::'view' | translate }}" ui-sref="app.person-form({id: $ctrl.person.id})">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-inline-search-person">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" translate="select_person"></h4>
      </div>
      <div class="modal-body">
        <person-list rows="$ctrl.peopleList" actions="$ctrl.actionsPeopleList"></person-list>
      </div>
    </div>
  </div>
</div>