<ng-form name="naturalityForm">
    <div class="row naturality-container">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="naturality" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="se_em_tl"></span>
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="naturalityInTL" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.naturalityInTL" ng-value="1"> <span translate="yes"></span>
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="naturalityInTL" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.naturalityInTL" ng-value="0"> <span translate="no"></span>
                                </label>
                            </div>  
                        </div>
                    </div>

                    <fieldset ng-if="$ctrl.model.naturalityInTL == 1">
                        <legend>
                            <span class="text-capitalize" translate="se_em_tl"></span>
                        </legend>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="municipio"></span>
                                </label>
                                    <ui-select reset-search-input="true" ng-disabled="$ctrl.disableTL || $ctrl.disabled" ng-model="$ctrl.model.municipio" ng-change="$ctrl.changeMunicipio($ctrl.model.municipio.id)" close-on-select="true" theme="bootstrap">
                                        <ui-select-match allow-clear>{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.municipios | selectPropsFilter: {displayName: $select.search}">
                                            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="posto_administrativo"></span>
                                </label>
                                    <ui-select ng-model="$ctrl.model.postoAdministrativo" ng-disabled="$ctrl.disableTL || $ctrl.disabled" ng-change="$ctrl.changePostoAdministrativo($ctrl.model.postoAdministrativo.id)" close-on-select="true"  theme="bootstrap">
                                        <ui-select-match allow-clear>{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.postosAdministrativos | selectPropsFilter: {displayName: $select.search}">
                                            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="suku"></span>
                                </label>
                                    <ui-select ng-model="$ctrl.model.suku" ng-disabled="$ctrl.disableTL || $ctrl.disabled" ng-change="$ctrl.changeSuku($ctrl.model.suku.id)" theme="bootstrap" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.sukus | selectPropsFilter: {displayName: $select.search}">
                                            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="village"></span>
                                </label>
                                    <ui-select ng-model="$ctrl.model.village" ng-disabled="$ctrl.disableTL || $ctrl.disabled" theme="bootstrap" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.villages | selectPropsFilter: {displayName: $select.search}">
                                            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset ng-if="$ctrl.model.naturalityInTL == 0">
                        <legend>
                            <span class="text-capitalize" translate="se_no_estrangeiro"></span>
                        </legend>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="city_abroad"></span>
                                    </label>
                                    <input type="text" ng-disabled="$ctrl.disableCountries || $ctrl.disabled" ng-change="$ctrl.changeCountry()" class="form-control" maxlength="200" ng-model="$ctrl.model.cityAbroad">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="country"></span>
                                    </label>
                                    <ui-select ng-disabled="$ctrl.disableCountries || $ctrl.disabled" ng-change="$ctrl.changeCountry()" ng-model="$ctrl.model.country" theme="bootstrap" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.countries | selectPropsFilter: {name: $select.search}">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</ng-form>
