<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">MENU</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand inss-small" ui-sref="app.home"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav text-capitalize">

                <!-- SETTINGS -->
                <li class="dropdown" hide-no-children=".menu-item" ng-if="$ctrl.profile.isStaff()">
                    <a href="javascript:;" class="dropdown-toggle text-capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cogs"></i>
                        <span translate="settings"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="menu-item" acl="user"><a href="javascript:;" ui-sref="app.user-list"><span translate="user"></span></a></li>

                        <!-- GENERAL SETTINGS -->
                        <li class="menu-item dropdown dropdown-submenu">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span translate="general_setting"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu-item" acl="setting"><a href="javascript:;" ui-sref="app.setting"><span translate="system_setting"></span></a></li>

                                <!-- LOCATION -->
                                <li class="menu-item dropdown dropdown-submenu">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                        <span translate="location"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="menu-item" acl="country"><a href="javascript:;" ui-sref="app.country-list"><span translate="country"></span></a></li>
                                        <li class="menu-item" acl="municipio"><a href="javascript:;" ui-sref="app.municipio-list"><span translate="municipio"></span></a></li>
                                        <li class="menu-item" acl="posto-administrativo"><a href="javascript:;" ui-sref="app.posto-administrativo-list"><span translate="posto_administrativo"></span></a></li>
                                        <li class="menu-item" acl="suku"><a href="javascript:;" ui-sref="app.suku-list"><span translate="suku"></span></a></li>
                                        <li class="menu-item" acl="village"><a href="javascript:;" ui-sref="app.village-list"><span translate="village"></span></a></li>
                                    </ul>
                                </li>

                                <!-- PROFESSIONAL SITUATION -->
                                <li class="menu-item dropdown dropdown-submenu">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                        <span translate="professional_situation"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="menu-item" acl="labour-law"><a href="javascript:;" ui-sref="app.labour-law-list"><span translate="labour_law"></span></a></li>
                                        <li class="menu-item" acl="contract-type"><a href="javascript:;" ui-sref="app.contract-type-list"><span translate="contract_type"></span></a></li>
                                        <li class="menu-item" acl="contract-status"><a href="javascript:;" ui-sref="app.contract-status-list"><span translate="contract_status"></span></a></li>
                                        <li class="menu-item" acl="regime"><a href="javascript:;" ui-sref="app.regime-list"><span translate="regime"></span></a></li>
                                        <li class="menu-item" acl="wear"><a href="javascript:;" ui-sref="app.wear-list"><span translate="wear"></span></a></li>
                                        <li class="menu-item" acl="occupation"><a href="javascript:;" ui-sref="app.occupation-list"><span translate="occupation"></span></a></li>
                                        <li class="menu-item" acl="post"><a href="javascript:;" ui-sref="app.post-list"><span translate="post"></span></a></li>
                                    </ul>
                                </li>

                                <!-- COMPANY -->
                                <li class="menu-item dropdown dropdown-submenu">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                        <span translate="employer_entity"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="menu-item" acl="sector"><a href="javascript:;" ui-sref="app.sector-list"><span translate="sector"></span></a></li>
                                        <li class="menu-item" acl="activity-sector"><a href="javascript:;" ui-sref="app.activity-sector-list"><span translate="activity"></span></a></li>
                                    </ul>
                                </li>

                                <!-- PERSON -->
                                <li class="menu-item dropdown dropdown-submenu">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                        <span translate="person"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="menu-item" acl="marital-status"><a href="javascript:;" ui-sref="app.marital-status-list"><span translate="marital-status"></span></a></li>
                                        <li class="menu-item" acl="kinship"><a href="javascript:;" ui-sref="app.kinship-list"><span translate="kinship"></span></a></li>
                                        <li class="menu-item" acl="disability"><a href="javascript:;" ui-sref="app.disability-list"><span translate="disability"></span></a></li>
                                        <li class="menu-item" acl="school-year"><a href="javascript:;" ui-sref="app.school-year-list"><span translate="school_year"></span></a></li>
                                    </ul>
                                </li>

                                <!-- BANK -->
                                <li class="menu-item" acl="bank"><a href="javascript:;" ui-sref="app.bank-list"><span translate="bank"></span></a></li>
                            </ul>
                        </li>

                        <!-- CONTRIBUTION SETTINGS -->
                        <li class="menu-item dropdown dropdown-submenu">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span translate="contribution_setting"></span>
                            </a>
                            <ul class="dropdown-menu">
                                
                                <!-- AO -->
                                <li class="menu-item dropdown dropdown-submenu">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                        <span translate="compulsory_accession"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="menu-item" acl="supplement"><a href="javascript:;" ui-sref="app.supplement-list"><span translate="supplement_subsidie"></span></a></li>
                                        <li class="menu-item" acl="incidence-base"><a href="javascript:;" ui-sref="app.incidence-base"><span translate="incidence_base"></span></a></li>
                                        <li class="menu-item" acl="equivalence-compensation"><a href="javascript:;" ui-sref="app.equivalence-compensation"><span translate="equivalence_compensation"></span></a></li>
                                        <li class="menu-item" acl="tax-reduction"><a href="javascript:;" ui-sref="app.tax-reduction-list"><span translate="tax_reduction"></span></a></li>
                                        <li class="menu-item" acl="license"><a href="javascript:;" ui-sref="app.license-list"><span translate="license"></span></a></li>
                                        <li class="menu-item" acl="convention"><a href="javascript:;" ui-sref="app.convention-list"><span translate="convention"></span></a></li>
                                    </ul>
                                </li>

                                <!-- AF -->
                                <li class="menu-item dropdown dropdown-submenu">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                        <span translate="optional_accession"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="menu-item" acl="optional-contribution-group"><a href="javascript:;" ui-sref="app.optional-contribution-group-list"><span translate="optional_contribution_group"></span></a></li>
                                        <li class="menu-item" acl="optional-step"><a href="javascript:;" ui-sref="app.optional-step-list"><span translate="optional_step"></span></a></li>
                                    </ul>
                                </li>

                                <!-- ADDITIONAL CARREER -->
                                <li class="menu-item" acl="additional-career"><a href="javascript:;" ui-sref="app.additional-career-list"><span translate="additional_career"></span></a></li>
                            </ul>
                        </li>

                         <!-- INSTALMENTS SETTINGS -->
                        <li class="menu-item dropdown dropdown-submenu">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span translate="instalment_settings"></span>
                            </a>
                        </li>

                        <!-- DEBTS SETTINGS -->
                        <li class="menu-item" acl="fine"><a href="javascript:;" ui-sref="app.fine-list"><span translate="fine"></span></a></li>

                        <!-- CALENDAR SETTINGS -->
                        <li class="menu-item" acl="calendar"><a href="javascript:;" ui-sref="app.calendar-form"><span translate="calendar"></span></a></li>
                        
                         <!-- FILES SETTINGS -->
                        <li class="menu-item dropdown dropdown-submenu">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span translate="file_settings"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu-item" acl="file-configuration"><a href="javascript:;" ui-sref="app.file-configuration-list"><span translate="file_configuration"></span></a></li>
                                <li class="menu-item" acl="document"><a href="javascript:;" ui-sref="app.document-list"><span translate="document"></span></a></li>
                            </ul>
                        </li>
                    
                        <li class="menu-item" acl="email-queue"><a href="javascript:;" ui-sref="app.email-queue-list"><span translate="email_queue"></span></a></li>
                        
                    </ul>
                </li>

                <!-- REGISTER -->
                <li class="dropdown" hide-no-children=".menu-item" ng-if="$ctrl.profile.isStaff()">
                    <a href="javascript:;" class="dropdown-toggle text-capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-book"></i>
                        <span translate="registers"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="menu-item" acl="person">
                            <a href="javascript:;" ui-sref="app.person-list"><span translate="person"></span></a>
                        </li>
                        <li class="menu-item" acl="employer">
                            <a href="javascript:;" ui-sref="app.employer-list"><span translate="employer"></span></a>
                        </li>
                    </ul>
                </li>

                <!-- COMPULSORY SUBSCRIPTION -->

                <li class="dropdown" hide-no-children=".menu-item">
                    <a href="javascript:;" class="dropdown-toggle text-capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-address-card"></i>
                        <span translate="compulsory_subscription"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        
                        <!-- CREATE COMPULSORY SUBSCRIPTION -->

                        <li class="menu-item dropdown dropdown-submenu" hide-no-children="li">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span translate="subscription"></span>
                            </a>
                            <ul class="dropdown-menu">
                                
                                <!-- COMPANY -->

                                <li class="menu-item" acl="employer-subscription" hide-no-children="a">
                                    <a href="javascript:;" ng-if="$ctrl.profile.isStaff()" ui-sref="app.company-list-subscription">
                                        <span translate="employer_entity"></span>
                                    </a>

                                    <a href="javascript:;" ng-if="$ctrl.profile.isEmployer()" ui-sref="app.company-form({id: $ctrl.profile.employer.internalCode, updateSubscription: 0})">
                                        <span translate="employer_entity"></span>
                                    </a>
                                </li>

                                <!-- WORKER -->
    
                                <li class="menu-item" acl="compulsory-subscription" hide-no-children="a">
                                    <a href="javascript:;" ng-if="$ctrl.profile.isStaff()" ui-sref="app.worker-list-subscription">
                                        <span translate="employee"></span>
                                    </a>

                                    <a href="javascript:;" ng-if="$ctrl.profile.isEmployer()" ui-sref="app.employer-worker-form({employer: $ctrl.profile.employer.internalCode})">
                                        <span translate="employee"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- CHANGE COMPULSORY SUBSCRIPTION -->

                        <li class="menu-item dropdown dropdown-submenu" ng-if="!$ctrl.profile.employer || $ctrl.profile.isEmployer()" hide-no-children=".menu-item">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span translate="subscription_change"></span>
                            </a>
                            <ul class="dropdown-menu">
                                
                                <!-- COMPANY -->

                                <li class="menu-item" acl="employer-subscription" acl-action="edit" hide-no-children="a">
                                    <a href="javascript:;" ng-if="$ctrl.profile.isStaff()" ui-sref="app.company-list-update">
                                        <span translate="employer_entity"></span>
                                    </a>

                                    <a href="javascript:;" ng-if="$ctrl.profile.isEmployer()" ui-sref="app.company-list-changes({id: $ctrl.profile.employer.internalCode})">
                                        <span translate="employer_entity"></span>
                                    </a>
                                </li>

                                <!-- WORKER -->

                                <li class="menu-item" acl="compulsory-subscription" acl-action="edit" ng-if="$ctrl.profile.isPerson() && $ctrl.profile.compulsorySubscription">
                                    <a href="javascript:;" ui-sref="app.worker-list-update">
                                        <span translate="employee"></span>
                                    </a>
                                </li>

                                <li class="menu-item" acl="compulsory-subscription" acl-action="edit" ng-if="!$ctrl.profile.isPerson()">
                                    <a href="javascript:;" ui-sref="app.worker-list-update">
                                        <span translate="employee"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- SUSPEND COMPULSORY SUBSCRIPTION -->

                        <li class="menu-item dropdown dropdown-submenu" hide-no-children=".menu-item">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span translate="subscription_suspension"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <!-- COMPANY -->
                                <li class="menu-item" acl="employer-subscription" acl-action="edit" hide-no-children="a">
                                    <a href="javascript:;" ng-if="$ctrl.profile.isStaff()" ui-sref="app.company-list-suspend">
                                        <span translate="employer_entity"></span>
                                    </a>

                                    <a href="javascript:;" ng-if="$ctrl.profile.isEmployer()" ui-sref="app.company-suspension({id: $ctrl.profile.employer.internalCode})">
                                        <span translate="employer_entity"></span>
                                    </a>
                                </li>
                                
                                <!-- WORKER -->
                                <li class="menu-item" acl="compulsory-subscription" acl-action="edit" ng-if="!$ctrl.profile.isPerson() || $ctrl.profile.compulsorySubscription">
                                    <a href="javascript:;" ui-sref="app.worker-list-suspend">
                                        <span translate="employee"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <!-- REMUNERATION STATEMENT -->
                        <li class="menu-item" acl="remuneration-statement" hide-no-children="a" ng-if="$ctrl.profile.isStaff() || $ctrl.profile.employer.isApproved()">

                            <a href="javascript:;" ui-sref="app.remuneration-statement-list">
                                <span translate="remuneration_statement"></span>
                            </a>
                        </li>
                        
                        <!-- PAYMENTS -->
                        <li class="menu-item" ng-if="!$ctrl.profile.isPerson()">
                            <a ui-sref="app.payment-form">
                                <span translate="payments"></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- OPTIONAL SUBSCRIPTION -->
                <li class="dropdown" hide-no-children=".menu-item">
                    <a href="javascript:;" class="dropdown-toggle text-capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-address-card-o"></i>
                        <span translate="optional_subscription"></span>
                        <span class="caret"></span>
                    </a>

                    <!-- PERSON -->
                    <ul class="dropdown-menu" ng-if="$ctrl.profile.isPerson()">
                        <li class="menu-item" acl="optional-accession-subscription" ng-if="!$ctrl.profile.compulsorySubscription || $ctrl.profile.compulsorySubscription.isCeased()">
                            <a href="javascript:;" ui-sref="app.optional-subscription-form({id: $ctrl.profile.person.internalCode, updateSubscription: 0, version: ''})">
                                <span translate="subscription"></span>
                            </a>
                        </li>

                        <li class="menu-item" acl="optional-accession-subscription" ng-if="$ctrl.profile.compulsorySubscription && !$ctrl.profile.compulsorySubscription.isCeased()">
                            <a href="javascript:;" ui-sref="app.optional-subscription-compulsory">
                                <span translate="subscription"></span>
                            </a>
                        </li>

                        <li class="menu-item" acl="optional-accession-subscription" ng-if="$ctrl.profile.optionalSubscription">
                            <a href="javascript:;" ui-sref="app.optional-subscription-list-changes">
                                <span translate="subscription_change"></span>
                            </a>
                        </li>

                        <li class="menu-item" acl="optional-accession-subscription" acl-action="edit" ng-if="$ctrl.profile.optionalSubscription">
                            <a href="javascript:;" ui-sref="app.optional-subscription-suspension">
                                <span translate="subscription_suspension"></span>
                            </a>
                        </li>
                    </ul>

                    <!-- STAFF -->
                    <ul class="dropdown-menu" ng-if="$ctrl.profile.isStaff()">
                        <li class="menu-item" acl="optional-accession-subscription">
                            <a href="javascript:;" ui-sref="app.optional-subscription-list({updateSubscription: 0, suspend: 0})">
                                <span translate="subscription"></span>
                            </a>
                        </li>

                        <li class="menu-item" acl="optional-accession-subscription">
                            <a href="javascript:;" ui-sref="app.optional-subscription-list({updateSubscription: 1, suspend: 0})">
                                <span translate="subscription_change"></span>
                            </a>
                        </li>

                        <li class="menu-item" acl="optional-accession-subscription">
                            <a href="javascript:;" ui-sref="app.optional-subscription-list({updateSubscription: 0, suspend: 1})">
                                <span translate="subscription_suspension"></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a ui-sref="app.contribution-overview">
                        <i class="fa fa-money"></i>
                        <span translate="contribution_overview"></span>
                    </a>
                </li>

                <li class="menu-item">
                    <a ui-sref="app.document-view">
                        <i class="fa fa-file"></i>
                        <span translate="document_inss"></span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown text-capitalize">
                    <a href="javascript:;" class="dropdown-toggle text-capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img ng-src="imgs/flags/{{ ::$ctrl.langSelected }}.png"/>
                        {{ ::$ctrl.langSelected| translate }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="text-capitalize">
                            <a href="javascript:;" ng-click="$ctrl.changeLanguage('en');">
                                <img src="imgs/flags/en.png"/>
                                <span translate="en"></span>
                            </a>
                        </li>
                        <li class="text-capitalize">
                            <a href="javascript:;" ng-click="$ctrl.changeLanguage('pt');">
                                <img src="imgs/flags/pt.png"/>
                                <span translate="pt"></span>
                            </a>
                        </li>
                        <li class="text-capitalize">
                            <a href="javascript:;" ng-click="$ctrl.changeLanguage('tl');">
                                <img src="imgs/flags/tl.png"/>
                                <span translate="tl"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item dropdown">
                    <a href="javascript:;"  class="dropdown-toggle text-capitalize">
                        <i class="fa fa-user"></i>
                        <b>
                            {{ $ctrl.profile.username }}
                            <span ng-if="$ctrl.profile.employer">
                                ({{ $ctrl.profile.employer.displayName }})
                            </span>

                            <span ng-if="$ctrl.profile.person">
                                ({{ $ctrl.profile.person.displayName }})
                            </span>
                        </b>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="text-capitalize">
                            <a href="javascript:;" ui-sref="app.profile">
                                <i class="fa fa-user-circle-o"></i>
                                <span translate="profile" class="text-capitalize"></span>
                            </a>
                        </li>
                        <li class="text-capitalize">
                            <a href="javascript:;" ui-sref="logout">
                                <i class="fa fa-sign-out"></i>
                                <span translate="logout"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
