<nav class="navbar" ng-if="numPages && pages.length >= 1" style="margin: 0px; padding: 0px">
    <div class="container-fluid">
        <div class="navbar-toggle collapsed" style="float:none;">
            <ul class="nav navbar-nav" style="margin: 0px; padding:0px;">
                <li>
                    <p class="navbar-text">
                        <b>{{ totalItemCount }}</b>
                        <span translate="records"></span>
                    </p>
                </li>
                <li ng-if="totalItemCount >= 1">
                    <p class="navbar-text">
                        <span translate="page"></span>&nbsp;{{ currentPage }}&nbsp;<span translate="of"></span>&nbsp;{{ numPages }}
                    </p>
                </li>
                <li ng-if="totalItemCount >= 1">
                    <span>
                        <a ng-if="currentPage > 1" href="javascript: void(0);" class="btn btn-default" ng-click="selectPage(currentPage - 1)">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        <a ng-if="currentPage <= 1" href="javascript: void(0);" class="btn btn-default disabled">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </span>
                    <span>
                        <a ng-if="currentPage < numPages" href="javascript: void(0);" class="btn btn-default" ng-click="selectPage(currentPage + 1)">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                        <a ng-if="currentPage >= numPages" href="javascript: void(0);" class="btn btn-default disabled">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <p class="navbar-text" style="font-size:16px">
                        <b>{{ totalItemCount}}</b>
                        <span translate="records"></span>
                    </p>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="totalItemCount >= 1">
                <li>
                    <p class="navbar-text">
                        <span translate="page"></span>&nbsp;{{ currentPage }}&nbsp;<span translate="of"></span>&nbsp;{{ numPages }}
                    </p>
                </li>
                <li>
                    <a href="javascript: void(0);" ng-click="selectPage(1)" class="btn btn-link" ng-class="{'disabled': currentPage <= 1}">
                        <span translate="first"></span>
                    </a>
                </li>
                <li>
                    <a ng-if="currentPage > 1" href="javascript: void(0);" class="btn btn-link" ng-click="selectPage(currentPage - 1)">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                    <a ng-if="currentPage <= 1" href="javascript: void(0);" class="btn btn-link disabled">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <page-select></page-select>
                        </div>
                    </form>
                </li>
                <li>
                    <a ng-if="currentPage < numPages" href="javascript: void(0);" class="btn btn-link" ng-click="selectPage(currentPage + 1)">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                    <a ng-if="currentPage >= numPages" href="javascript: void(0);" class="btn btn-link disabled">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
                <li>
                    <a ng-click="selectPage(numPages)" class="btn btn-link" ng-class="{'disabled': currentPage >= numPages}">
                        <span translate="last"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
