<ng-form name="personFormDialog">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
        <h4 class="modal-title">
        <span translate="add"></span>&nbsp;<span translate="person"></span>
    </h4>
    </div>
    <div class="modal-body person-form">
        <person-data person="$ctrl.person" on-update="$ctrl.setPerson(person)"></person-data>
        <address model="$ctrl.person.address" required="true" ng-if="$ctrl.person.displayAllData"></address>
        <naturality model="$ctrl.person.naturality" required="true" ng-if="$ctrl.person.displayAllData"></naturality>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$ctrl.closeModal()">
            <i class="fa fa-close"></i>
            <span translate="close"></span>
        </button>
        <button type="submit" class="btn btn-success" ng-click="$ctrl.save(personFormDialog, $ctrl.person)" ng-disabled="personFormDialog.$invalid">
            <i class="fa fa-floppy-o"></i>
            <span translate="save"></span>
        </button>
    </div>
</ng-form>