<div class="personContainer">
    <div class="row">
        <div class="col-sm-12">
            <uib-accordion>
                <div uib-accordion-group class="panel-primary" is-open="$ctrl.searchForm" style="background-color: #eee">
                    <uib-accordion-heading>
                        <span translate="search"></span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.searchForm, 'glyphicon-chevron-right': !$ctrl.searchForm}"></i>
                    </uib-accordion-heading>
                    <form name='form' ng-submit="$ctrl.reload($ctrl.model);" novalidate>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="name"></span>
                                </label>
                                    <input type="text" maxlength="200" name="name" ng-model="$ctrl.model.name" class="form-control" autofocus required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="internal_code"></span>
                                </label>
                                    <input type="text" maxlength="200" name="internalCode" ng-model="$ctrl.model.internalCode" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="dob"></span>
                                </label>
                                    <p class="input-group">
                                        <input type="text" ng-model="$ctrl.model.dob" name="dob" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.calendar.opened" close-text="{{ 'close' | translate }}" />
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    </p>
                                    <i class="help-block" ng-if="form.dob.$error.date">
                                    <span translate="date_invalid_message"></span>
                                </i>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="identity_code"></span>
                                </label>
                                    <input type="text" ng-model="$ctrl.model.identityCode" name="identityCode" maxlength="200" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                    <span translate="security_code"></span>
                                </label>
                                    <input type="text" maxlength="200" name="securityCode" ng-model="$ctrl.model.securityCode" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <fieldset>
                                    <legend>
                                        <span translate="address"></span>
                                    </legend>
                                    <address model="$ctrl.model.address" required="false"></address>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm text-capitalize">
                                    <i class="fa fa-search"></i>
                                    <span translate="search"></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-accordion>
        </div>
    </div>
    <person-list rows="$ctrl.rows" actions="$ctrl.actions"></person-list>
</div>
