<ng-form name="$ctrl.personDataForm">

    <div class="row identity-container">
        
        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.personDataForm.identityCode.$invalid && $ctrl.personDataForm.identityCode.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="identity_code"></span>
                    <i class="required" ng-if="$ctrl.isIdentityCodeRequired()">*</i>
                </label>
                
                <input type="text" ng-disabled="$ctrl.disabled" check-entity="person" on-found="$ctrl.foundPerson(entity, 'identityCode')" on-accepted="$ctrl.setPerson(entity)" on-declined="$ctrl.cleanPerson('identityCode')" on-not-found="$ctrl.onNotFound()" ng-model="$ctrl.person.identityCode" name="identityCode" maxlength="50" class="form-control" ng-required="$ctrl.isIdentityCodeRequired()">
                
                <i class="help-block" ng-if="$ctrl.personDataForm.identityCode.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        
        <div class="col-sm-2">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.personDataForm.electoralCard.$invalid && $ctrl.personDataForm.electoralCard.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="electoral_card"></span>
                    <i class="required" ng-if="$ctrl.isElectoralRequired()">*</i>
                </label>
                
                <input type="text" ng-disabled="$ctrl.disabled" ng-model="$ctrl.person.electoralCard" on-found="$ctrl.foundPerson(entity, 'electoralCard')" ng-model="$ctrl.person.electoralCard" check-entity="person" on-accepted="$ctrl.setPerson(entity)" on-declined="$ctrl.cleanPerson('electoralCard')" on-not-found="$ctrl.onNotFound()" name="electoralCard" maxlength="50" class="form-control" ng-required="$ctrl.isElectoralRequired()">

                <i class="help-block" ng-if="$ctrl.personDataForm.electoralCard.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.personDataForm.birthCertificate.$invalid && $ctrl.personDataForm.birthCertificate.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="birth_certificate"></span>
                    <i class="required" ng-if="$ctrl.isBirthCertificateRequired()">*</i>
                </label>
                
                <input type="text" ng-disabled="$ctrl.disabled" on-found="$ctrl.foundPerson(entity, 'birthCertificate')" ng-model="$ctrl.person.birthCertificate" check-entity="person" on-accepted="$ctrl.setPerson(entity)" on-declined="$ctrl.cleanPerson('birthCertificate')" on-not-found="$ctrl.onNotFound()" name="birthCertificate" maxlength="50" class="form-control" ng-required="$ctrl.isBirthCertificateRequired()">
                
                <i class="help-block" ng-if="$ctrl.personDataForm.birthCertificate.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        
        <div class="col-sm-2">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.personDataForm.taxNumber.$invalid && $ctrl.personDataForm.taxNumber.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="tax_number"></span>
                </label>
                
                <input type="text" ng-disabled="$ctrl.disabled" on-found="$ctrl.foundPerson(entity, 'taxNumber')" ng-model="$ctrl.person.taxNumber" check-entity="person" on-accepted="$ctrl.setPerson(entity)" on-declined="$ctrl.cleanPerson('taxNumber')" on-not-found="$ctrl.onNotFound()" name="taxNumber" maxlength="50" class="form-control" ng-required="$ctrl.isTaxNumberRequired()">

                <i class="help-block" ng-if="$ctrl.personDataForm.taxNumber.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        
        <div class="col-sm-2">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.personDataForm.numRef.$invalid && $ctrl.personDataForm.numRef.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="num_ref"></span>
                </label>
                
                <input type="text" ng-disabled="$ctrl.disabled" on-found="$ctrl.foundPerson(entity, 'numRef')" ng-model="$ctrl.person.numRef" check-entity="person" on-accepted="$ctrl.setPerson(entity)" on-declined="$ctrl.cleanPerson('numRef')" on-not-found="$ctrl.onNotFound()" name="numRef" maxlength="50" class="form-control" ng-required="$ctrl.isNumRefRequired()">

                <i class="help-block" ng-if="$ctrl.personDataForm.numRef.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>

    </div>

    <div class="row" ng-if="$ctrl.displayAllData()">
        <div class="col-sm-5">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.personDataForm.name.$invalid && $ctrl.personDataForm.name.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="name"></span><i class="required">*</i>
                </label>
                <input type="text" ng-disabled="$ctrl.disabled" maxlength="200" name="name" ng-model="$ctrl.person.name" class="form-control" required>
                <i class="help-block" ng-if="$ctrl.personDataForm.name.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.personDataForm.gender.$invalid && $ctrl.personDataForm.gender.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="gender"></span><i class="required">*</i>
                </label>
                <select class="form-control" ng-disabled="$ctrl.disabled" name="gender" ng-model="$ctrl.person.gender" ng-options="item.id as item.name for item in $ctrl.genders" required>
                    <option value=""></option>
                </select>
                <i class="help-block" ng-if="$ctrl.personDataForm.gender.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.personDataForm.dob.$invalid && $ctrl.personDataForm.dob.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="dob"></span><i class="required">*</i>
                </label>
                <p class="input-group">
                    <input type="text" ng-disabled="$ctrl.disabled" max-date="$ctrl.calendarOptions.maxDate" ng-change="$ctrl.calcAge()" ng-model="$ctrl.person.dob" name="dob" datepicker-options="$ctrl.calendarOptions" placement="bottom-right" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.calendar.dob" close-text="{{ 'close' | translate }}" ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-disabled="$ctrl.disabled" ng-click="$ctrl.openCalendar('dob')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <i class="help-block" ng-if="$ctrl.personDataForm.dob.$error.required"><span translate="required_message"></span></i>
                <i class="help-block" ng-if="$ctrl.personDataForm.dob.$error.date"><span translate="date_invalid_message"></span></i>
                <i class="help-block" ng-if="$ctrl.personDataForm.dob.$error.maxDate"><span translate="not_later_today"></span></i>
            </div>
        </div>
        <div class="col-sm-2">
            <label class="control-label"><span translate="age"></span></label>
            <input type="text" class="form-control" tabindex="-1" disabled ng-model="$ctrl.person.age">
        </div>
    </div>

    <div class="row" ng-if="$ctrl.person.displayAllData">
        <div class="col-sm-12">
            <div class="form-group" ng-class="{ 'has-error': $ctrl.personDataForm.nationality.$invalid && $ctrl.personDataForm.nationality.$dirty }">
                <label class="control-label text-capitalize"><span translate="nationality"></span><i class="required">*</i></label>
                <ui-select multiple ng-disabled="$ctrl.disabled" ng-model="$ctrl.person.nationalities" ng-required="true" name="nationality" theme="bootstrap" close-on-select="true">
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.nationalities | selectPropsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <i class="help-block" ng-if="$ctrl.personDataForm.nationality.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
    </div>

</ng-form>
