<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <person-name person="$ctrl.person"></person-name>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label text-capitalize">
                <span translate="dob"></span>:
            </label>
            {{$ctrl.person.dob|date:'dd/MM/yyyy'}}
        </div>
    </div>
</div>
<div class="row identity-container">
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label text-capitalize"><span translate="identity_code"></span>:</label>
            <p>{{$ctrl.person.identityCode}}</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label text-capitalize"><span translate="birth_certificate"></span>:</label>
            <p>{{$ctrl.person.birthCertificate}}</p>
        </div>
    </div>   
   <!--  <div class="col-sm-3">
       <div class="form-group">
           <label class="control-label text-capitalize"><span translate="electoral_card"></span>:</label>
           <p>{{$ctrl.person.electoralCard}}</p>
       </div>
   </div> -->
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label text-capitalize"><span translate="tax_number"></span>:</label>
            <p>{{$ctrl.person.taxNumber}}</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label text-capitalize"><span translate="niss"></span>:</label>
            <p>{{$ctrl.person.securityCode}}</p>
        </div>
    </div>
</div>
<div class="row" ng-if="$ctrl.person.nationality">
    <div class="col-sm-12">
       <div class="form-group">
            <label class="control-label text-capitalize"><span translate="nationality"></span>:</label>
            <p><span class="label label-default" ng-repeat="nationality in $ctrl.person.nationalities">{{nationality.name}}</span></p>
        </div>
    </div>
</div>

<address-display address="$ctrl.person.address" ng-if="$ctrl.displayAddress && $ctrl.person.address"></address-display>