<ng-form name="publicWorkerForm">
     <div class="row">
        <div class="col-sm-8">
            <div class="form-group" ng-class="{ 'has-error': publicWorkerForm.identityNumber.$invalid && publicWorkerForm.identityNumber.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="public_identity_number"></span>
                </label>
                <input type="text" ng-model="$ctrl.model.identityNumber" ng-disabled="$ctrl.disabled" name="identityNumber" maxlength="200" class="form-control">
                <i class="help-block" ng-if="publicWorkerForm.identityNumber.$error.required"><span translate="required_message"></span></i>
            </div>  
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': publicWorkerForm.workTime.$invalid && publicWorkerForm.workTime.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="public_work_time"></span>
                </label>
                <input type="number" class="form-control" ng-disabled="$ctrl.disabled" name="workTime" maxlength="10" ng-model="$ctrl.model.workTime">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group" ng-class="{ 'has-error': publicWorkerForm.hasSubsidie.$invalid && publicWorkerForm.hasSubsidie.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="public_has_subsidie"></span>
                </label>
                <label class="radio-inline">
                  <input type="radio" name="publicHasSubsidie" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.hasSubsidie" ng-value="1"> <span translate="yes"></span>
                </label>
                <label class="radio-inline">
                  <input type="radio" name="publicHasSubsidie" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.hasSubsidie" ng-value="0"> <span translate="no"></span>
                </label>
            </div>  
        </div>
    </div>

    <div class="row" ng-if="$ctrl.model.hasSubsidie == 1">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': publicWorkerForm.subsidieType.$invalid && publicWorkerForm.subsidieType.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="public_subsidie_type"></span><i class="required">*</i>
                </label>
                <input type="text" ng-model="$ctrl.model.subsidieType" ng-disabled="$ctrl.disabled" name="subsidieType" maxlength="200" class="form-control" ng-required="true">
                <i class="help-block" ng-if="publicWorkerForm.subsidieType.$error.required"><span translate="required_message"></span></i>
            </div>  
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': publicWorkerForm.monthlyCost.$invalid && publicWorkerForm.monthlyCost.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="public_subsidie_cost"></span><i class="required">*</i>
                </label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input ui-number-mask="2" ui-hide-group-sep name="monthlyCost" ng-disabled="$ctrl.disabled" ng-model="$ctrl.model.monthlyCost" class="form-control" ng-required="true">
                </div>
                <i class="help-block" ng-if="publicWorkerForm.monthlyCost.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
         <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': publicWorkerForm.sinceWhen.$invalid && publicWorkerForm.sinceWhen.$dirty }">
                <label class="control-label text-capitalize">
                    <span translate="public_since_when"></span><i class="required">*</i>
                </label>
                <div class="input-group">
                    <input type="text" ng-model="$ctrl.model.sinceWhen" ng-disabled="$ctrl.disabled" datepicker-options="$ctrl.dateOptions" name="sinceWhen" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="$ctrl.model.calendarSinceWhen" close-text="{{ 'close' | translate }}" ng-required="true"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-disabled="$ctrl.disabled" ng-click="$ctrl.model.calendarSinceWhen = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
                <i class="help-block" ng-if="publicWorkerForm.sinceWhen.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
    </div>
</ng-form>