<form name="formRelative" novalidate>

    <div class="row well btn-relative">
        <div class="col-sm-12 text-center">
            <!-- <button acl="relative" ng-disabled="$ctrl.disabled" type="button" ng-click="$ctrl.searchExisting()" class="btn btn-primary text-capitalize">
                <i class="fa fa-search-plus"></i>
                <span translate="search_existing"></span>
            </button> -->
            <button acl="relative" ng-disabled="$ctrl.disabled" type="button" ng-click="$ctrl.registerNew()" class="btn btn-success text-capitalize">
                <i class="fa fa-plus-circle"></i>
                <span translate="register_new"></span>
            </button>
        </div>
    </div>

    <div class="alert alert-warning btn-relative" ng-if="$ctrl.relatives.length < 1">
        <i class="fa fa-warning"></i>
        <span translate="no_data"></span>
    </div>

    <div class="row" ng-if="$ctrl.relatives.length > 0">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-hover table-relatives">
                <thead>
                    <tr>
                        <th class="column-status">
                            <span translate="niss"></span>
                        </th>
                        <th>
                            <span translate="name"></span>
                        </th>
                        <th class="column-status">
                            <span translate="dob"></span>
                        </th>
                        <th>
                            <span translate="kinship"></span>
                        </th>
                        <th>
                            <span translate="school_year"></span>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in $ctrl.relatives track by $id(r)" class="relative-item" ng-form="relativesForm">
                        <td>
                            <span class="label label-info" ng-if="r.display.securityCode">{{ r.display.securityCode }}</span>
                            <span class="label label-default text-capitalize" ng-if="!r.display.securityCode" translate="not_applicable"></span>
                        </td>
                        <td>
                            {{ r.display.name }}
                        </td>
                        <td>
                            {{ r.display.dob  | date:"dd/MM/yyyy" }}
                        </td>
                        <td>
                            <span ng-if="!r.reverse || !r.kinship.inverse">{{ r.kinship.name }}</span>
                            <span ng-if="r.reverse && r.kinship.inverse">{{ r.kinship.inverse.name }}</span>
                        </td>
                        <td>
                            <span ng-if="!r.reverse">{{ r.schoolYear.name }}</span>
                        </td>
                        <td class="text-center">
                            <button type="button" ng-disabled="$ctrl.disabled" class="btn btn-success btn-sm" title="{{ ::'edit_relative' | translate }}" ng-click="$ctrl.editRelative(r)">
                                <i class="fa fa-pencil"></i></i>&nbsp;<i class="fa fa-user"></i>
                            </button>
                            <button type="button" ng-disabled="$ctrl.disabled" class="btn btn-danger btn-sm" title="{{ ::'remove_relative' | translate }}" ng-click="$ctrl.removeRelative(r)">
                                <i class="fa fa-trash"></i>&nbsp;<i class="fa fa-user"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>