<form name="formRelative" class="form-relative" novalidate server-validate ng-submit="$ctrl.save(formRelative)">

    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
            <h4 class="modal-title">
            <span translate="relative"></span>
        </h4>
    </div>
    <div class="modal-body">
        
        <div class="row" ng-if="$ctrl.relative.relative.id">
            <div class="col-sm-12">
                <person-display person="$ctrl.relative.relative"></person-display>
            </div>
        </div>

        <div class="row" ng-if="!$ctrl.relative.relative.id">
            <div class="col-sm-12">
                <person-data person="$ctrl.relative.relative" allow-another-person="true" on-update="$ctrl.setPerson(person)"></person-data>
                <address model="$ctrl.relative.relative.address" required="true" ng-if="$ctrl.relative.relative.displayAllData"></address>
            </div>
        </div>

        <div class="row" ng-if="$ctrl.relative.relative">
            <div class="col-sm-3">
                <div class="form-group" ng-class="{ 'has-error': formRelative.kinship.$invalid && formRelative.kinship.$dirty }">
                    <label class="control-label text-capitalize"><span translate="kinship"></span><i class="required">*</i></label>
                    <ui-select reset-search-input="true" ng-model="$ctrl.relative.kinship" name="kinship" ng-required="true" close-on-select="true" theme="bootstrap">
                        <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.kinships | selectPropsFilter: {name: $select.search}">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <i class="help-block" ng-if="formRelative.kinship.$error.required"><span translate="required_message"></span></i>
                </div>
            </div>
            <div class="col-sm-3" ng-if="$ctrl.relative.kinship.requireDate">
                <div class="form-group" ng-class="{ 'has-error': formRelative.sinceWhen.$invalid && formRelative.sinceWhen.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="since_when"></span><i class="required">*</i>
                    </label>
                    <p class="input-group">
                        <input ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl.relative.sinceWhen" name="sinceWhen" placement="bottom-right" datepicker-options="$ctrl.calendarOptions"
                            data-mask="00/0000" class="form-control" uib-datepicker-popup="MM/yyyy" is-open="$ctrl.relative.openSinceWhen" close-text="{{ 'close' | translate }}" ng-required="true" />
                        <span class="input-group-btn">
                            <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-default" ng-click="$ctrl.relative.openSinceWhen = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <i class="help-block" ng-if="formRelative.sinceWhen.$error.required"><span translate="required_message"></span></i>
                    <i class="help-block" ng-if="formRelative.sinceWhen.$error.date"><span translate="date_invalid_message"></span></i>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="checkbox">
                        <label class="checkbox-display">
                            <input type="checkbox" ng-model="$ctrl.relative.inSchool" ng-change="$ctrl.changeInSchool()" ng-true-value="1" ng-false-value="0">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            <span class="text-capitalize" translate="in_school"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" ng-if="$ctrl.relative.inSchool">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="school_year"></span><i class="required">*</i>
                    </label>
                    <div class="form-group" ng-class="{ 'has-error': formRelative.schoolYear.$invalid && formRelative.schoolYear.$dirty }">
                        <ui-select reset-search-input="true" ng-model="$ctrl.relative.schoolYear" name="schoolYear" ng-required="$ctrl.relative.inSchool" close-on-select="true" theme="bootstrap">
                            <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in $ctrl.schoolYears track by item.id | selectPropsFilter: {name: $select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <i class="help-block" ng-if="formRelative.schoolYear.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$ctrl.closeModal()"><span translate="close"></span></button>
        <button type="submit" class="btn btn-primary"><span translate="save"></span></button>
    </div>

</form>