<div class="row">
    <div class="col-sm-12">
        <items-by-page></items-by-page>
        <table st-safe-src="$ctrl.rowCollection" st-table="$ctrl.displayCollection" class="table table-remuneration-statement table-striped table-bordered  table-hover">
            <thead>
                <tr>
                    <th st-sort="employer.displayName">
                        <span translate="company"></span>
                    </th>
                    <th st-sort="month" class="column-status">
                        <span translate="month"></span>
                    </th>
                    <th st-sort="year" class="column-status">
                        <span translate="year"></span>
                    </th>
                    <th st-sort="created_at" class="column-status">
                        <span translate="created_at"></span>
                    </th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="employer.displayName" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="month" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="year" class="form-control" type="search"/>
                    </th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $ctrl.displayCollection track by row.id">
                    <td>{{ ::row.employer.displayName }}</td>
                    <td>{{ ::row.month }}</td>
                    <td>{{ ::row.year }}</td>
                    <td>{{ ::row.created_at | date:"dd/MM/yyyy HH:mm" }}</td>
                    <td class="text-center">
                        <div class="dropdown" ng-if="$ctrl.actions.length > 1">
                              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span translate="actions"></span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li ng-repeat="a in $ctrl.actions">
                                    <a ng-click="a.callback(row)">
                                        <i ng-if="a.icon" class="fa" ng-class="a.icon"></i>
                                        <span ng-if="a.title" ng-bind-html="a.title | translate"></span>
                                    </a>
                                </li>
                              </ul>
                        </div>

                        <a ng-click="a.callback(row)" ng-if="$ctrl.actions.length < 2" class="btn btn-default btn-sm" ng-repeat="a in $ctrl.actions">
                            <i ng-if="a.icon" class="fa" ng-class="a.icon"></i>
                            <span ng-if="a.title" ng-bind-html="a.title | translate"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="5">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
