<div class="remuneration-statement-search-container">
    <div class="row">
        <div class="col-sm-12">
            <uib-accordion>
                <div uib-accordion-group class="panel-primary" is-open="$ctrl.searchForm" style="background-color: #eee">
                    <uib-accordion-heading>
                        <span translate="search"></span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.searchForm, 'glyphicon-chevron-right': !$ctrl.searchForm}"></i>
                    </uib-accordion-heading>
                    <form name='form' ng-submit="$ctrl.reload($ctrl.model)" novalidate>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <inline-search-employer employer="$ctrl.employer" callback="$ctrl.setEmployer(employer)"></inline-search-employer>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="month"></span>
                                    </label>
                                    <div class="form-group">
                                        <select class="form-control" name="month" ng-options="month as month for month in $ctrl.months" ng-model="$ctrl.params.month"></select>
                                    </div>
                                </div> 
                            </div> 
                        
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="year"></span>
                                    </label>
                                    <input type="number" class="form-control" name="year" maxlength="4" ng-model="$ctrl.params.year">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm text-capitalize">
                                    <i class="fa fa-search"></i>
                                    <span translate="search"></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-accordion>
        </div>
    </div>

    <remuneration-statement-list rows="$ctrl.rows" actions="$ctrl.actions"></remuneration-statement-list>
</div>
