<div class="row well btn-relative">
    <div class="col-sm-12 text-center">
        <!-- <button acl="relative" ng-disabled="$ctrl.disabled" type="button" ng-click="$ctrl.searchPerson()" class="btn btn-primary text-capitalize">
            <i class="fa fa-search-plus"></i>
            <span translate="search_existing"></span>
        </button> -->
        <button acl="relative" ng-disabled="$ctrl.disabled" type="button" ng-click="$ctrl.addNewStaff()" class="btn btn-success text-capitalize">
            <i class="fa fa-plus-circle"></i>
            <span translate="register_new"></span>
        </button>
    </div>
</div>

<div class="alert alert-warning" ng-if="$ctrl.employer.staff.length < 1">
    <i class="fa fa-warning"></i>
    <span translate="no_data"></span>
</div>

<ng-form name="managerForm" ng-repeat="staff in $ctrl.employer.staff">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <button type="button" ng-disabled="$ctrl.disabled" class="btn btn-danger btn-sm text-capitalize" ng-click="$ctrl.removeStaff(staff)">
                        <i class="fa fa-trash"></i>
                        <span translate="remove"></span>
                    </button>
                </small>
                <person-name person="staff.person"></person-name>
            </h4>
        </div>
        <div class="panel-body staff-item">

            <div class="alert alert-warning" ng-if="staff.person.age < 16">
                <i class="fa fa-warning"></i>
                <span translate="manager_under_16"></span>
            </div>

            <person-display person="staff.person" ng-if="staff.person.id" display-address="false"></person-display>
            
            <fieldset ng-if="staff.person.address">
                <legend><span translate="address" class="text-capitalize"></span></legend>
                <address-display address="staff.person.address"></address-display>
            </fieldset>

            <fieldset>
                <legend>
                    <span translate="function_ee" class="text-capitalize"></span>
                    <small class="pull-right">
                        <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-info btn-sm text-capitalize" ng-click="$ctrl.addStaffRole(staff)">
                            <i class="fa fa-plus-circle"></i>
                            <span translate="add"></span>
                        </button>
                    </small>
                </legend>

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="control-label"><span translate="post"></span><i class="required">*</i></th>
                            <th style="width: 20%" class="control-label"><span translate="date_start_activity"></span><i class="required">*</i></th>
                            <th style="width: 10%"><span translate="paid_role"></span></th>
                            <th class="column-action">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="role in staff.roles" ng-form="staffRoleForm">
                            <td>
                                <div class="form-group" ng-class="{ 'has-error': staffRoleForm.role.$invalid && staffRoleForm.role.$dirty }">
                                    <ui-select ng-disabled="$ctrl.disabled" ng-required="true" name="role" ng-model="role.role" theme="bootstrap" close-on-select="true">
                                        <ui-select-match>{{$select.selected.acronym}} - {{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in $ctrl.posts | selectPropsFilter: {name: $select.search, acronym:$select.search}">
                                            <div ng-bind-html="(item.acronym + ' - ' + item.name) | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <i class="help-block" ng-if="staffRoleForm.role.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{ 'has-error': staffRoleForm.since.$invalid && staffRoleForm.since.$dirty }">
                                    <p class="input-group">
                                        <input ng-disabled="$ctrl.disabled" min-date="$ctrl.employer.dateStartActivity" min-date-precision="month" type="text" ng-model="role.since" name="since" datepicker-options="{minMode: 'month'}" placement="bottom-right" data-mask="00/0000" class="form-control" uib-datepicker-popup="MM/yyyy" is-open="role.openSince" close-text="{{ 'close' | translate }}" ng-required="true" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="role.openSince = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                    <i class="help-block" ng-if="staffRoleForm.since.$error.required"><span translate="required_message"></span></i>
                                    <i class="help-block" ng-if="staffRoleForm.since.$error.date"><span translate="date_invalid_message"></span></i>
                                    <i class="help-block" ng-if="staffRoleForm.since.$error.minDate"><span translate="staff_error_min_date"></span></i>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label class="checkbox-display">
                                           <input type="checkbox" ng-model="role.paidRole" ng-true-value="1" ng-false-value="0">
                                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                           <span class="text-capitalize"><span translate="yes"></span></span>
                                       </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button ng-disabled="$ctrl.disabled" type="button" class="btn btn-danger btn-sm text-capitalize" ng-click="$ctrl.removeStaffRole(staff, role)">
                                    <i class="fa fa-trash"></i>
                                    <span translate="remove"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</ng-form>