<div class="row">
    <div class="col-sm-12 ">
        <items-by-page></items-by-page>
        <table st-safe-src="$ctrl.rowCollection" st-table="$ctrl.displayCollection" class="table table-striped table-bordered subscription-status-list table-hover">
            <thead>
                <tr>
                    <th st-sort="previousStatus">
                        <span translate="old_status"></span>
                    </th>
                    <th st-sort="statusChanged">
                        <span translate="new_status"></span>
                    </th>
                    <!-- <th st-sort="created_by.username">
                        <span translate="user-last-changed"></span>
                    </th> -->
                    <th st-sort="created_at">
                        <span translate="updated_at"></span>
                    </th>
                    <th class="column-action" ng-if="$ctrl.actions.length > 0">&nbsp;</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="previousStatus" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="statusChanged" class="form-control" type="search"/>
                    </th>
                    <!-- <th>
                        <input st-search="created_by.username" class="form-control" type="search"/>
                    </th> -->
                    <th>
                        <input st-search="created_at" class="form-control" type="search"/>
                    </th>
                    <th class="text-center" ng-if="$ctrl.actions.length > 0"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $ctrl.displayCollection track by row.id">
                    <td>{{ $ctrl.statusDesc(row.previousStatus) }}</td>
                    <td>{{ $ctrl.statusDesc(row.statusChanged) }}</td>
                    <!-- <td>{{ ::row.created_by.username }}</td> -->
                    <td>{{ ::row.created_at | date:"dd/MM/yyyy HH:mm" }}</td>
                    <td class="text-center" ng-if="$ctrl.actions.length > 0">
                        <a ng-click="a.callback(row)" style="margin-right: 3px" class="btn btn-default btn-sm" ng-repeat="a in $ctrl.actions">
                            <i ng-if="a.icon" class="fa" ng-class="a.icon"></i>
                            <span ng-if="a.title" ng-bind-html="a.title | translate"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="5">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
