<ng-form name="workContractForm">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': workContractForm.labourLaw.$invalid && workContractForm.labourLaw.$dirty }">
                <label class="control-label text-capitalize"><span translate="labour_law"></span><i class="required">*</i></label>
                <ui-select ng-disabled="$ctrl.disabled" ng-required="true" ng-model="$ctrl.contract.labourLaw" ng-change="$ctrl.changeLabourLaw($ctrl.contract.labourLaw.id)" theme="bootstrap" name="labourLaw" close-on-select="true" >
                    <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.labourLaws | selectPropsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <i class="help-block" ng-if="workContractForm.labourLaw.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': workContractForm.contractType.$invalid && workContractForm.contractType.$dirty }">
                <label class="control-label text-capitalize"><span translate="contract_type"></span><i class="required">*</i></label>
                <ui-select ng-disabled="$ctrl.disabled" ng-required="true" ng-model="$ctrl.contract.contractType" theme="bootstrap" name="contractType" close-on-select="true" >
                    <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.contractTypes | selectPropsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <i class="help-block" ng-if="workContractForm.contractType.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': workContractForm.contractStatus.$invalid && workContractForm.contractStatus.$dirty }">
                <label class="control-label text-capitalize"><span translate="contract_status"></span><i class="required">*</i></label>
                <ui-select ng-disabled="$ctrl.disabled" ng-required="true" ng-model="$ctrl.contract.contractStatus" theme="bootstrap" name="contractStatus" close-on-select="true" >
                    <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.contractStatuses | selectPropsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <i class="help-block" ng-if="workContractForm.contractStatus.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group" ng-class="{ 'has-error': workContractForm.regime.$invalid && workContractForm.regime.$dirty }">
                <label class="control-label text-capitalize"><span translate="regime"></span><i class="required">*</i></label>
                <ui-select ng-disabled="$ctrl.disabled" ng-required="true" ng-model="$ctrl.contract.regime" theme="bootstrap" name="regime" close-on-select="true" >
                    <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.regimes | selectPropsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <i class="help-block" ng-if="workContractForm.regime.$error.required"><span translate="required_message"></span></i>
            </div>
        </div>
    </div>
</ng-form>