<div class="row">
    <div class="col-sm-12 ">
        <items-by-page></items-by-page>
        <table st-safe-src="$ctrl.rowCollection" st-table="$ctrl.displayCollection" class="table table-striped table-bordered worker-list table-hover">
            <thead>
                <tr>
                    <th st-sort="person.internalCode" class="column-status">
                        <span translate="internal_code"></span>
                    </th>
                    <th st-sort="person.name">
                        <span translate="name"></span>
                    </th>
                    <th st-sort="subdsidiary.name">
                        <span translate="subsidiary"></span>
                    </th>
                    <!-- <th st-sort="person.identityCode" class="column-status">
                        <span translate="identity_code"></span>
                    </th> -->
                    <th st-sort="person.securityCode" class="column-status">
                        <span translate="niss"></span>
                    </th>
                    <th class="column-status" st-sort="version">
                        <span translate="status"></span>
                    </th>
                    <th class="column-status" st-sort="version">
                        <span translate="version"></span>
                    </th>
                    <th class="column-status" st-sort="person.created_at">
                        <span translate="subscribed_at"></span> / <br>
                        <span translate="submitted_at"></span>
                    </th>
                    <th class="column-action" ng-if="$ctrl.actions.length > 0">&nbsp;</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="person.internalCode" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="person.name" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="subdsidiary.displayName" class="form-control" type="search"/>
                    </th>
                    <!-- <th>
                        <input st-search="person.identityCode" class="form-control" type="search"/>
                    </th> -->
                    <th>
                        <input st-search="person.securityCode" class="form-control" type="search"/>
                    </th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center" ng-if="$ctrl.actions.length > 0"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $ctrl.displayCollection track by row.id">
                    <td>{{ ::row.person.internalCode }}</td>
                    <td>{{ ::row.person.name }}</td>
                    <td>{{ ::row.subdsidiary.displayName }}</td>
                    <td>{{ ::row.person.securityCode }}</td>
                    <td>
                        <subscription-status model="row"></subscription-status>
                    </td>
                    <td>
                        <version entity="row"></version>
                    </td>
                    <td>
                        <span ng-if="$ctrl.isVersionChange(row)">{{ ::row.created_at | date:"dd/MM/yyyy HH:mm" }}</span>
                        <span ng-if="!$ctrl.isVersionChange(row)">{{ ::row.submissionDate | date:"dd/MM/yyyy HH:mm" }}</span>
                    </td>
                    <td class="text-center" ng-if="$ctrl.actions.length > 0">
                        <div class="dropdown" ng-if="$ctrl.actions.length > 1">
                              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span translate="actions"></span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li ng-repeat="a in $ctrl.actions" ng-if="!a.show || a.show(row)">
                                    <a ng-click="a.callback(row)" href="javascript:;">
                                        <i ng-if="a.icon(row)" class="fa" ng-class="a.icon(row)"></i>
                                        <span ng-if="a.title(row)" ng-bind-html="a.title(row) | translate"></span>
                                    </a>
                                </li>
                              </ul>
                        </div>

                        <a ng-click="a.callback(row)" ng-if="$ctrl.actions.length < 2 && (!a.show || a.show(row))" class="btn btn-default btn-sm" ng-repeat="a in $ctrl.actions">
                            <i ng-if="a.icon(row)" class="fa" ng-class="a.icon(row)"></i>
                            <span ng-if="a.title(row)" ng-bind-html="a.title(row) | translate"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="8">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
