<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span translate="situation" class="text-capitalize"></span>
                     - 
                    <span translate="compulsory_subscription" class="text-capitalize"></span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="active">
                                    <th rowspan="2">
                                        <span translate="company"></span>
                                    </th>
                                    <th rowspan="2">
                                        <span translate="activity"></span>
                                    </th>
                                    <th colspan="4" class="text-center">
                                        <span translate="work_contract"></span>
                                    </th>
                                    <th rowspan="2">
                                        <span translate="status"></span>
                                    </th>
                                </tr>
                                <tr class="active">
                                    <th>
                                        <span translate="type"></span>
                                    </th>
                                    <th>
                                        <span translate="regime"></span>
                                    </th>
                                    <th>
                                        <span translate="labour_law"></span>
                                    </th>
                                    <th>
                                        <span translate="contract_status"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="employment in $ctrl.employments">
                                    <td>{{ ::employment.workSituation.employer.displayName }}</td>
                                    <td>
                                        <span class="label label-default" ng-repeat="activitySector in employment.workSituation.employer.activitySectors">
                                            {{activitySector.name}}
                                        </span>
                                    </td>
                                    <td>{{ ::employment.workSituation.contractType.name }}</td>
                                    <td>{{ ::employment.workSituation.regime.name }}</td>
                                    <td>{{ ::employment.workSituation.labourLaw.name }}</td>
                                    <td>{{ ::employment.workSituation.contractStatus.name }}</td>
                                    <td>
                                        <subscription-status model="employment"></subscription-status>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span translate="situation" class="text-capitalize"></span>
                     - 
                    <span translate="optional_subscription" class="text-capitalize"></span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="active">
                                    <th>
                                        <span translate="subscribed_at"></span>
                                    </th>
                                    <th>
                                        <span translate="current_optional_step"></span>
                                    </th>
                                    <th>
                                        <span translate="cost"></span>
                                    </th>
                                    <th>
                                        <span translate="status"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="$ctrl.optionalSubscription">
                                    <td>{{ ::$ctrl.optionalSubscription.optionalAccession.submissionDate | date:"dd/MM/yyyy HH:mm" }}</td>
                                    <td>{{ ::$ctrl.optionalSubscription.optionalStepName }}</td>
                                    <td>{{ ::$ctrl.optionalSubscription.optionalStep.cost|currency }}</td>
                                    <td>
                                        <subscription-status model="$ctrl.optionalSubscription.optionalAccession"></subscription-status>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>