<h2 class="text-center">
    <span class="inss-logo"></span>

    <span ng-if="!updateSubscription" translate="subscription" class="text-capitalize"></span>
    <span ng-if="updateSubscription" translate="subscription_change" class="text-capitalize"></span>
    -
    <span class="text-capitalize" translate="compulsory_accession"></span>
</h2>

<div class="panel panel-default" ng-if="!employer && !employerId">
    <div class="panel-heading">
        <h4 class="page-title text-uppercase">
            <span translate="search_employer_entity"></span>
        </h4>
    </div>
    <div class="panel-body">
        <inline-search-employer employer="employer" callback="setEmployer(employer)"></inline-search-employer>
    </div>
</div>

<form name="form" server-validate local-storage ng-submit="save(form)" novalidate>

    <div class="row" ng-if="employer">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="employer_entity" class="text-capitalize"></span>
                        <span class="pull-right">
                            &nbsp;
                            <employer-status employer="employer"></employer-status>
                        </span>
                        <security-code model="employer"></security-code>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 employer-container">
                            <employer-display employer="employer"></employer-display>
                            <address-display address="address" ng-repeat="address in employer.addresses|filter: {main: 1}"></address-display>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="employer && !user.isPerson() && employeesSubscribed.length > 0">
        <div class="col-sm-12">
            <div class="panel panel-info panel-employees-subscribed">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="tco_subscribed" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <worker-list rows="employeesSubscribed" actions="employeesSubscribedAction" employer="employer"></worker-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <a class="btn btn-success text-capitalize pull-left" ng-if="version && person.id" ui-sref="app.worker-list-changes({id: person.internalCode, employer: employer.internalCode})">
                <i class="fa fa-arrow-left"></i>
                <span translate="back"></span>
            </a>
        </div>

        <div class="col-sm-7" ng-if="user.isEmployer() && id && person.id">
            <button acl="compulsory-subscription" type="button" ng-click="newWorker()" class="btn btn-success text-capitalize pull-left">
                <i class="fa fa-plus-circle"></i>
                <span translate="add_new_tco"></span>
            </button>
        </div>
    </div>

    <br>

    <div class="alert alert-warning" ng-if="!employer && !employerId" translate="select_company_subscription"></div>

    <div class="alert alert-warning" ng-if="employer.isSuspended()" translate="company_suspended_already"></div>
    <div class="alert alert-warning" ng-if="employer.isCeased()" translate="company_ceased_already"></div>

    <div class="alert alert-warning" ng-if="subscription.isSuspended()" translate="worker_suspended_already"></div>
    <div class="alert alert-warning" ng-if="subscription.isCeased()" translate="worker_ceased_already"></div>

    <div class="alert alert-warning" ng-if="optionalSubscription" translate="worker_optional_subscribed"></div>

    <!-- <div class="alert alert-danger" ng-if="updateSubscription && isExpiredUpdate()">
        <p translate="subscription_update_expired" translate-values="{day: updateDeadline}"></p>
    </div> -->

    <br>

    <div class="panel panel-default" ng-if="searchPerson && !person.id">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <span translate="search_worker"></span>
            </h4>
        </div>
        <div class="panel-body search-existing">
            <inline-search-person person="person" callback="setWorker(person)"></inline-search-person>
        </div>
    </div>

    <div class="alert alert-warning" ng-if="!version && !updateSubscription && isSubmitted()" translate="subscription_submitted_already"></div>
    
    <div class="row identification-container" ng-form="identificationForm" ng-if="employer && person">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">1</span>
                        &nbsp;
                        <span translate="identification" class="text-capitalize"></span>
                        <version ng-if="subscription" entity="subscription" class="pull-right" style="margin-left: 5px"></version>
                        <security-code model="person"></security-code>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row" ng-if="person.id">
                        <div class="col-sm-12">
                            <person-name person="person"></person-name>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <person-data person="person" disabled="!canEdit() || !canEditPerson()" on-update="setWorker(person)"></person-data>
                        </div>
                    </div>
                    <div class="row" ng-if="person.displayAllData">
                        <div class="col-sm-12">
                            <address model="person.address" disabled="!canEdit() || !canEditPerson()" required="true"></address>
                        </div>
                    </div>
                    <div class="row" ng-if="person.displayAllData">
                        <div class="col-sm-12">
                            <naturality model="person.naturality" disabled="!canEdit() || !canEditPerson()" required="true"></naturality>
                        </div>
                    </div>
                    <div class="row" ng-if="person.displayAllData">
                         <div class="col-sm-3">
                            <div class="form-group" ng-class="{ 'has-error': identificationForm.maritalStatus.$invalid && identificationForm.maritalStatus.$dirty }">
                                <label class="control-label text-capitalize">
                                    <span translate="marital-status"></span><i class="required">*</i>
                                </label>
                                <select ng-disabled="!canEdit() || !canEditPerson()" class="form-control" name="maritalStatus" ng-required="true" ng-model="person.maritalStatus" ng-options="item.name for item in maritalStatuses track by item.id">
                                    <option value=""></option>
                                </select>
                                <i class="help-block" ng-if="identificationForm.maritalStatus.$error.required"><span translate="required_message"></span></i>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="disability"></span>
                                </label>
                                <select class="form-control" ng-disabled="!canEdit() || !canEditPerson()" ng-model="person.disability" ng-options="item.name for item in disabilities track by item.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="person.displayAllData">
                        <div class="col-sm-12">
                            <contact-detail disabled="!canEdit() || !canEditPerson()" model="person.contactDetail"></contact-detail>
                        </div>
                    </div>
                </div>

                <div class="panel-footer" ng-if="person.displayAllData && !person.id">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="button" ng-disabled="!canEdit() || !canEditPerson()" ng-click="saveInformation(identificationForm, person)" class="btn btn-success text-capitalize">
                                <span translate="next"></span>
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row relative-container" ng-if="isCurrentStep('relative')" ng-form="relativeForm">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">2</span>
                        &nbsp;
                        <span translate="relative" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <relatives disabled="!canEdit() || !canEditPerson()" person="person"></relatives>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row contract-container" ng-if="isCurrentStep('contract') && employer" ng-form="compulsorySubscriptionForm">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">3</span>
                        &nbsp;
                        <span translate="work_contract_situation" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <div class="row" ng-if="employer.subsidiaries && employer.subsidiaries.length > 0">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error': compulsorySubscriptionForm.subdsidiary.$invalid && compulsorySubscriptionForm.subdsidiary.$dirty }">
                                        <label class="control-label text-capitalize"><span translate="subsidiary"></label>
                                        <ui-select ng-disabled="!canEdit() || !canEditEmployment()" ng-model="subscription.workSituation.subdsidiary" theme="bootstrap" close-on-select="true" >
                                            <ui-select-match allow-clear>{{ $select.selected.displayName }}</ui-select-match>
                                            <ui-select-choices repeat="item in employer.subsidiaries | selectPropsFilter: {name: $select.search}">
                                                <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <i class="help-block" ng-if="compulsorySubscriptionForm.subdsidiary.$error.required"><span translate="required_message"></span></i>
                                    </div>
                                </div>
                            </div>

                            <current-work-situation active="true" disabled="!canEdit() || !canEditEmployment()" model="subscription.workSituation"></current-work-situation>

                             <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error': compulsorySubscriptionForm.incomeBase.$invalid && compulsorySubscriptionForm.incomeBase.$dirty }">
                                        <label class="control-label text-capitalize"><span translate="income_base"></span><i class="required">*</i></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ng-disabled="!canEdit() || !canEditEmployment()" ng-required="true" ui-number-mask="2" ui-hide-group-sep name="incomeBase" ng-model="subscription.incomeBase" class="form-control">
                                        </div>
                                        <i class="help-block" ng-if="compulsorySubscriptionForm.incomeBase.$error.required"><span translate="required_message"></span></i>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error': compulsorySubscriptionForm.weeklyHours.$invalid && compulsorySubscriptionForm.weeklyHours.$dirty }">
                                        <label class="control-label text-capitalize">
                                            <span translate="weekly_hours"></span><i class="required">*</i>
                                        </label>
                                        <input min="0" ng-disabled="!canEdit() || !canEditEmployment()" ng-required="true" type="number" class="form-control" name="weeklyHours" maxlength="10" ng-model="subscription.weeklyHours">
                                        <i class="help-block" ng-if="compulsorySubscriptionForm.weeklyHours.$error.required"><span translate="required_message"></span></i>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error': compulsorySubscriptionForm.weeklyDays.$invalid && compulsorySubscriptionForm.weeklyDays.$dirty }">
                                        <label class="control-label text-capitalize">
                                            <span translate="weekly_days"></span><i class="required">*</i>
                                        </label>
                                        <input min="0" ng-disabled="!canEdit() || !canEditEmployment()" ng-max="7" ng-required="true" type="number" class="form-control" name="weeklyDays" maxlength="10" ng-model="subscription.weeklyDays">
                                        <i class="help-block" ng-if="compulsorySubscriptionForm.weeklyDays.$error.required"><span translate="required_message"></span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer" ng-if="subscription && !subscription.id">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="button" ng-disabled="!canEdit() || !canEditEmployment()" ng-click="saveWorkContract(compulsorySubscriptionForm)" class="btn btn-success text-capitalize">
                                <span>
                                    <span translate="next"></span>
                                    <i class="fa fa-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row abroad-container" ng-if="isCurrentStep('abroad')" ng-form="abroadSubscriptionForm">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">4</span>
                        &nbsp;
                        <span translate="accession_abroad_title" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <accession-abroad disabled="!canEdit() || !canEditPerson()" model="accessionAbroad"></accession-abroad>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row public-worker-container" ng-if="isCurrentStep('public_work')" ng-form="publicWorkerForm">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">5</span>
                        &nbsp;
                        <span translate="public_worker_title" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <public-worker disabled="!canEdit() || !canEditPerson()" model="publicWorker"></public-worker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row files-container" ng-if="isCurrentStep('files')">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">6</span>
                        &nbsp;
                        <span translate="files" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <file-upload disabled="!canEdit()" reference="P" model="person"></file-upload>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="person.id && employer && subscription.id">
        <div class="col-sm-12 text-center well">
            <button acl="employer-subscription" ng-if="!updateSubscription"  type="submit" class="btn btn-primary btn-lg text-capitalize" ng-disabled="!canEdit()">
                <i class="fa fa-floppy-o"></i>
                <span translate="save"></span>
            </button>
            <button acl="employer-subscription" type="button" ng-click="submit(form)" class="btn btn-success btn-lg text-capitalize" ng-disabled="!canEdit()">
                <i class="fa fa-cloud-upload"></i>
                <span translate="save_and_submit"></span>
            </button>
        </div>
    </div>

</form>
