<h2 class="text-center">
    <span class="inss-logo"></span>
    
    <span ng-if="!suspend && !updateSubscription" translate="subscription" class="text-capitalize"></span>
    <span ng-if="!suspend && updateSubscription" translate="subscription_change" class="text-capitalize"></span>

    <span class="text-capitalize" ng-if="suspend" translate="subscription_suspension"></span>
    -
    <span class="text-capitalize" translate="compulsory_accession"></span>
</h2>

<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="employee"></span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row" ng-if="person">

            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span translate="employee" class="text-capitalize"></span>
                            <security-code model="person"></security-code>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-12 worker-container">
                                <person-display person="person"></person-display>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <worker-list actions="actionsGrid" rows="rows" rowAction="rowAction"></worker-list>
    </div>
</div>