<h2 class="text-center">
    <span class="inss-logo"></span>

    <span translate="subscription_suspension" class="text-capitalize"></span>
    -
    <span class="text-capitalize" translate="compulsory_accession"></span>
</h2>

<div class="alert alert-warning" ng-if="employer.isSuspended()" translate="company_suspended_already"></div>
<div class="alert alert-warning" ng-if="employer.isCeased()" translate="company_ceased_already"></div>

<div class="alert alert-warning" ng-if="subscription.isSuspended()" translate="worker_suspended_already"></div>
<div class="alert alert-warning" ng-if="subscription.isCeased()" translate="worker_ceased_already"></div>

<form name="form" server-validate local-storage ng-submit="suspend(form)" novalidate>
    
    <div class="row" ng-if="employer">

        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="employer_entity" class="text-capitalize"></span>
                        <span class="pull-right">
                            &nbsp;
                            <employer-status employer="employer"></employer-status>
                        </span>
                        <security-code model="employer"></security-code>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 employer-container">
                            <employer-display employer="employer"></employer-display>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-if="person">

        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="employee" class="text-capitalize"></span>
                        <span class="pull-right">
                            &nbsp;
                            <subscription-status model="subscription"></subscription-status>
                        </span>
                        <security-code model="person"></security-code>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 worker-container">
                            <person-display person="person"></person-display>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <div ng-if="subscription && !isSuspended() && !isCeased() && !user.isStaff()">
        <div class="row" ng-if="employer">

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="action"></span>
                    </label>
                    <div class="form-group">
                        <select class="form-control" ng-options="option.value as option.label for option in actions" ng-model="action.status"></select>
                    </div>
                </div>  
            </div>


            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="date_start"></span>
                    </label>
                    <p class="input-group">
                        <input ng-disabled="true" type="text" class="form-control" data-mask="00/00/0000" uib-datepicker-popup="dd/MM/yyyy" ng-model="subscription.dateStart" name="dateStart" >
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error': form.dateEnd.$invalid && form.dateEnd.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="date_end"></span><i class="required">*</i>
                    </label>
                    <p class="input-group">
                        <input ng-disabled="!canSuspend()" type="text" datepicker-options="calendarOptions" ng-required="true" max-date="today" ng-model="subscription.dateEnd" min-date="subscription.dateStart" name="dateEnd"
                            data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="subscription.openEndActivity" close-text="{{ 'close' | translate }}" />
                        <span class="input-group-btn">
                            <button ng-disabled="!canSuspend()" type="button" class="btn btn-default" ng-click="subscription.openEndActivity = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <i class="help-block" ng-if="form.dateEnd.$error.required"><span translate="required_message"></span></i>
                    <i class="help-block" ng-if="form.dateEnd.$error.date"><span translate="date_invalid_message"></span></i>
                    <i class="help-block" ng-if="form.dateEnd.$error.minDate"><span translate="error_ee_min_activity"></span></i>
                    <i class="help-block" ng-if="form.dateEnd.$error.maxDate"><span translate="not_later_today"></span></i>
                </div>
            </div>
        </div>

        <div class="row" ng-if="employer && !user.isStaff()">
            <div class="col-sm-12 text-center well">
                <button acl="compulsory-subscription" acl-action="edit" type="submit" class="btn btn-warning btn-lg text-capitalize" ng-disabled="!canSuspend()">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span ng-if="suspendedStatus == action.status" class="text-capitalize" translate="suspend"></span>
                    <span ng-if="ceasedStatus == action.status" class="text-capitalize" translate="cease"></span>
                </button>
            </div>
        </div>
    </div>


    <div ng-if="subscription && isSuspended() && !user.isStaff()">
        <div class="row" ng-if="employer">
            <div class="col-sm-12 text-center well">
                <button acl="compulsory-subscription" acl-action="edit" type="button" ng-disabled="!canActive()" ng-click="activate()" class="btn btn-success btn-lg text-capitalize">
                    <i class="fa fa-flash"></i>
                    <span class="text-capitalize" translate="activate"></span>
                </button>
                <button acl="compulsory-subscription" acl-action="edit" type="submit" class="btn btn-warning btn-lg text-capitalize">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="text-capitalize" translate="cease"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row" ng-if="subscription">
        <div class="col-sm-12">
            <div class="panel panel-warning" ng-if="employer">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="status_history"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <subscription-status-list rows="subscription.statusHistory"></subscription-status-list>
                </div>
            </div>
        </div>
    </div>

</form>