<h4 class="text-center text-capitalize" style="margin-top: 90px">
    <p>
        <i class="fa fa-check-circle-o text-success fa-5x"></i>
    </p>
    <span translate="subscription_thankyou" ng-if="fromCompany"></span>
    <span translate="subscription_thankyou_alone" ng-if="!fromCompany"></span>
</h4>