<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <span translate="equivalence_compensation"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span translate="compulsory_accession"></span>
                        </div>
                        <div class="panel-body">
                            <ul style="list-style: none;">
                                <li ng-repeat="supplement in supplements track by supplement.id">
                                    <div class="checkbox">
                                        <label class="checkbox-display">
                                           <input type="checkbox" ng-change="changedCompensation(supplement.id, 'C')" ng-model="compensation['C'][supplement.id]" ng-true-value="1" ng-false-value="0">
                                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                           <span class="text-capitalize">{{::supplement.name}}</span>
                                       </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span translate="optional_accession"></span>
                        </div>
                        <div class="panel-body">
                            <ul style="list-style: none;">
                                <li ng-repeat="supplement in supplements track by supplement.id">
                                    <div class="checkbox">
                                        <label class="checkbox-display">
                                           <input type="checkbox" ng-change="changedCompensation(supplement.id, 'O')" ng-model="compensation['O'][supplement.id]" ng-true-value="1" ng-false-value="0">
                                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                           <span class="text-capitalize">{{::supplement.name}}</span>
                                       </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
