<h2 class="text-center">
    <span class="inss-logo"></span>
    <span translate="remuneration_statement" class="text-capitalize"></span>
</h2>

<div class="alert alert-warning" ng-if="!employerId && !employer && !id" translate="select_company_statement"></div>

<div class="alert alert-danger" ng-if="!allowLowLimit()">
    <p translate="statement_low_limit" translate-values="{day: lowDayLimit}"></p>
</div>

<div class="alert alert-danger" ng-if="!allowHighLimit()">
    <p translate="statement_high_limit" translate-values="{day: highDayLimit}"></p>
</div>

<form name="form" server-validate local-storage ng-submit="save(form, model)" novalidate>

    <div class="row" ng-if="employer">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="employer_entity" class="text-capitalize"></span>
                        <span class="pull-right">
                            &nbsp;
                            <employer-status employer="employer"></employer-status>
                        </span>
                        <security-code model="employer"></security-code>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 employer-container">
                            <employer-display employer="employer"></employer-display>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-if="!employer && !id && user.isStaff()">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <span translate="search_employer_entity"></span>
            </h4>
        </div>
        <div class="panel-body">
            <inline-search-employer employer="employer" callback="setCompany(employer)"></inline-search-employer>
        </div>
    </div>

    <div ng-if="employer">

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error': form.month.$invalid && form.month.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="month"></span><i class="required">*</i>
                    </label>
                    <div class="form-group">
                        <select ng-disabled="!canEdit()" ng-readonly="model.id" class="form-control" ng-required="true" name="month" ng-options="month as month for month in months" ng-model="model.month"></select>
                        <i class="help-block" ng-if="form.month.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div> 
            </div> 
        
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error': form.year.$invalid && form.year.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="year"></span><i class="required">*</i>
                    </label>
                    <input ng-disabled="!canEdit()" ng-readonly="model.id" ng-max="maxYear" type="number" class="form-control" name="year" maxlength="4" ng-model="model.year" required>
                    <i class="help-block" ng-if="form.year.$error.required"><span translate="required_message"></span></i>
                    <i class="help-block" ng-if="form.year.$error.max"><span translate="not_later_today"></span></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="num_workers"></span>
                    </label>
                    <input ng-disabled="true" type="number" class="form-control" name="numWorkers" ng-model="workers.total">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="num_workers_national"></span>
                    </label>
                    <input ng-disabled="true" type="number" class="form-control" name="numWorkersNational" ng-model="workers.national">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="national_percent"></span>
                    </label>
                    <div class="input-group">
                        <input name="nationalPercent" ng-disabled="true" value="{{ workers.percent|number: 2 }}" class="form-control">
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info workers-container" ng-if="(model.remunerationPeople|filter: {selected:0}).length > 0">
            <div class="panel-heading">
                <h4 class="page-title text-uppercase">
                    <span translate="employees"></span>
                </h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="column-status">
                                <span translate="internal_code"></span>
                            </th>
                            <th>
                                <span translate="name"></span>
                            </th>
                            <th class="column-status">
                                <span translate="identity_code"></span>
                            </th>
                            <th class="column-status">
                                <span translate="niss"></span>
                            </th>
                            <th class="column-status">
                                <span translate="created_at"></span>
                            </th>
                            <th class="column-action">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in model.remunerationPeople|filter: {selected:0}">
                            <td>{{ ::row.compulsoryAccessionSubscription.compulsoryAccession.person.internalCode }}</td>
                            <td>{{ ::row.compulsoryAccessionSubscription.compulsoryAccession.person.name }}</td>
                            <td>{{ ::row.compulsoryAccessionSubscription.compulsoryAccession.person.identityCode }}</td>
                            <td>{{ ::row.compulsoryAccessionSubscription.compulsoryAccession.person.securityCode }}</td>
                            <td>{{ ::row.compulsoryAccessionSubscription.compulsoryAccession.person.created_at | date:"dd/MM/yyyy HH:mm" }}</td>
                            <td class="text-center">
                                <button type="button" ng-click="addTCO(row)" class="btn btn-sm btn-warning text-capitalize">
                                    <i class="fa fa-plus-circle"></i>
                                    <span translate="add"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <person-list rows="workersAvailable|filter: {selected:0}" actions="workersAction"></person-list> -->
            </div>
        </div>

        <div class="panel panel-warning workers-container" ng-if="(model.remunerationPeople|filter: {selected:1, period:1}).length > 0">
            <div class="panel-heading">
                <h4 class="page-title text-uppercase">
                    <span translate="full_time"></span>
                </h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="column-status"></th>
                            <th class="column-status">
                                <span translate="niss"></span>
                            </th>
                            <th>
                                <span translate="name"></span>
                            </th>
                            <th>
                                <span translate="nationality"></span>
                            </th>
                            <th class="column-status">
                                <span translate="worked_days"></span>
                            </th>
                            <th>
                                <span translate="remuneration"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in model.remunerationPeople|filter: {selected:1, period:1}" ng-form="personForm">
                            <td>
                                <button type="button" ng-click="removeTCO(row)" class="btn btn-sm btn-danger text-capitalize">
                                    <i class="fa fa-trash-o"></i>
                                    <span translate="remove"></span>
                                </button>
                            </td>
                            <td>
                                <span style="min-width: 80px; display: block">{{ ::row.compulsoryAccessionSubscription.compulsoryAccession.person.internalCode }}</span>
                            </td>
                            <td>
                                <span style="min-width: 200px; display: block">{{ ::row.compulsoryAccessionSubscription.compulsoryAccession.person.name }}</span>
                            </td>
                            <td>
                                <span class="label label-default" ng-repeat="nationality in row.compulsoryAccessionSubscription.compulsoryAccession.person.nationalities">
                                    {{nationality.name}}
                                </span>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{ 'has-error': personForm.workedDays.$invalid && personForm.workedDays.$dirty }">
                                    <input ng-disabled="!canEdit()" min="0" ng-max="maxDays" ng-required="true" type="number" class="form-control" name="workedDays" maxlength="2" ng-model="row.workedDays">
                                    <i class="help-block" ng-if="personForm.workedDays.$error.required"><span translate="required_message"></span></i>
                                    <i class="help-block" ng-if="personForm.workedDays.$error.max">
                                        <span translate="max_worked_days" translate-values="{value: maxDays}"></span>
                                    </i>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{ 'has-error': personForm.remuneration.$invalid && personForm.remuneration.$dirty }">
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input ng-disabled="!canEdit()" style="width: 90px" ng-required="true" ui-number-mask="2" ui-hide-group-sep name="remuneration" ng-model="row.remuneration" class="form-control">
                                    </div>
                                    <i class="help-block" ng-if="personForm.remuneration.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-warning workers-container" ng-if="(model.remunerationPeople|filter: {selected:1, period:0}).length > 0">
            <div class="panel-heading">
                <h4 class="page-title text-uppercase">
                    <span translate="part_time"></span>
                </h4>
            </div>
            <div class="panel-body" style="overflow-x: auto">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="column-status" rowspan="2"></th>
                            <th class="column-status" rowspan="2">
                                <span translate="niss"></span>
                            </th>
                            <th rowspan="2">
                                <span translate="name"></span>
                            </th>
                            <th rowspan="2">
                                <span translate="nationality"></span>
                            </th>
                            <th colspan="{{ maxDays + 1 }}" class="text-center">
                                <span translate="worked_days"></span>
                            </th>
                            <th class="column-status" rowspan="2">
                                <span translate="remuneration"></span>
                            </th>
                        </tr>
                        <tr>
                            <th ng-repeat="day in days">
                                {{day}}
                            </th>
                            <th>
                                <span translate="total"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in model.remunerationPeople|filter: {selected:1, period:0}" ng-form="personForm">
                            <td>
                                <button type="button" ng-click="removeTCO(row)" class="btn btn-sm btn-danger text-capitalize">
                                    <i class="fa fa-trash-o"></i>
                                    <span translate="remove"></span>
                                </button>
                            </td>
                            <td>
                                <span style="min-width: 80px; display: block">{{ ::row.compulsoryAccessionSubscription.compulsoryAccession.person.internalCode }}</span>
                            </td>
                            <td>
                                <span style="min-width: 200px; display: block">{{ ::row.compulsoryAccessionSubscription.compulsoryAccession.person.name }}</span>
                            </td>
                            <td>
                                <span class="label label-default" ng-repeat="nationality in row.compulsoryAccessionSubscription.compulsoryAccession.person.nationalities">
                                    {{nationality.name}}
                                </span>
                            </td>
                            <td ng-repeat="day in row.remunerationDays">
                                <input type="checkbox" ng-disabled="!canEdit()" ng-model="day.worked" ng-true-value="1" ng-false-value="0" ng-change="calcWorkTotal(row)">
                            </td>
                            <td>
                                <div class="form-group" ng-class="{ 'has-error': personForm.workedDays.$invalid && personForm.workedDays.$dirty }">
                                    <input ng-disabled="!canEdit()" style="width: 60px" readonly min="0" ng-max="maxDays" ng-required="true" type="number" class="form-control" name="workedDays" maxlength="2" ng-model="row.workedDays">
                                    <i class="help-block" ng-if="personForm.workedDays.$error.required"><span translate="required_message"></span></i>
                                    <i class="help-block" ng-if="personForm.workedDays.$error.max">
                                        <span translate="max_worked_days" translate-values="{value: maxDays}"></span>
                                    </i>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{ 'has-error': personForm.remuneration.$invalid && personForm.remuneration.$dirty }">
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input ng-disabled="!canEdit()" style="width: 90px" ng-required="true" ui-number-mask="2" ui-hide-group-sep name="remuneration" ng-model="row.remuneration" class="form-control">
                                    </div>
                                    <i class="help-block" ng-if="personForm.remuneration.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-warning" ng-if="user.isStaff() && model.id">
            <div class="panel-heading">
                <h5 class="page-title text-uppercase">
                    <span translate="remuneration_assessment_warning"></span>

                    <button style="margin-top: -6px" ng-if="model.revisions.length < 1" type="button" ng-click="addReview()" class="btn btn-sm btn-primary text-capitalize pull-right">
                        <i class="fa fa-plus-circle"></i>
                        <span translate="add"></span>
                    </button>
                </h5>
            </div>
            <div class="panel-body">

                <div class="alert alert-warning" ng-if="model.revisions.length < 1">
                    <i class="fa fa-warning"></i>
                    <span translate="no_data"></span>
                </div>
                
                <div class="panel panel-info" ng-repeat="revision in model.revisions" ng-form="revisionForm">
                    <div class="panel-heading">
                        <h5 class="page-title text-uppercase">
                            <span translate="assessment"></span>

                            <button style="margin-top: -6px" ng-if="!revision.id" type="button" ng-click="removeRevision(revision)" class="btn btn-sm btn-primary text-capitalize pull-right">
                                <i class="fa fa-trash"></i>
                                <span translate="remove"></span>
                            </button>
                        </h5>
                    </div>
                    <div class="panel-body">
                        
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error': revisionForm.assessment.$invalid && revisionForm.assessment.$dirty }">
                                    <label class="control-label text-capitalize">
                                        <span translate="assessment_statement"></span>
                                        <i class="required">*</i>
                                    </label>
                                    <div class="form-group">
                                        <select class="form-control" ng-required="true" name="assessment" ng-options="assessment.id as assessment.label for assessment in assessmentOptions" ng-model="revision.assessment"></select>
                                        <i class="help-block" ng-if="revisionForm.assessment.$error.required"><span translate="required_message"></span></i>
                                    </div>
                                </div> 
                            </div> 

                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error': revisionForm.assessmentDate.$invalid && revisionForm.assessmentDate.$dirty }">
                                    <label class="control-label text-capitalize">
                                        <span translate="assessment_date"></span>
                                        <i class="required">*</i>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" ng-disabled="$ctrl.disabled" ng-model="revision.assessmentDate" max-date="today" name="assessmentDate" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="revision.assessmentOpen" close-text="{{ 'close' | translate }}" ng-required="true"
                                        />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="revision.assessmentOpen = true">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <i class="help-block" ng-if="revisionForm.assessmentDate.$error.required"><span translate="required_message"></span></i>
                                    <i class="help-block text-danger" ng-if="revisionForm.assessmentDate.$error.maxDate"><span translate="not_later_today"></span></i>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error': revisionForm.notificationDate.$invalid && revisionForm.notificationDate.$dirty }">
                                    <label class="control-label text-capitalize">
                                        <span translate="notification_date"></span>
                                        <i class="required">*</i>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" ng-disabled="$ctrl.disabled" ng-model="revision.notificationDate" max-date="today" name="notificationDate" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="revision.notificationOpen" close-text="{{ 'close' | translate }}" ng-required="true"
                                        />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="revision.notificationOpen = true">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <i class="help-block" ng-if="revisionForm.notificationDate.$error.required"><span translate="required_message"></span></i>
                                    <i class="help-block text-danger" ng-if="revisionForm.notificationDate.$error.maxDate"><span translate="not_later_today"></span></i>
                                </div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" ng-class="{ 'has-error': revisionForm.observation.$invalid && revisionForm.observation.$dirty }">
                                    <label class="control-label text-capitalize">
                                        <span translate="observation"></span>
                                    </label>
                                    <textarea class="form-control" name="observation" ng-model="revision.observation"></textarea>
                                    <i class="help-block" ng-if="revisionForm.observation.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center well">
                <button acl="remuneration-statement" ng-disabled="!allowLowLimit() || !allowHighLimit()" type="submit" class="btn btn-primary btn-lg text-capitalize">
                    <i class="fa fa-floppy-o"></i>
                    <span translate="save"></span>
                </button>
            </div>
        </div>

    </div>

</form>