<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="remuneration_statement"></span>
            <small class="pull-right">
                <a acl="employer" href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ui-sref="app.remuneration-statement">
                    <i class="fa fa-plus"></i>
                    <span translate="new"></span>
                </a>
            </small>
        </h4>
    </div>
    <div class="panel-body">
        <remuneration-statement-search ng-if="user.isStaff()" actions="actionsGrid" params="params"></remuneration-statement-search>
        <remuneration-statement-list ng-if="user.isEmployer()" actions="actionsGrid" rows="rows"></remuneration-statement-list>
    </div>
</div>