<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.email-queue-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="email-queue" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-if="canEdit()" ng-click="edit(id, model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="message"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error': form.subject.$invalid && form.subject.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="subject"></span>
                            <i class="required">*</i>
                        </label>
                        <input type="text" ng-disabled="!canEdit()" class="form-control"  maxlength="255" autofocus ng-model="model.subject" name="subject" required>
                        <i class="help-block" ng-if="form.subject.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" ng-class="{ 'has-error': form.whenSend.$invalid && form.whenSend.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="when_send"></span><i class="required">*</i>
                        </label>
                        <div class="input-group">
                            <input type="text" ng-disabled="!canEdit()" ng-model="model.whenSend" name="whenSend" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="model.calendarWhenSend" close-text="{{ 'close' | translate }}" ng-required="true"
                            />
                            <span class="input-group-btn">
                                <button type="button" tabindex="-1" ng-disabled="!canEdit()" class="btn btn-default" ng-click="model.calendarStart = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <i class="help-block" ng-if="form.whenSend.$error.required"><span translate="required_message"></span></i>
                        <i class="help-block text-danger" ng-if="form.whenSend.$error.minDate"><span translate="not_previous_today"></span></i>
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label text-capitalize">
                            <span translate="sent"></span>
                        </label>
                        <p>
                            <span ng-if="model.sent" class="label label-success">{{ ::"yes" | translate }}</span>
                            <span ng-if="!model.sent" class="label label-danger">{{ ::"no" | translate }}</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label text-capitalize">
                            <span translate="sentAt"></span>
                        </label>
                        <p>
                            <span ng-if="model.sent">{{ ::model.sentAt|date:'dd/MM/yyyy HH:mm' }}</span>
                            <span ng-if="!model.sent" class="label label-info">{{ ::"no" | translate }}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group" ng-class="{ 'has-error': form.toMail.$invalid && form.toMail.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="to_mail"></span>
                            <i class="required">*</i>
                        </label>
                        <ui-select ng-disabled="!canEdit()" multiple tagging-label="false" tagging ng-model="model.toMail" name="toMail" theme="bootstrap" sortable="true" ng-required="true">
                            <ui-select-match>{{$item}}</ui-select-match>
                            <ui-select-choices repeat="mail in model.toMail | filter:$select.search">
                              {{mail}}
                            </ui-select-choices>
                        </ui-select>
                        <i class="help-block" ng-if="form.toMail.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="page-title text-uppercase">
                                <span translate="content"></span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div style="padding: 10px" ng-bind-html="model.body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
