<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="email_queue"></span>
        </h4>
    </div>
    <div class="panel-body">
      <items-by-page></items-by-page>
      <table st-safe-src="rowCollection" st-table="displayCollection" class="table table-striped table-bordered  table-hover">
            <thead>
                <tr>
                    <th st-sort="subject">
                        <span translate="subject"></span>
                    </th>
                    <th st-sort="toMail">
                        <span translate="to_mail"></span>
                    </th>
                    <th st-sort="whenSend" class="column-status">
                        <span translate="when_send"></span>
                    </th>
                    <th st-sort="sent" class="column-status">
                        <span translate="sent"></span>
                    </th>
                    <th st-sort="sentAt" class="column-status">
                        <span translate="sentAt"></span>
                    </th>
                    <th class="column-action">&nbsp;</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="subject" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="toMail" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="whenSend" class="form-control" type="search"/>
                    </th>
                    <th>
                        <select st-search="sent" class="form-control">
                            <option value=""></option>
                            <option value="0">{{ ::"no" | translate }}</option>
                            <option value="1">{{ ::"yes" | translate }}</option>
                        </select>
                    </th>
                    <th>
                        <input st-search="sentAt" class="form-control" type="search"/>
                    </th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayCollection track by row.id">
                    <td>{{ ::row.subject }}</td>
                    <td>
                        <span style="display: block; margin-bottom: 2px" class="label label-default" ng-repeat="mail in row.toMail">{{ ::mail }}</span>
                    </td>
                    <td>{{ ::row.whenSend|date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>
                        <span ng-if="row.sent" class="label label-success">{{ ::"yes" | translate }}</span>
                        <span ng-if="!row.sent" class="label label-danger">{{ ::"no" | translate }}</span>
                    </td>
                    <td>{{ ::row.sentAt|date:'dd/MM/yyyy HH:mm' }}</td>
                    <td class="text-center">
                        <a acl="email-queue" ui-sref="app.email-queue-form({id: row.id})" class="btn btn-default btn-sm">
                            <span translate="view"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="7">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
