<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="contract_type"></span>
            <small class="pull-right">
                <a acl="contract-type" href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ui-sref="app.contract-type-form">
                    <i class="fa fa-plus"></i> <span translate="new"></span>
                </a>
            </small>
        </h4>
    </div>
    <div class="panel-body">
      <items-by-page></items-by-page>
      <table st-safe-src="rowCollection" st-table="displayCollection" class="table table-striped table-bordered  table-hover">
            <thead>
                <tr>
                    <th st-sort="labourLaw.name">
                        <span translate="labour_law"></span>
                    </th>
                    <th st-sort="name">
                        <span translate="name"></span>
                    </th>
                    <th st-sort="status" class="column-status">
                        <span translate="status"></span>
                    </th>
                    <th st-sort="updated_by.username">
                        <span translate="user-last-changed"></span>
                    </th>
                    <th st-sort="updated_at">
                        <span translate="updated_at"></span>
                    </th>
                    <th class="column-action">&nbsp;</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="labourLaw.name" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="name" class="form-control" type="search"/>
                    </th>
                    <th>
                        <select st-search="status" class="form-control">
                            <option value=""></option>
                            <option value="0">{{ ::"inactive" | translate }}</option>
                            <option value="1">{{ ::"active" | translate }}</option>
                        </select>
                    </th>
                    <th>
                        <input st-search="updated_by.username" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="updated_at" class="form-control" type="search"/>
                    </th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayCollection track by row.id">
                    <td>{{ ::row.labourLaw.name }}</td>
                    <td>{{ ::row.name }}</td>
                    <td>
                        <status value="row.status"></status>
                    </td>
                    <td>{{ ::row.updated_by.username }}</td>
                    <td>{{ ::row.updated_at|date:'dd/MM/yyyy HH:mm' }}</td>
                    <td class="text-center">
                        <a acl="contract-type" ui-sref="app.contract-type-form({id: row.id})" class="btn btn-default btn-sm">
                            <span translate="edit"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="6">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
