body {
    padding-top: 75px;
    font-size: 13px;
    /* background-color: #F4F0FF; */
}

.inss-small {
    width: 50px;
    height: 50px;
    padding-left: 50px;
    background: url('../imgs/logo_small.png') center center no-repeat;
}

.inss-logo {
    height: 100px;
    width: 100px;
    margin: 10px auto;
    display: block;
    background: url(../imgs/logo.png) center center no-repeat;
    background-size: contain;
}

.panel.disabled, .panel.disabled>.panel-heading {
    background-color: #ddd !important;
    border: #ddd !important;
    color: black;
}

ul.error-api li{
    padding: 5px;
}

/**
 * MENU ON HOVER
 */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/**
 * CHECKBOX
 */

.checkbox-display {
    font-size: 1.3em;
}

.checkbox label {
    padding-left: 0px;
}

.checkbox label:after, .radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr, .radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon, .radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon, .radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon, .radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr, .radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}


/**
 * DATATABLE
 */

th {
    text-transform: capitalize !important;
}

.column-status, .column-link {
    width: 150px !important;
}

.column-action {
    width: 70px !important;
}

.column-checkbox {
    width: 20px !important;
}


/**
 * FORM
 */

input.ui-select-search {
    min-height: 30px !important;
}

.ui-select-match-item {
    font-size: 1.2em;
}

.control-label .required {
    color: red;
}

/**
 * PANEL


.panel-info {
    border-color: #13abf2 !important;
}

.panel-info>.panel-heading {
    border-color: #13abf2 !important;
    background-color: #13abf2 !important;
}
 */

/**
 * TABLE
 */

.table {
    width: 100% !important;
}

.table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th {
    background-color: #13c4f4 !important;
}

td.detail-grid {
    background: url('../imgs/arrow-up.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.detail-grid {
    background: url('../imgs/arrow-down.png') no-repeat center center;
}


/**
 * UI_SELECT
 */

.ui-select-toggle.btn-default {
    background-color: #fff;
    color: #000;
}

.ui-select-toggle.btn-default:hover {
    background-color: #fff;
    color: #000;
}

.ui-select-toggle[disabled] {
    background-color: #E6E6E6 !important;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.pagination {
    margin: 0px;
}


/**
 * TREEVIEW
 */

.tree-view-wrapper, .tree-view-wrapper ul {
    list-style: none;
}

.show-hide, .edit {
    cursor: pointer;
}

.tree-checkbox {
    margin: 6px !important;
}

.edit {
    margin-right: 6px !important;
}

.edit i {
    color: #D77105;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/*input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #ff0039;
}*/

.calendar-conf {
    width: 100%;
}

.calendar-conf table {
    height: 400px;
    width: 100%;
}

.calendar-conf table td button {
    height: 60px;
}

.calendar-conf table td span {
    font-size: 16px;
}

.navbar-inverse {
    background-color: #158CBA;
    border-color: #127BA3;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}


/**
 * CALENDAR LARGE
 */

.holiday button {
    background-color: #FFBDB6 !important;
    border: 3px solid #A60C0C !important;
    border-width: 0 3px 0 0 !important;
}


.calendar-conf .btn.disabled,
.calendar-conf .btn[disabled] {
    opacity: 0.3 !important;
}

/**
 * SUBMENU
 */

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu >.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/**
 * TREEVIEW
 */
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.tree-nothandle{
    padding: 10px;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .modal-lg {
        width: 1100px;
    }
}

.stats {
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    background: #FFF9F9;
}

.stats hr {
    border: 3px;
}

.rounded {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}

.mini-stat {
  padding: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 6px 6px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 5px -4px rgba(0,0,0,0.75);
}

.mini-stat-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  background: none repeat scroll 0% 0% #EEE;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
  color: #FFF;
}

.mini-stat-info {
  font-size: 12px;
  padding-top: 2px;
  text-align: right;
}

.mini-stat-info span, 
.mini-stat-info p {
  color: white;
}

.mini-stat-info span {
  display: block;
  margin-bottom: 5px;
  margin-top: 7px;
  white-space: nowrap;
}

.mini-stat-info span.count {
font-size: 30px;
  font-weight: 600;
}

/* ================ colors =====================*/
.bg-blue {
  background-color: #3b5998 !important;
  border: 1px solid #3b5998;
  color: white;
}

.fg-blue {
  color: #3b5998 !important;
}

.bg-light-blue {
  background-color: #00a0d1 !important;
  border: 1px solid #00a0d1;
  color: white;
}

.fg-light-blue {
  color: #00a0d1 !important;
}

.bg-red {
  background-color: #db4a39 !important;
  border: 1px solid #db4a39;
  color: white;
}

.fg-red {
  color: #db4a39 !important;
}

.bg-dark-blue {
  background-color: #205081 !important;
  border: 1px solid #205081;
  color: white;
}

.fg-dark-blue {
  color: #205081 !important;
}

.chart {
  height: auto;
}