<h2 class="text-center">
    <span class="inss-logo"></span>

    <span translate="changes_history" class="text-capitalize"></span>
    -
    <span class="text-capitalize" translate="employer_entity"></span>
</h2>

<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="employer_entity"></span>
            <small class="pull-right">
                <a href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ng-if="canEdit()" ui-sref="app.company-form({updateSubscription: 1, id: user.employer.internalCode})">
                    <i class="fa fa-pencil"></i>
                    <span translate="edit"></span>
                </a>

                <a href="javascript:;" class="btn btn-info btn-sm text-capitalize" ng-if="user.isStaff()" ui-sref="app.company-list-update">
                    <i class="fa fa-arrow-left"></i>
                    <span translate="back"></span>
                </a>
            </small>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row" ng-if="employer">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span translate="employer_entity" class="text-capitalize"></span>
                            <span class="pull-right">
                                &nbsp;
                                <employer-status employer="employer"></employer-status>
                            </span>
                            <security-code model="employer"></security-code>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-12 employer-container">
                                <employer-display employer="employer"></employer-display>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <employer-search actions="actionsGrid" params="params"></employer-search>
    </div>
</div>
