<h2 class="text-center">
    <span class="inss-logo"></span>

    <span ng-if="!updateSubscription" translate="subscription" class="text-capitalize"></span>
    <span ng-if="updateSubscription" translate="subscription_change" class="text-capitalize"></span>
    -
    <span class="text-capitalize" translate="employer_entity"></span>
</h2>

<div class="alert alert-warning" ng-if="!updateSubscription && isSubmitted()" translate="subscription_submitted_already"></div>

<div class="alert alert-warning" ng-if="model.isSuspended()" translate="company_suspended_already"></div>
<div class="alert alert-warning" ng-if="model.isCeased()" translate="company_ceased_already"></div>

<div class="alert alert-danger" ng-if="isErrored() && !isErrorExpired()">
    <p translate="subscription_with_error" translate-values="errorDeadline"></p>
    <strong ng-if="model.justification">{{ model.justification }}</strong>
</div>

<div class="alert alert-danger" ng-if="isErrorExpired()">
    <p translate="subscription_with_error_expired" translate-values="errorDeadline"></p>
    <strong ng-if="model.justification">{{ model.justification }}</strong>
</div>

<div class="row">
    <div class="col-sm-5">
        <a class="btn btn-success text-capitalize pull-left" ng-if="version && model.id" ui-sref="app.company-list-changes({id: id})">
            <i class="fa fa-arrow-left"></i>
            <span translate="back"></span>
        </a>
    </div>
</div>

<br>

<form name="form" server-validate ng-submit="save(form, model)" local-storage storage="model" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">1</span>
                        &nbsp;
                        <span translate="identification" class="text-capitalize"></span>
                        <span class="pull-right">
                            &nbsp;
                            <employer-status employer="model"></employer-status>
                            &nbsp;
                            <version ng-if="version" entity="model"></version>
                        </span>
                        <security-code model="model"></security-code>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <employer-header disabled="!canEdit()" employer="model" on-update="setCompany(employer)"></employer-header>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">2</span>
                        &nbsp;
                        <span ng-if="!updateSubscription" translate="activity_registration" class="text-capitalize"></span>
                        <span ng-if="updateSubscription" translate="options_change" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group" ng-class="{ 'has-error': form.commercialName.$invalid && form.commercialName.$dirty }">
                                <label class="control-label text-capitalize">
                                    <span translate="commercial_name"></span><i class="required">*</i>
                                </label>
                                <input type="text" ng-disabled="!canEdit()" maxlength="200" name="commercialName" ng-model="model.commercialName" class="form-control" required>
                                <i class="help-block" ng-if="form.commercialName.$error.required"><span translate="required_message"></span></i>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" ng-class="{ 'has-error': form.sector.$invalid && form.sector.$dirty }">
                                <label class="control-label text-capitalize">
                                    <span translate="sector"></span></span><i class="required">*</i>
                                </label>

                                <ui-select name="sector" reset-search-input="true" ng-required="true" ng-disabled="!canEdit()" ng-model="model.sector" close-on-select="true" theme="bootstrap">
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in sectorsTree | selectPropsFilter: {name: $select.search, code:$select.search}">
                                        <div style="padding-left: {{15 * item.level}}px" ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                                <i class="help-block" ng-if="form.sector.$error.required"><span translate="required_message"></span></i>
                            </div>
                        </div>
                    </div>

                    <employer-data disabled="!canEdit()" employer="model"></employer-data>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">3</span>
                        &nbsp;
                        <span translate="other_subsidiaries" class="text-capitalize"></span>
                        <button ng-disabled="!canEdit()" style="margin-top: -6px" type="button" ng-click="addSubsidiary()" class="btn btn-sm btn-primary text-capitalize pull-right">
                            <i class="fa fa-plus-circle"></i>
                            <span translate="add"></span>
                        </button>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="alert alert-warning" ng-if="model.subsidiaries.length < 1">
                        <i class="fa fa-warning"></i>
                        <span translate="no_data"></span>
                    </div>

                    <ng-form class="subsidiary-item" name="subsidiariesForm" ng-repeat="subsidiary in model.subsidiaries">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="page-title text-uppercase">
                                    <small class="pull-right">
                                        <button type="button" ng-disabled="!canEdit()" class="btn btn-danger btn-sm text-capitalize" ng-click="removeSubsidiary(subsidiary)">
                                            <i class="fa fa-trash"></i>
                                            <span translate="remove"></span>
                                        </button>
                                    </small>
                                    <span translate="subsidiary"></span>
                                    <span ng-if="subsidiary.name">- {{subsidiary.name}}</span>
                                </h4>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" ng-class="{ 'has-error': subsidiariesForm.name.$invalid && subsidiariesForm.name.$dirty }">
                                            <label class="control-label text-capitalize">
                                                <span translate="subsidiary_name"></span><i class="required">*</i>
                                            </label>
                                            <input ng-disabled="!canEdit()" type="text" maxlength="200" name="name" ng-model="subsidiary.name" class="form-control" required>
                                            <i class="help-block" ng-if="subsidiariesForm.name.$error.required"><span translate="required_message"></span></i>
                                        </div>
                                    </div>
                                </div>
                                
                                <employer-data disabled="!canEdit()" employer="subsidiary" hide-num-worker="true"></employer-data>

                            </div>
                        </div>
                    </ng-form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">4</span>
                        &nbsp;
                        <span translate="managers" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <staff employer="model" disabled="!canEdit()"></staff>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">5</span>
                        &nbsp;
                        <span translate="files" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <file-upload disabled="!canEdit()" reference="E" model="model" on-new-file="setNewFile(file, model)"></file-upload>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center well">
            <button acl="employer-subscription" ng-if="!updateSubscription" type="submit" class="btn btn-primary btn-lg text-capitalize" ng-disabled="!canEdit()">
                <i class="fa fa-floppy-o"></i>
                <span translate="save"></span>
            </button>
            <button acl="employer-subscription" type="button" ng-click="submit(form, model)" class="btn btn-success btn-lg text-capitalize" ng-disabled="!canEdit()">
                <i class="fa fa-cloud-upload"></i>
                <span translate="save_and_submit"></span>
            </button>
        </div>
    </div>

</form>
