<h2 class="text-center">
    <span class="inss-logo"></span>

    <span translate="subscription_suspension" class="text-capitalize"></span>
    -
    <span class="text-capitalize" translate="employer_entity"></span>
</h2>

<div class="alert alert-warning" ng-if="!id" translate="select_company_suspension"></div>
<div class="alert alert-warning" ng-if="isSuspended()" translate="company_suspended_already"></div>
<div class="alert alert-warning" ng-if="isCeased()" translate="company_ceased_already"></div>

<div class="panel panel-default" ng-if="!id">
    <div class="panel-heading">
        <h4 class="page-title text-uppercase">
            <span translate="search_employer_entity"></span>
        </h4>
    </div>
    <div class="panel-body">
        <inline-search-employer employer="employer" callback="setCompany(employer)"></inline-search-employer>
    </div>
</div>

<form name="form" server-validate local-storage ng-submit="suspend(form)" novalidate>
    
    <div class="row" ng-if="employer">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="employer_entity" class="text-capitalize"></span>
                        <span class="pull-right">
                            &nbsp;
                            <employer-status employer="employer"></employer-status>
                        </span>
                        <security-code model="employer"></security-code>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 employer-container">
                            <employer-display employer="employer" ng-show="employer"></employer-display>
                            <address-display address="address" ng-show="employer" ng-repeat="address in employer.addresses|filter: {main: 1}"></address-display>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-if="!isSuspended() && !isCeased() && user.isEmployer()">
        <div class="row" ng-if="employer">

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="action"></span>
                    </label>
                    <div class="form-group">
                        <select class="form-control" ng-options="option.value as option.label for option in actions" ng-model="action.status"></select>
                    </div>
                </div>  
            </div>


            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="date_start_activity"></span>
                    </label>
                    <p class="input-group">
                        <input ng-disabled="true" type="text" class="form-control" data-mask="00/00/0000" uib-datepicker-popup="dd/MM/yyyy" ng-model="employer.dateStartActivity" name="dateStartActivity" >
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error': form.dateEndActivity.$invalid && form.dateEndActivity.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="date_end_activity"></span><i class="required">*</i>
                    </label>
                    <p class="input-group">
                        <input ng-disabled="!canSuspend()" type="text" datepicker-options="calendarOptions" ng-required="true" max-date="today" ng-model="employer.dateEndActivity" min-date="employer.dateStartActivity" name="dateEndActivity"
                            data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="employer.openEndActivity" close-text="{{ 'close' | translate }}" />
                        <span class="input-group-btn">
                            <button ng-disabled="!canSuspend()" type="button" class="btn btn-default" ng-click="employer.openEndActivity = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <i class="help-block" ng-if="form.dateEndActivity.$error.required"><span translate="required_message"></span></i>
                    <i class="help-block" ng-if="form.dateEndActivity.$error.date"><span translate="date_invalid_message"></span></i>
                    <i class="help-block" ng-if="form.dateEndActivity.$error.minDate"><span translate="error_ee_min_activity"></span></i>
                    <i class="help-block" ng-if="form.dateEndActivity.$error.maxDate"><span translate="not_later_today"></span></i>
                </div>
            </div>
        </div>

        <div class="row" ng-if="employer && user.isEmployer()">
            <div class="col-sm-12 text-center well">
                <button acl="employer-subscription" acl-action="edit" type="submit" class="btn btn-warning btn-lg text-capitalize" ng-disabled="!canSuspend()">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span ng-if="suspendedStatus == action.status" class="text-capitalize" translate="suspend"></span>
                    <span ng-if="ceasedStatus == action.status" class="text-capitalize" translate="cease"></span>
                </button>
            </div>
        </div>
    </div>


    <div ng-if="isSuspended() && user.isEmployer()">
        <div class="row" ng-if="employer">
            <div class="col-sm-12 text-center well">
                <button acl="employer-subscription" acl-action="edit" ng-disabled="!canActive()" type="button" ng-click="activate()" class="btn btn-success btn-lg text-capitalize">
                    <i class="fa fa-flash"></i>
                    <span class="text-capitalize" translate="activate"></span>
                </button>
                <button acl="employer-subscription" acl-action="edit" type="submit" class="btn btn-warning btn-lg text-capitalize">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="text-capitalize" translate="cease"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-warning" ng-if="employer">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="status_history"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <subscription-status-list rows="employer.statusHistory"></subscription-status-list>
                </div>
            </div>
        </div>
    </div>

</form>