<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="text-uppercase">
                <span class="inss-logo"></span>
                MSS - SISS
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">&nbsp;</div>
        <div class="col-sm-4 well">
            <form name="form" server-validate ng-submit="login(username, password)" >
                <fieldset>
                    <legend><span translate="login"></span></legend>
                    <div class="form-group" ng-class="{ 'has-error': formulario.username.$invalid && formulario.username.$dirty}">
                        <label class="control-label text-capitalize"><span translate="username"></span></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            <input type="text" tabindex="1" autofocus ng-model="username" id="username" name="username" class='form-control' ng-required="true">
                        </div>
                        <i class="help-block" ng-if="form.username.$dirty && form.username.$error.required"><span translate="required_message"></span></i>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && formulario.password.$dirty }">
                        <label class="control-label text-capitalize"><span translate="password"></span></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-key"></i>
                            </div>
                            <input type="password" tabindex="2" ng-model="password" name="password" class='form-control' ng-required="true">
                        </div>
                        <i class="help-block" ng-if="form.password.$dirty && formulario.password.$error.required"><span translate="required_message"></span></i>
                    </div>
                    <input type="submit" value="{{ btnLoginText }}" class="btn btn-primary" ng-disabled="form.$invalid || !btnLoginEnable">
                </fieldset>
            </form>
        </div>
        <div class="col-sm-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-4">&nbsp;</div>
        <div class="col-sm-4">&nbsp;</div>
        <div class="col-sm-4">&nbsp;</div>
    </div>
</div>
