<navigation></navigation>

<div class="container">
    <div class="row">
        <div class="cols-sm-12">
            <div ng-show="loading" class="text-center" style="margin-top: 50px">
                <img src="imgs/loading.gif" alt="loading">
                <h3 class="text-uppercase">
                    <span translate="loading"></span>
                </h3>
            </div>
            <div ng-hide="loading" ui-view></div>
        </div>
    </div>
</div>