<form name="form" server-validate novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                </small>
                <span translate="calendar"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info">
                        <p>
                            <span translate="warning_calendar"></span>
                        </p>
                        <p>
                            <strong class="text-capitalize" translate="holidays"></strong>:
                            {{holidaysTotal}}
                        </p>
                    </div>
                    <div uib-datepicker datepicker-options="options" ng-change="setDate(dt)" ng-if="update" ng-model="dt" class="well calendar-conf"></div>
                </div>
            </div>
        </div>
    </div>
</form>
