<form name="form" id="form" server-validate novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <button class="btn btn-default btn-sm text-capitalize" ng-click="cancel()">
                        <i class="fa fa-ban"></i>
                        <span translate="cancel"></span>
                    </button>
                    <button acl="activity-sector" ng-if="!model.id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="add(model)" >
                        <i class="fa fa-floppy-o"></i>
                        <span translate="save"></span>
                    </button>
                    <button acl="activity-sector" ng-if="model.id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="edit(model)" >
                        <i class="fa fa-floppy-o"></i>
                        <span translate="edit"></span>
                    </button>
                </small>
                <span translate="activity"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row" ng-if="model.parent">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label text-capitalize"><span translate="parent"></span></label>
                        <p>
                            <strong>{{ model.parent.code }} - {{ model.parent.name }}</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.code.$invalid && form.code.$dirty }">
                        <label class="control-label text-capitalize"><span translate="code"></span><i class="required">*</i></label>
                        <input type="text" class="form-control" id="code" name="code" maxlength="200" ng-model="model.code" autofocus required>
                        <i class="help-block" ng-if="form.code.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty }">
                        <label class="control-label text-capitalize"><span translate="name"></span><i class="required">*</i></label>
                        <input type="text" class="form-control" name="name" maxlength="200" ng-model="model.name" required>
                        <i class="help-block" ng-if="form.name.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="checkbox-display">
                           <input type="checkbox" ng-model="model.status" ng-true-value="1" ng-false-value="0">
                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                           <span class="text-capitalize"><span translate="status"></span></span>
                       </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="panel panel-default" id="treeview">
    <div class="panel-heading">
        <h4 class="page-title text-uppercase">
            <span translate="list_activity"></span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <label class="control-label text-capitalize"><span translate="search"></span></label>
                <div class="form-group">
                    <div class="input-group">
                        <input ng-model="query" class="form-control">
                        <span class="input-group-btn">
                            <button ng-click="expandAll()" class="btn btn-default"><span translate="expand_all"></span></button>
                            <button ng-click="collapseAll()" class="btn btn-default"><span translate="collapse_all"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-if="data.length <= 0"><span translate="not_found"></span></div>
                <div ui-tree="treeOptions" id="tree-root" ng-if="data.length > 0">
                    <ol ui-tree-nodes ng-model="data">
                        <li ng-repeat="node in data|filter:query" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TEMPLATE -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-default btn-xs" ng-if="node.children && node.children.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
        </a> 
        {{node.code }} - {{node.name}}
        <span class="pull-right">
            <a class="btn btn-primary btn-xs" data-nodrag ng-click="populateForm(node, $parentNodeScope)">
                <i class="fa fa-edit"></i>
                <span translate="edit"></span>
            </a>
            <a class="btn btn-info btn-xs" data-nodrag ng-click="addNewChild(node)">
                <i class="fa fa-plus-circle"></i>
                <span translate="add"></span>
            </a>
        </span>
    </div>
    <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children|filter:query" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>
