{% extends 'emails/layout.html.twig' %}

{% block content %}
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top: 30px; padding-bottom: 30px;"><![endif]-->
<div style="padding-right: 0px; padding-left: 0px; padding-top: 30px; padding-bottom: 30px;">
    <div style="font-size:12px;line-height:14px;color:#2C2D37;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
        <p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">
            <strong>
                <span style="font-size: 28px; line-height: 33px;">
                    {% trans %}person_activate{% endtrans %}
                </span>
            </strong>
        </p>
    </div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
<div style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
        <p style="margin: 0;font-size: 14px;line-height: 17px">
            {% trans %}person_activate_message{% endtrans %}
        </p>
        <br><br>
        <p style="margin: 0;font-size: 14px;line-height: 16px">
            {% trans %}username{% endtrans %}:
            <strong>
                {{ user.username }}
            </strong>
        </p>
        <p style="margin: 0;font-size: 14px;line-height: 16px">
            {% trans %}email{% endtrans %}:
            <strong>
                {{ user.email }}
            </strong>
        </p>
        <p style="margin: 0;font-size: 14px;line-height: 16px">
            {% trans %}person_name{% endtrans %}:
            <strong>
                <a href="{{ public_frontend }}#/person/form/{{user.person.id}}">
                    {{ user.person.displayName }}
                </a>
            </strong>
        </p>
    </div>
</div>
{% endblock %}
