{% extends 'emails/layout.html.twig' %}

{% block content %}
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top: 30px; padding-bottom: 30px;"><![endif]-->
<div style="padding-right: 0px; padding-left: 0px; padding-top: 30px; padding-bottom: 30px;">
    <div style="font-size:12px;line-height:14px;color:#2C2D37;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
        <p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">
            <strong>
                <span style="font-size: 28px; line-height: 33px;">
                    {% trans %}user_person_subscription_warning{% endtrans %}
                </span>
            </strong>
        </p>
    </div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
<div style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
        <p style="margin: 0;font-size: 14px;line-height: 17px">
            {% trans %}user_person_subscription_warning_text{% endtrans %}
        </p>
        <br><br>
        <p style="margin: 0;font-size: 14px;line-height: 16px">
            {% trans %}person_name{% endtrans %}:
            <strong>
                {{ user.person.name }}
            </strong>
        </p>
        <p style="margin: 0;font-size: 14px;line-height: 16px">
            {% trans %}company_name{% endtrans %}:
            <strong>
                {{ subscription.workSituation.placeOfWork.name }}
            </strong>
        </p>
        <p style="margin: 0;font-size: 14px;line-height: 16px">
            {% trans %}date_subscription{% endtrans %}:
            <strong>
                {{ subscription.dateStart|date("m/d/Y") }}
            </strong>
        </p>
        <p style="margin: 0;font-size: 14px;line-height: 16px">
            {% trans %}labour_law{% endtrans %}:
            <strong>
                {{ subscription.workSituation.labourLaw.name }}
            </strong>
        </p>
        <p style="margin: 0;font-size: 14px;line-height: 16px">
            {% trans %}contract_type{% endtrans %}:
            <strong>
                {{ subscription.workSituation.contractType.name }}
            </strong>
        </p>
        <p style="margin: 0;font-size: 14px;line-height: 16px">
            {% trans %}regime{% endtrans %}:
            <strong>
                {{ subscription.workSituation.regime.name }}
            </strong>
        </p>
        <br><br>
    </div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
<div align="center" class="button-container center" style="Margin-right: 10px;Margin-left: 10px;">
    <div style="line-height:10px;font-size:1px">
    </div>
    <a href="{{ public_frontend }}" style="color: #ffffff; text-decoration: none;" target="_blank">
        <!--[if mso]>
      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:42px; v-text-anchor:middle; width:112px;" arcsize="10%" strokecolor="#E95420" fillcolor="#E95420" >
      <w:anchorlock/><center style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:16px;">
    <![endif]-->
        <!--[if !mso]><!-->
        <div style="color: #ffffff; background-color: #E95420; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 92px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: center;">
            <!--<![endif]-->
            <span style="font-size:16px;line-height:32px;">
                {% trans %}access{% endtrans %}
            </span>
            <!--[if !mso]><!-->
        </div>
        <!--<![endif]-->
        <!--[if mso]>
          </center>
      </v:roundrect>
    <![endif]-->
    </a>
    <div style="line-height:10px;font-size:1px">
    </div>
</div>
{% endblock %}
