<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.labour-law-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="labour-law" ng-if="!id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="add(model)" >
                        <span translate="save"></span>
                    </button>
                    <button acl="labour-law" ng-if="id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="edit(id, model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="labour_law"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty }">
                        <label class="control-label text-capitalize"><span translate="name"></span><i class="required">*</i></label>
                        <input type="text" class="form-control" name="name" maxlength="200" autofocus ng-model="model.name" required>
                        <i class="help-block" ng-if="form.name.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="checkbox-display">
                           <input type="checkbox" ng-model="model.status" ng-true-value="1" ng-false-value="0">
                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                           <span class="text-capitalize"><span translate="status"></span></span>
                       </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
