<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="dashboard"></span>
        </h4>
    </div>
    <div class="panel-body">

        <div class="row">

           <div class="container bootstrap snippet">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="mini-stat employers clearfix bg-blue rounded">
                            <span class="mini-stat-icon"><i class="fa fa-building fg-blue"></i></span>
                            <div class="mini-stat-info">
                                <span class="count">{{ stats.employers }}</span>
                                <span class="text-capitalize" translate="stat_company_subscribed"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="mini-stat employees clearfix bg-light-blue rounded">
                            <span class="mini-stat-icon"><i class="fa fa-users fg-light-blue"></i></span>
                            <div class="mini-stat-info">
                                <span class="count">{{ stats.employees }}</span>
                                <span class="text-capitalize" translate="stat_tco_subscribed"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="mini-stat statements clearfix bg-red rounded">
                            <span class="mini-stat-icon"><i class="fa fa-file-text fg-red"></i></span>
                            <div class="mini-stat-info">
                                <span class="count">{{ stats.statements }}</span>
                                <span class="text-capitalize" translate="stat_remuneration_statement"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="mini-stat optional clearfix bg-dark-blue rounded">
                            <span class="mini-stat-icon"><i class="fa fa-user-plus fg-dark-blue"></i></span>
                            <div class="mini-stat-info">
                                <span class="count">{{ stats.optional }}</span>
                                <span class="text-capitalize" translate="stat_optional_subscriptions"></span>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="mini-stat payments clearfix bg-dark-blue rounded">
                            <span class="mini-stat-icon"><i class="fa fa-money fg-dark-blue"></i></span>
                            <div class="mini-stat-info">
                                <span class="count">{{ stats.payments|currency }}</span>
                                <span translate="stat_payment"></span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            
        </div>
    </div>
</div>

<div class="panel panel-default" ng-if="hasCharts()">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="charts"></span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 chart" ng-class="key" ng-repeat="(key, chart) in charts">
                <chart options="chart"></chart>
            </div>
        </div>
    </div>
</div>
