<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.occupation-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="occupation" ng-if="!id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="add(model)" >
                        <span translate="save"></span>
                    </button>
                    <button acl="occupation" ng-if="id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="edit(id, model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="occupation"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty }">
                        <label class="control-label text-capitalize"><span translate="name"></span><i class="required">*</i></label>
                        <input type="text" class="form-control" name="name" maxlength="200" autofocus ng-model="model.name" required>
                        <i class="help-block" ng-if="form.name.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label text-capitalize">&nbsp;</label>
                        <div class="checkbox">
                            <label class="checkbox-display">
                               <input type="checkbox" ng-model="model.status" ng-true-value="1" ng-false-value="0">
                               <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                               <span class="text-capitalize"><span translate="status"></span></span>
                           </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <fieldset>
                        <legend class="text-uppercase">
                            <span translate="wear"></span>
                            <small class="pull-right">
                                <button acl="occupation" type="button" class="btn btn-sm btn-primary" ng-click="addOccupationWear();">
                                    <i class="fa fa-plus"></i>
                                    <span translate="add"></span>
                                </button>
                            </small>
                        </legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="active">
                                            <th><b class="control-label"><span translate="wear"></span><i class="required">*</i></b></th>
                                            <th style="width: 15%;"><span translate="years"></span></th>
                                            <th style="width:120px;">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="wear in model.occupationWears" ng-form="wearForm">
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error': wearForm.wear.$invalid }">
                                                    <ui-select reset-search-input="true" deny-same-value name="wear" ng-model="wear.wear" close-on-select="true" theme="bootstrap" ng-required='true'>
                                                        <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in wears | selectPropsFilter: {name: $select.search}">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <i class="help-block" ng-if="wearForm.wear.$error.required"><span translate="required_message"></span></i>
                                                    <i class="help-block" ng-if="wearForm.wear.$error.denySameValue"><span translate="error_same_value"></span></i>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error': wearForm.years.$invalid }">
                                                    <input type="number" min="0" max="31" name="years" class="form-control" ng-model="wear.years">
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" ng-click="removeOccupationWear(wear)">
                                                    <i class="fa fa-trash"></i>
                                                    <span translate="remove"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>
