<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.tax-reduction-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="tax-reduction" ng-if="!id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="add(model)" >
                        <span translate="save"></span>
                    </button>
                    <button acl="tax-reduction" ng-if="id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="edit(id, model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="tax_reduction"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.year.$invalid && form.year.$dirty }">
                        <label class="control-label text-capitalize"><span translate="year"></span><i class="required">*</i></label>
                        <input type="text" mask="0000" class="form-control" name="year" maxlength="4" autofocus ng-model="model.year" required>
                        <i class="help-block" ng-if="form.year.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.reduction.$invalid && form.reduction.$dirty }">
                        <label class="control-label text-capitalize"><span translate="reduction"></span><i class="required">*</i></label>
                        <div class="input-group">
                            <input ui-number-mask="2" ui-hide-group-sep name="reduction" ng-model="model.reduction" class="form-control" required>
                            <div class="input-group-addon">%</div>
                        </div>
                        <i class="help-block" ng-if="form.reduction.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.employers.$invalid && form.employers.$dirty }">
                        <label class="control-label text-capitalize"><span translate="employers_number"></span><i class="required">*</i></label>
                        <input type="number" class="form-control" value="0" name="employers" maxlength="200" ng-model="model.employers" required>
                        <i class="help-block" ng-if="form.employers.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.nationalPercent.$invalid && form.nationalPercent.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="national_percent"></span>
                            <i class="required">*</i>
                        </label>
                        <div class="input-group">
                            <input ui-number-mask="2" ui-hide-group-sep name="nationalPercent" ng-model="model.nationalPercent" class="form-control" required>
                            <div class="input-group-addon">%</div>
                        </div>
                        <i class="help-block" ng-if="form.nationalPercent.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="checkbox">
                        <label class="checkbox-display">
                           <input type="checkbox" ng-model="model.acceptDebt" ng-true-value="1" ng-false-value="0">
                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                           <span class="text-capitalize"><span translate="accept_debt"></span></span>
                       </label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="checkbox">
                        <label class="checkbox-display">
                           <input type="checkbox" ng-model="model.status" ng-true-value="1" ng-false-value="0">
                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                           <span class="text-capitalize"><span translate="status"></span></span>
                       </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
