<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.document-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="document" ng-if="!id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="add(model)" >
                        <span translate="save"></span>
                    </button>
                    <button acl="document" ng-if="id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="edit(id, model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="document"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.title.$invalid && form.title.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="name"></span>
                            <i class="required">*</i>
                        </label>
                        <input type="text" class="form-control"  maxlength="200" autofocus ng-model="model.title" name="title" required>
                        <i class="help-block" ng-if="form.title.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.type.$invalid && form.type.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="type"></span>
                            <i class="required">*</i>
                        </label>
                        <select class="form-control" name="type" required ng-model="model.type" ng-options="item.name for item in types track by item.id"></select>
                        <i class="help-block" ng-if="form.type.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.file.$invalid && form.file.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="file"></span>
                            <i class="required" ng-if="!model.path">*</i>
                        </label>
                        <input type="file" ngf-select ng-model="model.file" name="file" ng-required="!model.path">
                        <i class="help-block" ng-if="form.file.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="checkbox-display">
                           <input type="checkbox" ng-model="model.status" ng-true-value="1" ng-false-value="0">
                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                           <span class="text-capitalize"><span translate="status"></span></span>
                       </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
