<h2 class="text-center">
    <span class="inss-logo"></span>

    <span translate="document_inss" class="text-capitalize"></span>
</h2>

<div class="alert alert-warning" ng-if="!hasDocuments">
    <i class="fa fa-warning"></i>
    <span translate="no_data"></span>
</div>

<div class="panel" ng-class-odd="'panel-info'" ng-class-even="'panel-warning'" ng-repeat="(typeName, files) in documents">
    <div class="panel-heading text-uppercase">
        <h4>
            <span>{{typeName}}</span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="file in files" class="col-sm-3">
                <a href="{{ pathDownload(file) }}" target="_blank">
                    <i class="fa fa-file"></i>

                    {{ file.title }}
                </a>
            </div>
        </div>
    </div>
</div>
