<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.convention-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="convention" ng-if="!id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="add(model)" >
                        <span translate="save"></span>
                    </button>
                    <button acl="convention" ng-if="id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="edit(id, model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="convention"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error': form.country.$invalid && form.country.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="country"></span><i class="required">*</i>
                        </label>
                        <ui-select  ng-model="model.country" theme="bootstrap" close-on-select="true" >
                            <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in countries | selectPropsFilter: {name: $select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <i class="help-block" ng-if="form.country.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error': form.years.$invalid && form.years.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="years"></span><i class="required">*</i>
                        </label>
                        <input type="number" ng-model="model.years" name="years" class="form-control"  ng-required="true" />
                        <i class="help-block" ng-if="form.years.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="checkbox-display">
                           <input type="checkbox" ng-model="model.status" ng-true-value="1" ng-false-value="0">
                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                           <span class="text-capitalize"><span translate="status"></span></span>
                       </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
