<form name="form" server-validate ng-submit="submit(form, model)" local-storage storage="model" dates="['dateStart', 'dateEnd']" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.contribution-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="contribution" type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-sm text-capitalize">
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="contribution"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.person.$invalid && form.person.$dirty }">
                        <label class="control-label"><span translate="employee"></span><i class="required">*</i></label>
                        <div class="input-group">
                            <input type="text" disabled value="{{ model.personDisplay }}" class="form-control">
                            <input type="hidden" ng-model="model.person" name="person" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-disabled="id" ng-click="personModal()" title="{{ ::'choose' | translate }}">
                                    <i class="fa fa-list"></i>
                                </button>
                                <a ng-if="model.person" target="_blank" class="btn btn-info" title="{{ ::'view' | translate }}" ui-sref="app.person-form({id: model.person})">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <i class="help-block" ng-if="form.person.$error.required"><span translate="required_message"></span></i>
                        <i class="help-block text-warning" ng-if="person.dod">
                            <span translate="person_deceased"></span> {{person.dod|date:'dd/MM/yyyy'}}
                        </i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.dateStart.$invalid && form.dateStart.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="date_start"></span><i class="required">*</i>
                        </label>
                        <div class="input-group">
                            <input type="text" ng-model="model.dateStart" max-date="model.dateEnd" ng-change="calculateWorkDay()" datepicker-options="dateStartOptions" name="dateStart" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="calendar.start" close-text="{{ 'close' | translate }}" ng-required="true"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar('start')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <i class="help-block" ng-if="form.dateStart.$error.required"><span translate="required_message"></span></i>
                        <i class="help-block text-danger" ng-if="form.dateStart.$error.maxDate"><span translate="error_max_date"></span></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.dateEnd.$invalid && form.dateEnd.$dirty }">
                        <label class="control-label text-capitalize">
                            <span translate="date_end"></span><i class="required">*</i>
                        </label>
                        <div class="input-group">
                            <input type="text" ng-model="model.dateEnd" same-month="model.dateStart" min-date="model.dateStart" max-date="person.dod" datepicker-options="dateEndOptions" name="dateEnd" ng-change="calculateWorkDay()" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="calendar.end" close-text="{{ 'close' | translate }}" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar('end')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <i class="help-block" ng-if="form.dateEnd.$error.required"><span translate="required_message"></span></i>
                        <i class="help-block text-danger" ng-if="form.dateEnd.$error.maxDate"><span translate="date_end_deceased"></span></i>
                        <i class="help-block text-danger" ng-if="form.dateEnd.$error.minDate"><span translate="error_min_date"></span></i>
                        <i class="help-block text-danger" ng-if="form.dateEnd.$error.sameMonth"><span translate="error_same_month"></span></i>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label text-capitalize"><span translate="work_days"></span></label>
                        <input type="number" class="form-control" name="workDays" ng-model="model.workDays" disabled>
                    </div>
                </div>
            </div>
            <fieldset>
                <legend class="text-uppercase">
                    <span translate="entity"></span>
                </legend>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label text-capitalize"><span translate="employer"></span></label>
                        <div class="input-group">
                            <input type="text" disabled value="{{ model.employerDisplay }}" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="employerModal()" title="{{ ::'choose' | translate }}">
                                    <i class="fa fa-list"></i>
                                </button>
                                <!-- <button ng-if="model.employer" type="button" class="btn btn-danger" ng-click="cancelEmployer()" title="{{ ::'clear' | translate }}">
                                    <i class="fa fa-trash"></i>
                                </button> -->
                                <a ng-if="model.employer" target="_blank" class="btn btn-info" ui-sref="app.employer-form({id: model.employer})" title="{{ ::'view' | translate }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label text-capitalize"><span translate="sector"></span></label>
                        <input type="text" disabled value="{{ model.employerSector.name }}" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label text-capitalize"><span translate="contract_type"></span></label>
                            <ui-select ng-disabled="!model.employer" reset-search-input="true" ng-model="model.contractType" close-on-select="true" theme="bootstrap">
                                <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in contractsTypes | selectPropsFilter: {name: $select.search}">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label text-capitalize"><span translate="has_contract"></span></label>
                            <ui-select ng-disabled="!model.employer" reset-search-input="true" ng-model="model.contractStatus" close-on-select="true" theme="bootstrap">
                                <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in contractsStatus | selectPropsFilter: {name: $select.search}">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend class="text-uppercase">
                    <span translate="license"></span>
                    <small class="pull-right">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="addLicense();">
                            <i class="fa fa-plus"></i>
                            <span translate="add"></span>
                        </button>
                    </small>
                </legend>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="active">
                                    <th><b class="control-label"><span translate="type"></span><i class="required">*</i></b></th>
                                    <th style="width: 15%;"><span translate="days"></span></th>
                                    <th style="width:120px;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="text-capitalize" translate="absences"></span></td>
                                    <td>
                                        <div class="form-group" ng-class="{ 'has-error': form.absences.$invalid }">
                                            <input type="number" max-shared="model.workDays" min="0" class="form-control" max="365" name="absences" data-mask="000" ng-model="model.absences" required>
                                            <i class="help-block" ng-if="form.absences.$error.required"><span translate="required_message"></span></i>
                                            <i class="help-block" ng-if="form.absences.$error.maxShared"><span translate="error_max_shared"></span></i>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="license in model.licenses" class="trLicense" ng-form="licenseForm">
                                    <td>
                                        <div class="form-group" ng-class="{ 'has-error': licenseForm.license.$invalid }">
                                            <ui-select reset-search-input="true" ng-change="calculateWorkedDays()" name="license" ng-model="license.license" close-on-select="true" theme="bootstrap" ng-required='true'>
                                                <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item in licensesCombo | selectPropsFilter: {name: $select.search}">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <i class="help-block" ng-if="licenseForm.license.$error.required"><span translate="required_message"></span></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" ng-class="{ 'has-error': licenseForm.days.$invalid }">
                                            <input type="number" max-shared="model.workDays" min="0" ng-max="getMaxLicense(license.license)" name="days" class="form-control" ng-change="calculateWorkedDays()" ng-model="license.days">
                                            <i class="help-block" ng-if="licenseForm.days.$error.max"><span translate="error_max_value"></span></i>
                                            <i class="help-block" ng-if="licenseForm.days.$error.maxShared"><span translate="error_max_shared"></span></i>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" ng-click="removeLicense(license)">
                                            <i class="fa fa-trash"></i>
                                            <span translate="remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="text-uppercase"><span translate="theoretical"></span></legend>
                <div class="row">
                    <div class="col-sm-4">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="active">
                                        <span class="text-uppercase" translate="theoretical_income"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span translate="days_in_period"></span>
                                    </td>
                                    <td class="column-status">
                                        <input type="text" name="daysInPeriod" ng-model="model.daysInPeriod" class="form-control" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="hours_day"></span>
                                    </td>
                                    <td>
                                        <input type="text" min="0" ui-number-mask="2" ui-hide-group-sep name="hoursDay" ng-model="model.hoursDay" class="form-control">
                                        <i class="help-block text-warning" ng-if="model.hoursDay > 8"><span translate="hours_day_extra"></span></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="hour_cost"></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input type="text"  min="0" ui-number-mask="2" ui-hide-group-sep name="hourCost" ng-model="model.hourCost" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b translate="monthly_income"></b>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input type="text" ui-number-mask="2" ui-hide-group-sep name="theoricalIncome" ng-model="model.theoricalIncome" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-5">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="3" class="active">
                                        <span class="text-uppercase" translate="overtime"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="o in model.overtime track by o.data.id">
                                    <td>
                                        <span class="text-capitalize" translate="ratio"></span>: <b>{{ ::o.data.ratio }}</b>
                                    </td>
                                    <td class="column-status">
                                        <input type="number" min="0" ng-model="o.value" ng-change="calculateOvertime()" class="form-control">
                                    </td>
                                    <td class="column-status">
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input type="text" ui-number-mask="2" ui-hide-group-sep class="form-control" ng-model="o.total" disabled>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <b translate="total"></b>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="totalOvertime" ng-model="model.totalOvertime" class="form-control" disabled>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="active">
                                        <span class="text-uppercase" translate="allowance"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="text-capitalize" translate="allowance"></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input type="text" ui-number-mask="2" ui-hide-group-sep name="allowance" ng-model="model.allowance" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="well">
                            <h4>
                                <span translate="total_theorical_income"></span>
                                <p style="font-weight: bold;">{{ model.totalTheoricalIncome | currency }}</p>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <span translate="worked_days"></span>
                                    </td>
                                    <td class="column-status">
                                        <input type="number" name="workedDays" ng-model="model.workedDays" class="form-control" disabled>
                                    </td>
                                    <td>
                                        <span translate="declared_income"></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input type="text" ui-number-mask="2" ui-hide-group-sep name="declaredIncome" class="form-control" ng-model="model.declaredIncome" disabled>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="text-uppercase" translate="contributions"></legend>
               <!--  <div class="row">
                   <div class="col-sm-4">
                       <table class="table table-bordered">
                           <tbody>
                               <tr>
                                   <td>
                                       <span translate="voluntary"></span>
                                   </td>
                                   <td class="column-status">
                                       <div class="input-group">
                                           <div class="input-group-addon">$</div>
                                           <input type="text" ui-number-mask="2" ng-disabled="model.employer" ui-hide-group-sep name="voluntary" ng-model="model.voluntary" class="form-control">
                                       </div>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
                   <div class="col-sm-5">
                   </div>
                   <div class="col-sm-3">
                   </div>
               </div> -->
                <div class="row" ng-if="!model.voluntary">
                    <div class="col-sm-8">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="active">
                                    <th colspan="5">
                                        <span class="text-uppercase" translate="theorical"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-center">
                                        <b translate="equivalence"></b>
                                    </td>
                                    <td class="text-center">
                                        <b translate="total"></b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="employee"></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="theoricalEmployeeContribution" ng-model="model.theoricalEmployeeContribution" class="form-control" disabled>
                                        </div>
                                    </td>
                                    <td>
                                        {{model.employeeTax}}%
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="parEmployeeContribution" ng-model="model.parEmployeeContribution" class="form-control" disabled>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="theoricalTotalEmployeeContribution" ng-model="model.theoricalTotalEmployeeContribution" class="form-control" disabled>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="employer"></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="theoricalEmployerContribution" ng-model="model.theoricalEmployerContribution" class="form-control" disabled>
                                        </div>
                                    </td>
                                    <td>
                                        {{model.employerTax}}%
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="parEmployerContribution" ng-model="model.parEmployerContribution" class="form-control" disabled>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="theoricalTotalEmployerContribution" ng-model="model.theoricalTotalEmployerContribution" class="form-control" disabled>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b translate="total"></b>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="theoricalContribution" ng-model="model.theoricalContribution" class="form-control" disabled>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="parTotalContribution" ng-model="model.parTotalContribution" class="form-control" disabled>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="theoricalTotalContribution" ng-model="model.theoricalTotalContribution" class="form-control" disabled>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="active">
                                    <th colspan="2">
                                        <span class="text-uppercase" translate="paid"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                    <td>
                                        <span translate="employee"></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="paidEmployeeContribution" ng-model="model.paidEmployeeContribution" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="employer"></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="paidEmployerContribution" ng-model="model.paidEmployerContribution" class="form-control">
                                        </div>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>
                                        <b translate="total"></b>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input ui-number-mask="2" ui-hide-group-sep name="paidTotalContribution" ng-model="model.paidTotalContribution" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b translate="debt"></b>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input type="text" ui-number-mask="2" ui-hide-group-sep name="debt" ng-model="model.debt" class="form-control" ng-class="{'text-danger': model.debt < 0, 'text-success': model.debt >= 0 }" disabled>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
