<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="contribution"></span>
            <small class="pull-right">
                <a acl="contribution" href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ui-sref="app.contribution-form">
                    <i class="fa fa-plus"></i>
                    <span translate="new"></span>
                </a>
            </small>
        </h4>
    </div>
    <div class="panel-body">
        <contribution-search actions="gridAction" delete-contributions="deleteContributions"></contribution-search>
    </div>
</div>
