<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.village-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="village" ng-if="!id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="add(model)" >
                        <span translate="save"></span>
                    </button>
                    <button acl="village" ng-if="id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="edit(id, model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="village"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label text-capitalize"><span translate="municipio"></span></label>
                        <select class="form-control" required ng-model="model.municipio" ng-options="item.id as item.displayName for item in municipios"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label text-capitalize"><span translate="posto_administrativo"></span></label>
                        <select class="form-control" required ng-model="model.postoAdministrativo" ng-options="item.id as item.displayName for item in postosAdministrativos"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label text-capitalize"><span translate="suku"></span></label>
                        <select class="form-control" required ng-model="model.suku" ng-options="item.id as item.displayName for item in sukus"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.referenceCode.$invalid && form.referenceCode.$dirty }">
                        <label class="control-label text-capitalize"><span translate="code"></span></label>
                        <input type="text" class="form-control" name="referenceCode" maxlength="200" autofocus ng-model="model.referenceCode">
                        <i class="help-block" ng-if="form.referenceCode.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label text-capitalize"><span translate="village"></span><i class="required">*</i></label>
                        <input type="text" class="form-control"  maxlength="200" autofocus ng-model="model.name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="checkbox-display">
                           <input type="checkbox" ng-model="model.status" ng-true-value="1" ng-false-value="0">
                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                           <span class="text-capitalize"><span translate="status"></span></span>
                       </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
