<form name="form" server-validate ng-submit="submit(form, model)" local-storage storage="model" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <h4 class="page-title text-uppercase">
                    <small class="pull-right">
                        <a ui-sref='app.employer-list' class="btn btn-default btn-sm text-capitalize">
                            <i class="fa fa-chevron-left"></i>
                            <span translate="back"></span>
                        </a>
                        <!-- <a acl="employer" href="javascript:;" ng-if="model.id" class="btn btn-info btn-sm text-capitalize" ui-sref="app.employer-form({id: ''})" ui-sref-opts="{reload: true, notify: true}">
                            <i class="fa fa-plus"></i>
                            <span translate="new"></span>
                        </a>
                        <button acl="employer" type="submit" class="btn btn-primary btn-sm text-capitalize">
                            <span translate="save"></span>
                        </button> -->
                    </small>
                    
                    <employer-name employer="model"></employer-name>
                    <employer-status employer="model"></employer-status>
                </h4>
            </h4>
        </div>
        <div class="panel-body">
            <uib-tabset active="active">
                <uib-tab index="0" class="text-capitalize" select="focus('name');">
                    <uib-tab-heading>
                        <i ng-if="form.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="info"></span>
                    </uib-tab-heading>
                    <p>
                        <div class="row">
                            <div class="col-sm-12">
                                <employer-header disabled="!canEdit()" employer="model" on-update="employerAlreadyThere(employer)"></employer-header>
                            </div>
                        </div>
                    </p>
                </uib-tab>

                <uib-tab index="2" class="text-capitalize" select="focus('address');">
                    <uib-tab-heading>
                        <i ng-if="form.addressForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="address"></span>
                    </uib-tab-heading>


                    <p style="margin-top:15px;">
                        <button type="button" ng-disabled="!canEdit()" class="btn btn-primary btn-sm text-capitalize" ng-click="addAddress();">
                            <i class="fa fa-plus"></i>
                            <span translate="add"></span>
                            <span translate="address"></span>
                        </button>

                        <div class="alert alert-info" ng-if="model.addresses.length < 1">
                            <i class="fa fa-warning"></i>
                            <span translate="no_data"></span>
                        </div>

                        <div class="row">
                            <div class="col-sm-12" ng-repeat='address in model.addresses'>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="page-title text-uppercase">
                                            <small class="pull-right">
                                                <button type="button" ng-disabled="!canEdit()" class="btn btn-danger btn-sm text-capitalize" ng-click="removeAddress(address)">
                                                    <i class="fa fa-trash"></i>
                                                    <span translate="remove"></span>
                                                </button>
                                            </small>
                                            <span translate="address"></span>
                                        </h4>
                                    </div>
                                    <div class="panel-body scrollToAddress">
                                        <address model="address" disabled="!canEdit()" required="true"></address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                </uib-tab>

                <uib-tab index="3" class="text-capitalize" select="focus('commercialName');">
                    <uib-tab-heading>
                        <i ng-if="form.employerActivityForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="activity_registration"></span>
                    </uib-tab-heading>

                    <ng-form name="employerActivityForm">
                        <p style="margin-top:15px;" ng-form="employerActivityForm">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group" ng-class="{ 'has-error': form.employerActivityForm.commercialName.$invalid && form.employerActivityForm.commercialName.$dirty }">
                                        <label class="control-label text-capitalize">
                                            <span translate="commercial_name"></span><i class="required">*</i>
                                        </label>
                                        <input type="text" ng-disabled="!canEdit()" maxlength="200" name="commercialName" ng-model="model.commercialName" class="form-control" ng-required="true">
                                        <i class="help-block" ng-if="form.employerActivityForm.commercialName.$error.required"><span translate="required_message"></span></i>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error': form.employerActivityForm.sector.$invalid && form.employerActivityForm.sector.$dirty }">
                                        <label class="control-label text-capitalize">
                                            <span translate="sector"></span></span><i class="required">*</i>
                                        </label>
                                    
                                        <ui-select ng-disabled="!canEdit()" reset-search-input="true" name="sector" ng-required="true" ng-model="model.sector" close-on-select="true" theme="bootstrap">
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in sectorsTree | selectPropsFilter: {name: $select.search, code:$select.search}">
                                                <div style="padding-left: {{15 * item.level}}px" ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>

                                        <i class="help-block" ng-if="form.employerActivityForm.sector.$error.required"><span translate="required_message"></span></i>
                                    </div>
                                </div>
                            </div>

                            <employer-data disabled="!canEdit()" employer="model" add-address="false" end-activity="true"></employer-data>
                        </p>
                    </ng-form>
                </uib-tab>

                <uib-tab index="4" class="text-capitalize" select="focus('name');">
                    <uib-tab-heading>
                        <i ng-if="form.subsidiariesForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="other_subsidiaries_short"></span>
                    </uib-tab-heading>

                    <p style="margin-top:15px;">
                        <button type="button" ng-disabled="!canEdit()" class="btn btn-primary btn-sm text-capitalize" ng-click="addSubsidiary();">
                            <i class="fa fa-plus"></i>
                            <span translate="add"></span>
                        </button>

                        <div class="alert alert-info" ng-if="model.subsidiaries.length < 1">
                            <i class="fa fa-warning"></i>
                            <span translate="no_data"></span>
                        </div>

                        <ng-form name="subsidiariesForm" ng-repeat="subsidiary in model.subsidiaries">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="page-title text-uppercase">
                                        <small class="pull-right">
                                            <button ng-disabled="!canEdit()" type="button" class="btn btn-danger btn-sm text-capitalize" ng-click="removeSubsidiary(subsidiary)">
                                                <i class="fa fa-trash"></i>
                                                <span translate="remove"></span>
                                            </button>
                                        </small>
                                        <span translate="subsidiary"></span>
                                        <span ng-if="subsidiary.name">- {{subsidiary.name}}</span>
                                    </h4>
                                </div>
                                <div class="panel-body subsidiary-item">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group" ng-class="{ 'has-error': subsidiariesForm.name.$invalid && subsidiariesForm.name.$dirty }">
                                                <label class="control-label text-capitalize">
                                                    <span translate="subsidiary_name"></span><i class="required">*</i>
                                                </label>
                                                <input ng-disabled="!canEdit()" type="text" maxlength="200" name="name" ng-model="subsidiary.name" class="form-control" required>
                                                <i class="help-block" ng-if="subsidiariesForm.name.$error.required"><span translate="required_message"></span></i>
                                            </div>
                                        </div>
                                    </div>
                                    <employer-data disabled="!canEdit()" employer="subsidiary" hide-num-worker="true"></employer-data>
                                </div>
                            </div>
                        </ng-form>
                    </p>
                </uib-tab>

                <uib-tab index="5" class="text-capitalize">
                    <uib-tab-heading>
                        <i ng-if="form.staffForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="managers_short"></span>
                    </uib-tab-heading>

                    <p style="margin-top:15px;">
                        <staff employer="model" disabled="!canEdit()"></staff>
                    </p>
                </uib-tab>

                <!-- <uib-tab index="6" class="text-capitalize" select="focus('name');">
                    <uib-tab-heading>
                        <i ng-if="form.bankInformationForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="bank_information"></span>
                    </uib-tab-heading>
                    <p style="margin-top:15px;">
                        <bank-information model="model.bankInformation"></bank-information>
                    </p>
                </uib-tab> -->

                <uib-tab index="7" class="text-capitalize" select="focus('subscriptionStatus');" ng-if="model.id">
                    <uib-tab-heading>
                        <i ng-if="form.feedbackForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="feedback"></span>
                    </uib-tab-heading>
                    <p style="margin-top:15px;">
                        <feedback model="model" reference="employer" on-new-feedback="setNewFeedback(feedback)"></feedback>
                    </p>
                </uib-tab>

                <uib-tab index="8" class="text-capitalize" ng-if="model.id">
                    <uib-tab-heading>
                        <span translate="history"></span>
                    </uib-tab-heading>
                    <p style="margin-top:15px;">
                        <subscription-status-list rows="model.statusHistory"></subscription-status-list>
                    </p>
                </uib-tab>

                <uib-tab index="9" class="text-capitalize stats-container" disable="id == null">
                    <uib-tab-heading>
                        <span translate="overview"></span>
                    </uib-tab-heading>
                    <br/>
                    <div class="row">
                        <div class="col-sm-8">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="text-capitalize active">
                                            <span translate="total_employees_active"></span></span>
                                        </td>
                                        <td style="width: 90px;" class="text-right">
                                            <b>{{ stats.totalEmployeesActive }}</b>
                                        </td>
                                        <td class="text-capitalize active">
                                            <span translate="num_workers_national"></span></span>
                                        </td>
                                        <td style="width: 90px;" class="text-right">
                                            <b>{{ stats.totalNationalActive }}</b>
                                        </td>
                                        <td style="width: 130px;" class="text-right">
                                            <div class="input-group">
                                                <input name="nationalPercent" ng-disabled="true" value="{{ stats.nationalPercent|number: 2 }}" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize active">
                                            <span translate="total_managers"></span></span>
                                        </td>
                                        <td style="width: 90px;" class="text-right">
                                            <b>{{ stats.totalManagers }}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize active">
                                            <span translate="total_employees_inactive"></span></span>
                                        </td>
                                        <td style="width: 90px;" class="text-right">
                                            <b>{{ stats.totalEmployeesInactive }}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize active">
                                            <strong translate="total_employees"></strong>
                                        </td>
                                        <td style="width: 90px;" class="text-right">
                                            <b>{{ stats.totalEmployees}}</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-sm-4">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="text-capitalize active">
                                            <span translate="debt"></span>
                                        </td>
                                        <td style="width: 90px;" class="text-right">
                                            <b>{{ stats.totalDebt | currency }}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize active">
                                            <span translate="fine"></span>
                                        </td>
                                        <td style="width: 90px;" class="text-right">
                                            <b>{{ stats.totalFine | currency }}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize active">
                                            <span translate="interest"></span>
                                        </td>
                                        <td style="width: 90px;" class="text-right">
                                            <b>{{ stats.totalInterest | currency }}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize active">
                                            <span translate="total_debt"></span>
                                        </td>
                                        <td style="width: 90px;" class="text-right">
                                            <b>{{ stats.totalFinalDebt | currency }}</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                     <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-info panel-employees-subscribed">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <span translate="tco_subscribed" class="text-capitalize"></span>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <worker-list rows="employeesSubscribed" employer="model"></worker-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="text-uppercase" translate="employees"></span>
                                </div>
                                <div class="panel-body" style="overflow-x: auto">
                                    <table st-safe-src="rowCollectionEmployees" st-table="displayCollectionEmployees" class="table table-striped table-bordered  table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th st-sort="securityCode" class="column-status">
                                                    <span translate="security_code"></span>
                                                </th>
                                                <th st-sort="dateStart" class="column-status">
                                                    <span translate="date_start"></span>
                                                </th>
                                                <th st-sort="dateEnd" class="column-status">
                                                    <span translate="date_end"></span>
                                                </th>
                                                <th class="column-status">
                                                    <span translate="situation"></span>
                                                </th>
                                                <th st-sort="personName" style="width:250px;">
                                                    <span translate="employee"></span>
                                                </th>
                                                <th st-sort="contractType" style="width:200px;">
                                                    <span translate="contract_type"></span>
                                                </th>
                                                <th st-sort="workedDays" class="column-status">
                                                    <span translate="worked_days"></span>
                                                </th>
                                                <th st-sort="averageIncome" class="column-status">
                                                    <span translate="average_income"></span>
                                                </th>
                                                <th st-sort="totalIncome" class="column-status">
                                                    <span translate="total_income"></span>
                                                </th>
                                                <th st-sort="debt" class="column-status">
                                                    <span translate="debt"></span>
                                                </th>
                                                <th st-sort="fine" class="column-status text-info">
                                                    <span translate="fine"></span>
                                                </th>
                                                <th st-sort="interest" class="column-status text-info">
                                                    <span translate="interest"></span>
                                                </th>
                                                <th st-sort="finalDebt" class="column-status">
                                                    <span translate="total_debt"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="row in displayCollectionEmployees">
                                                <td>
                                                    <button type="button" ng-click="row.show = !row.show" class="btn btn-primary btn-sm text-capitalize">
                                                        <i class="fa" ng-class="{'fa-plus-circle': !row.show, 'fa-minus-circle': row.show}" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" target="_blank" ui-sref="app.person-form({id:row.person})">
                                                        {{ ::row.securityCode }}
                                                    </a>
                                                </td>
                                                <td>{{ ::row.dateStart | date: 'dd/MM/yyyy' }}</td>
                                                <td>{{ ::row.dateEnd | date: 'dd/MM/yyyy' }}</td>
                                                <td>
                                                    <span class="label" ng-class="{'label-success': row.contractStatusActive, 'label-warning': !row.contractStatusActive}">
                                                        {{ ::row.contractStatus }}
                                                    </span>
                                                </td>
                                                <td>{{ ::row.personName }}</td>
                                                <td>{{ ::row.contractType }}</td>
                                                <td>{{ ::row.workedDays }}</td>
                                                <td>{{ ::row.averageIncome | currency}}</td>
                                                <td>{{ ::row.totalIncome | currency}}</td>
                                                <td>{{ ::row.debt | currency}}</td>
                                                <td class="text-info">{{ 0 | currency}}</td>
                                                <td class="text-info">{{ 0 | currency }}</td>
                                                <td>{{ ::row.finalDebt | currency }}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-show="row.show">
                                                <td colspan="14">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr class="info">
                                                                <th class="text-center" colspan="10">
                                                                    <span class="text-uppercase" translate="license"></span>
                                                                </th>
                                                            </tr>
                                                            <tr class="active">
                                                                <th><span translate="type"></span></th>
                                                                <th style="width: 15%;"><span translate="days"></span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-if="row.absences > 0">
                                                                <td><span class="text-capitalize" translate="absences"></span></td>
                                                                <td>{{ ::row.absences }}</td>
                                                            </tr>
                                                            <tr ng-repeat="license in row.licenses">
                                                                <td>{{ ::license.name }}</td>
                                                                <td>{{ ::license.days }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>-->

                </uib-tab>


            </uib-tabset>
            </div>
        </div>
</form>
