<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="employer"></span>
            <!-- <small class="pull-right">
                <a acl="employer" href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ui-sref="app.employer-form">
                    <i class="fa fa-plus"></i>
                    <span translate="new"></span>
                </a>
            </small> -->
        </h4>
    </div>
    <div class="panel-body">
        <employer-search actions="actionsGrid" params="params"></employer-search>
    </div>
</div>