<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.user-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="user" ng-if="!id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="add(model)" >
                        <span translate="save"></span>
                    </button>
                    <button acl="user" ng-if="id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="edit(id, model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="user"></span>
            </h4>
        </div>
        <div class="panel-body">
            
            <!-- <div class="alert alert-info" translate="username_pattern"></div> -->

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error': form.username.$invalid && form.username.$touched }">
                        <label class="control-label text-capitalize"><span translate="username"></span><i class="required">*</i></label>
                        <input type="text" class="form-control" name="username" maxlength="200" autofocus ng-model="model.username" required>
                        <!-- ng-pattern="/^[a-zA-Z0-9_.-]{4,20}$/" -->
                        <i class="help-block" ng-if="form.username.$error.required"><span translate="required_message"></span></i>
                        <i class="help-block" ng-if="form.username.$error.pattern"><span translate="invalid_username"></span></i>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error': form.email.$invalid && form.email.$touched }">
                        <label class="control-label text-capitalize"><span translate="email"></span><i class="required">*</i></label>
                        <input type="email" class="form-control" name="email" maxlength="200" ng-model="model.email" required>
                        <i class="help-block" ng-if="form.email.$error.email && form.email.$touched"><span translate="email_invalid_message"></span></i>
                        <i class="help-block" ng-if="form.email.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && form.password.$touched }">
                        <label class="control-label text-capitalize"><span translate="password"></span><i class="required" ng-if="!id">*</i></label>
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" id="password" maxlength="200" ng-model="model.plainPassword.first" ng-required="!id">
                            <span class="input-group-btn">
                                <button class="btn btn-warning" tabindex="-1" ng-click="generatePassword()" title="{{ ::'generate_password' | translate }}">
                                    <i class="fa fa-lock"></i>
                                </button>
                            </span>
                        </div>
                        <i class="help-block" ng-if="form.password.$error.required"><span translate="required_message"></span></i>
                        <i class="help-block" ng-if="model.generatePassword">
                            <span translate="password_generated" class="text-capitalize"></span>:
                            <div class="input-group">
                                <input type="text" readonly class="form-control" id="password_generated" ng-model="model.generatePassword">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" ngclipboard data-clipboard-target="#password_generated" title="{{ ::'copy_to_clipboard' | translate }}">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </span>
                            </div>
                        </i>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.password_confirmation.$invalid && form.password_confirmation.$touched }">
                        <label class="control-label text-capitalize"><span translate="password_confirmation"></span><i class="required" ng-if="!id">*</i></label>
                        <input type="password" class="form-control" maxlength="200" match="model.plainPassword.first" name="password_confirmation" ng-model="model.plainPassword.second" ng-required="!id">
                        <i class="help-block" ng-if="form.password_confirmation.$error.required"><span translate="required_message"></span></i>
                        <i class="help-block" ng-if="form.password_confirmation.$error.match"><span translate="match_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.locale.$invalid && form.locale.$touched }">
                        <label class="control-label text-capitalize"><span translate="locale"></span></label>
                        <select class="form-control" name="locale" ng-options="item.id as item.name for item in locales" ng-model="model.locale"></select>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label text-capitalize">
                            <span translate="roles"></span><i class="required">*</i>
                        </label>
                        
                        <ui-select ng-if="!model.id || (!model.employer.id && !model.person.id)" ng-model="model.roles" name="roles" theme="bootstrap" ng-required="true" close-on-select="true">
                            <ui-select-match class="text-capitalize">{{ $select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in roles | selectPropsFilter: {name: $select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search" class="text-capitalize"></div>
                            </ui-select-choices>
                        </ui-select>
                        <i class="help-block" ng-if="form.roles.$error.required"><span translate="required_message"></span></i>

                        <strong class="help-block" ng-if="model.id && model.employer.id" translate="employer"></strong>
                        <strong class="help-block" ng-if="model.id && model.person.id" translate="person"></strong>
                    </div>
                </div>

                <div class="col-sm-3">
                    <br>
                    <div class="checkbox">
                        <label class="checkbox-display">
                           <input type="checkbox" ng-model="model.enabled" ng-true-value="true" ng-false-value="false">
                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                           <span class="text-capitalize"><span translate="status"></span></span>
                       </label>
                    </div>
                </div>

                <div class="col-sm-6" ng-if="model.employer" ng-form="employerForm">
                    <div class="form-group" ng-class="{ 'has-error': employerForm.name.$invalid && employerForm.name.$touched }">
                        <label class="control-label text-capitalize">
                            <span translate="company_name"></span><i class="required">*</i>
                        </label>

                        <div class="input-group">
                            <input ng-if="!model.employer.id" check-entity="employer" on-declined="cleanEmployer()" on-accepted="setEmployer(entity)" type="text" class="form-control" name="name" maxlength="200" autofocus ng-model="model.employer.name" ng-required="true">

                            <input type="text" ng-if="model.employer.id" ng-required="true" name="name" readonly ng-model="model.employer.displayName" class="form-control">

                            <span class="input-group-btn">

                                <button ng-if="!model.employer.id" type="button" ng-click="searchEmployer()" class="btn btn-warning" title="{{ ::'search_employer' | translate }}">
                                    <i class="fa fa-search"></i>
                                </button>

                                <button ng-if="!model.id && model.employer.id" type="button" ng-click="cleanEmployer()" class="btn btn-danger" title="{{ ::'clean' | translate }}">
                                    <i class="fa fa-trash"></i>
                                </button>

                                <a ng-if="model.employer.id" target="_blank" class="btn btn-info" ui-sref="app.employer-form({id: model.employer.id})" title="{{ ::'view' | translate }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </span>
                        </div>

                        <i class="help-block" ng-if="employerForm.name.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>

                <div class="col-sm-6" ng-if="model.person" ng-form="personForm">
                    <div class="form-group" ng-class="{ 'has-error': personForm.name.$invalid && personForm.name.$touched }">
                        <label class="control-label text-capitalize">
                            <span translate="person"></span><i class="required">*</i>
                        </label>

                        <div class="input-group">
                            <!-- <input ng-if="!model.person.id" type="text" check-entity="person" on-accepted="setPerson(entity)" on-declined="cleanPerson()" class="form-control" name="name" maxlength="200" autofocus ng-model="model.person.name" ng-required="true"> -->

                            <input type="text" ng-required="true" readonly name="name" ng-model="model.person.displayName" class="form-control">

                            <span class="input-group-btn">

                                <button ng-if="!model.person.id" type="button" ng-click="searchPerson()" class="btn btn-warning" title="{{ ::'search_person' | translate }}">
                                    <i class="fa fa-search"></i>
                                </button>

                                <button ng-if="!model.id && model.person.id" type="button" ng-click="cleanPerson()" class="btn btn-danger" title="{{ ::'clean' | translate }}">
                                    <i class="fa fa-trash"></i>
                                </button>

                                <a ng-if="model.person.id" target="_blank" class="btn btn-info" ui-sref="app.person-form({id: model.person.id})" title="{{ ::'view' | translate }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </span>
                        </div>

                        <i class="help-block" ng-if="personForm.name.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
