<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="user"></span>
            <small class="pull-right">
                <a acl="user" href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ui-sref="app.user-form">
                    <i class="fa fa-plus"></i> <span translate="new"></span>
                </a>
            </small>
        </h4>
    </div>
    <div class="panel-body">
      <items-by-page></items-by-page>
      <table st-safe-src="rowCollection" st-table="displayCollection" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th st-sort="username" class="column-status">
                        <span translate="username"></span>
                    </th>
                    <th st-sort="email">
                        <span translate="email"></span>
                    </th>
                    <th class="column-status">
                        <span translate="role"></span>
                    </th>
                    <th>
                        <span translate="employer"></span> / <br>
                        <span translate="person"></span>
                    </th>
                    <th st-sort="status" class="column-status">
                        <span translate="status"></span>
                    </th>
                    <th class="column-action">&nbsp;</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="username" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="email" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="roleName" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search class="form-control" type="search"/>
                    </th>
                    <th>
                        <select st-search="enabled" class="form-control">
                            <option value=""></option>
                            <option value="false">{{ ::"inactive" | translate }}</option>
                            <option value="true">{{ ::"active" | translate }}</option>
                        </select>
                    </th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayCollection track by row.id">
                    <td>{{ ::row.username }}</td>
                    <td>{{ ::row.email }}</td>
                    <td>
                        <span ng-if="row.employer.id" class="label label-warning">{{ ::"company" | translate }}</span>
                        <span ng-if="row.person.id" class="label label-info">{{ ::"person" | translate }}</span>
                        <span ng-if="!row.employer.id && !row.person.id" class="label label-success">{{ ::"user" | translate }}</span>
                    </td>
                    <td>
                        <span ng-if="row.employer.id">
                            <a target="_blank" ui-sref="app.employer-form({id: row.employer.id})">
                                {{ ::row.employer.displayName }}
                            </a>
                        </span>
                        <span ng-if="row.person.id">
                            <a target="_blank" ui-sref="app.person-form({id: row.person.id})">
                                {{ ::row.person.displayName }}
                            </a>
                        </span>
                    </td>
                    <td>
                        <b ng-if="row.enabled" class='text-capitalize'><i class='fa fa-circle' style='color:#3FB618'></i>&nbsp;<span translate="active"></span></b>
                        <b ng-if="!row.enabled" class='text-capitalize'><i class='fa fa-circle' style='color:#FF0039'></i>&nbsp;<span translate="inactive"></span></b>
                    </td>
                    <td class="text-center">
                        <a acl="user" ui-sref="app.user-form({id: row.id})" class="btn btn-default btn-sm">
                            <span translate="edit"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="6">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
