
<form name="form" server-validate ng-submit="submit(form, model)" local-storage storage="model" dates="['dob', 'dod']" novalidate>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <h4 class="page-title text-uppercase">
                    <small class="pull-right">
                        <a ui-sref='app.person-list' class="btn btn-default btn-sm text-capitalize">
                            <i class="fa fa-chevron-left"></i>
                            <span translate="back"></span>
                        </a>
                        <a acl="person" href="javascript:;" ng-if="model.id" class="btn btn-info btn-sm text-capitalize" ui-sref="app.person-form({id: ''})"  ui-sref-opts="{reload: true, notify: true}">
                            <i class="fa fa-plus"></i>
                            <span translate="new"></span>
                        </a>
                        <button acl="person" type="submit" class="btn btn-primary btn-sm text-capitalize">
                            <span translate="save"></span>
                        </button>
                    </small>
                    <person-name person="model"></person-name>
                </h4>
            </h4>
        </div>
        <div class="panel-body">
            <uib-tabset active="active">
                <uib-tab index="0" class="text-capitalize" select="focus('name');">
                    <uib-tab-heading>
                        <i ng-if="form.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="info"></span>
                    </uib-tab-heading>
                    <p>
                        <div class="row">
                            <div class="col-sm-12">
                                <person-data person="model" disabled="!canEdit()" on-update="personAlreadyThere(person)"></person-data>
                            </div>
                        </div>

                        <div class="row" ng-if="model.displayAllData">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="disability"></span>
                                    </label>
                                    <select class="form-control" ng-disabled="!canEdit()" ng-model="model.disability" ng-options="item.name for item in disabilities track by item.id"">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error': form.dod.$invalid && form.dod.$dirty }">
                                    <label class="control-label text-capitalize">
                                        <span translate="dod"></span>
                                    </label>
                                    <p class="input-group">
                                        <input type="text" ng-model="model.dod" min-date="model.dob" datepicker-options="calendarOptions" name="dod" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="calendar.dod" close-text="{{ 'close' | translate }}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openCalendar('dod')"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                    <i class="help-block" ng-if="form.dod.$error.date"><span translate="date_invalid_message"></span></i>
                                    <i class="help-block" ng-if="form.dod.$error.minDate"><span translate="date_deceased_before_birth"></span></i>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="marital-status"></span>
                                    </label>
                                    <select class="form-control" ng-disabled="!canEdit()" ng-model="model.maritalStatus" ng-options="item.name for item in maritalStatuses track by item.id">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="model.displayAllData">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="description"></span>
                                    </label>
                                    <textarea class="form-control" ng-model="model.description" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </p>
                </uib-tab>
                <uib-tab index="1" class="text-capitalize">
                    <uib-tab-heading>
                        <i ng-if="form.naturalityForm.$dirty && form.naturalityForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="naturality"></span>
                    </uib-tab-heading>
                    <p>
                        <div class="row">
                            <div class="col-sm-12">
                                <naturality model="model.naturality" disabled="!canEdit()" required="true"></naturality>
                            </div>
                        </div>
                    </p>
                </uib-tab>
                <uib-tab index="2" class="text-capitalize" select="focus('email');">
                    <uib-tab-heading>
                        <i ng-if="form.contactDetailForm.$dirty && form.contactDetailForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="contact_detail"></span>
                    </uib-tab-heading>
                    <p>
                        <div class="row">
                            <div class="col-sm-12">
                                <contact-detail disabled="!canEdit()" model="model.contactDetail"></contact-detail>
                            </div>
                        </div>
                    </p>
                </uib-tab>
                <uib-tab index="3" class="text-capitalize" select="focus('address');">
                    <uib-tab-heading>
                        <i ng-if="form.addressForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="address"></span>
                    </uib-tab-heading>
                    <p>
                        <div class="row">
                            <div class="col-sm-12">
                                <address disabled="!canEdit()" model="model.address" required="true"></address>
                            </div>
                        </div>
                    </p>
                </uib-tab>
                <uib-tab index="4" class="text-capitalize" select="focus('name');">
                    <uib-tab-heading>
                        <i ng-if="form.bankInformationForm.$dirty && form.bankInformationForm.$invalid" class="text-danger fa fa-exclamation-circle"></i>
                        <span translate="bank_information"></span>
                    </uib-tab-heading>
                    <p style="margin-top:15px;">
                        <bank-information model="model.bankInformation"></bank-information>
                    </p>
                </uib-tab>
                <uib-tab index="5" class="text-capitalize" select="focus()" disable="id == null" heading="{{ ::'relative' | translate }}" ng-form="kinshipForm">
                    <p>
                        <div class="row">
                            <div class="col-sm-12">
                                <relatives person="model" ng-if="model.id" disabled="!canEdit()"></relatives>
                            </div>
                        </div>
                    </p>
                </uib-tab>

                <uib-tab index="6" class="text-capitalize" select="focus()" disable="id == null" heading="{{ ::'contribution' | translate }}" ng-form="contributionForm">
                    <br>
                    <worker-overview person="model"></worker-overview>
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="text-uppercase" translate="latest"></span>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="active">
                                                <th>
                                                    <span translate="status"></span>
                                                </th>
                                                <th>
                                                    <span translate="entity"></span>
                                                </th>
                                                <th>
                                                    <span translate="sector"></span>
                                                </th>
                                                <th>
                                                    <span translate="contract_type"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-show="currentContract">
                                                <td>
                                                    <strong class="text-uppercase">
                                                        {{ currentState }}
                                                    </strong>
                                                </td>
                                                <td>{{ ::currentContract.employer.name }}</td>
                                                <td>{{ ::currentContract.employer.sector.name }}</td>
                                                <td>{{ ::currentContract.contractType.name }}</td>
                                            </tr>
                                            <tr ng-hide="currentContract">
                                                <td colspan="4">
                                                    <strong class="text-uppercase">
                                                        {{ currentState }}
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <contribution-total-overview-grid person-id="id"></contribution-total-overview-grid>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <contribution-overview-grid person-id="id"></contribution-overview-grid>
                        </div>
                    </div> -->
                </uib-tab>

            </uib-tabset>
        </div>
    </div>
</form>
