<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="person"></span>
            <small class="pull-right">
                <a acl="person" href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ui-sref="app.person-form">
                    <i class="fa fa-plus"></i>
                    <span translate="new"></span>
                </a>
            </small>
        </h4>
    </div>
    <div class="panel-body">
        <person-search  actions="personSearchAction" params="params"></person-search>
    </div>
</div>
