<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <button class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="save(model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="profile"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label text-capitalize"><span translate="username"></span></label>
                        <input type="text" class="form-control" disabled name="username" maxlength="200" ng-model="model.username" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error': form.email.$invalid && form.email.$touched }">
                        <label class="control-label text-capitalize"><span translate="email"></span><i class="required">*</i></label>
                        <input type="email" class="form-control" autofocus name="email" maxlength="200" ng-model="model.email" required>
                        <i class="help-block" ng-if="form.email.$error.email && form.email.$touched"><span translate="email_invalid_message"></span></i>
                        <i class="help-block" ng-if="form.email.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label text-capitalize"><span translate="roles"></span></label>
                        <br />
                        <ul>
                            <li ng-repeat="role in model.roles" class="text-capitalize">{{ ::role }}</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4" ng-if="model.employer">
                    <div class="form-group">
                        <label class="control-label text-capitalize">
                            <span translate="company_name"></span>
                        </label>
                        
                        <input type="text" class="form-control" disabled name="companyName" maxlength="200" autofocus ng-model="model.employer.displayName" ng-required="model.company">

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error': form.locale.$invalid && form.locale.$touched }">
                        <label class="control-label text-capitalize"><span translate="locale"></span></label>
                        <select class="form-control" name="locale" ng-options="item.id as item.name for item in locales" ng-model="model.locale"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <a href="javascript:;" class="btn btn-warning btn-sm" ng-click="clickEditPassword()">
                        <i class="fa fa-key"></i>
                        <span translate="password_edit"></span>
                    </a>
                    <div class="well" ng-if="editPassword">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && form.password.$touched }">
                                    <label class="control-label text-capitalize"><span translate="password"></span><i class="required">*</i></label>
                                    <input type="password" class="form-control" name="password" maxlength="200" ng-model="model.plainPassword.first" required>
                                    <i class="help-block" ng-if="form.password.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': form.password_confirmation.$invalid && form.password_confirmation.$touched }">
                                    <label class="control-label text-capitalize"><span translate="password_confirmation"></span><i class="required">*</i></label>
                                    <input type="password" class="form-control" maxlength="200" match="model.plainPassword.first" name="password_confirmation" ng-model="model.plainPassword.second" required>
                                    <i class="help-block" ng-if="form.password_confirmation.$error.required"><span translate="required_message"></span></i>
                                    <i class="help-block" ng-if="form.password_confirmation.$error.match"><span translate="match_message"></span></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
