<form name="form" server-validate novalidate local-storage storage="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                    <a ui-sref='app.optional-step-list' class="btn btn-default btn-sm text-capitalize">
                        <i class="fa fa-chevron-left"></i>
                        <span translate="back"></span>
                    </a>
                    <button acl="optional-step" ng-if="!id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="add(model)" >
                        <span translate="save"></span>
                    </button>
                    <button acl="optional-step" ng-if="id" class="btn btn-primary btn-sm text-capitalize" ng-disabled="form.$invalid" ng-click="edit(id, model)" >
                        <span translate="save"></span>
                    </button>
                </small>
                <span translate="optional_step"></span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.step.$invalid && form.step.$dirty }">
                        <label class="control-label text-capitalize"><span translate="step"></span></label>
                        <input type="text" class="form-control" name="step" autofocus ng-model="model.id" readonly>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.indexer.$invalid && form.indexer.$dirty }">
                        <label class="control-label text-capitalize"><span translate="indexer"></span><i class="required">*</i></label>
                        <div class="input-group">
                            <input ui-number-mask="2" ui-hide-group-sep name="indexer" ng-model="model.indexer" class="form-control" required>
                            <div class="input-group-addon">
                                SAII: <span>{{saii|currency}}</span>
                            </div>
                        </div>
                        <i class="help-block" ng-if="form.indexer.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.cost.$invalid && form.cost.$dirty }">
                        <label class="control-label text-capitalize"><span translate="cost"></span><i class="required">*</i></label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input ui-number-mask="2" ui-hide-group-sep name="cost" ng-model="model.cost" class="form-control" required readonly>
                        </div>
                        <i class="help-block" ng-if="form.cost.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.maxAgeAccession.$invalid && form.maxAgeAccession.$dirty }">
                        <label class="control-label text-capitalize"><span translate="max_age_accession"></span></label>
                        <input type="number" class="form-control" name="maxAgeAccession" autofocus ng-model="model.maxAgeAccession" required>
                        <i class="help-block" ng-if="form.maxAgeAccession.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.decrease.$invalid && form.decrease.$dirty }">
                        <label class="control-label text-capitalize"><span translate="decrease"></span></label>
                        <input type="number" class="form-control" name="decrease" autofocus ng-model="model.decrease" required>
                        <i class="help-block" ng-if="form.decrease.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.increase.$invalid && form.increase.$dirty }">
                        <label class="control-label text-capitalize"><span translate="increase"></span></label>
                        <input type="number" class="form-control" name="increase" autofocus ng-model="model.increase" required>
                        <i class="help-block" ng-if="form.increase.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.maxAgeIncrease.$invalid && form.maxAgeIncrease.$dirty }">
                        <label class="control-label text-capitalize"><span translate="max_age_increase"></span></label>
                        <input type="number" class="form-control" name="maxAgeIncrease" autofocus ng-model="model.maxAgeIncrease" required>
                        <i class="help-block" ng-if="form.maxAgeIncrease.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-class="{ 'has-error': form.increasePaidMonths.$invalid && form.increasePaidMonths.$dirty }">
                        <label class="control-label text-capitalize"><span translate="increase_paid_months"></span></label>
                        <input type="number" class="form-control" name="increasePaidMonths" autofocus ng-model="model.increasePaidMonths" required>
                        <i class="help-block" ng-if="form.increasePaidMonths.$error.required"><span translate="required_message"></span></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="checkbox-display">
                           <input type="checkbox" ng-model="model.status" ng-true-value="1" ng-false-value="0">
                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                           <span class="text-capitalize"><span translate="status"></span></span>
                       </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
