<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="optional_step"></span>
            <small class="pull-right">
                <a acl="optional-step" href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ui-sref="app.optional-step-form">
                    <i class="fa fa-plus"></i>
                    <span translate="new"></span>
                </a>
            </small>
        </h4>
    </div>
    <div class="panel-body">
      <items-by-page></items-by-page>
      <table st-safe-src="rowCollection" st-table="displayCollection" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th st-sort="id">
                        <span translate="step"></span>
                    </th>
                    <th st-sort="indexer">
                        <span translate="indexer"></span>
                    </th>
                    <th st-sort="cost">
                        <span translate="cost"></span>
                    </th>
                    <th st-sort="decrease">
                        <span translate="decrease"></span>
                    </th>
                    <th st-sort="increase">
                        <span translate="increase"></span>
                    </th>
                    <th st-sort="maxAgeAccession">
                        <span translate="max_age_accession"></span>
                    </th>
                    <th st-sort="increasePaidMonths">
                        <span translate="increase_paid_months"></span>
                    </th>
                    <th st-sort="maxAgeIncrease">
                        <span translate="max_age_increase"></span>
                    </th>
                    <th st-sort="status" class="column-status">
                        <span translate="status"></span>
                    </th>
                    <th st-sort="updated_by.username">
                        <span translate="user-last-changed"></span>
                    </th>
                    <th st-sort="updated_at">
                        <span translate="updated_at"></span>
                    </th>
                    <th class="column-action">&nbsp;</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="id" class="form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="indexer" class="form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="cost" class="form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="decrease" class="form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="increase" class="form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="maxAgeAccession" class="form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="increasePaidMonths" class="form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="maxAgeIncrease" class="form-control" type="search" />
                    </th>
                    <th>
                        <select st-search="status" class="form-control">
                            <option value=""></option>
                            <option value="0">{{ ::"inactive" | translate }}</option>
                            <option value="1">{{ ::"active" | translate }}</option>
                        </select>
                    </th>
                    <th>
                        <input st-search="updated_by.username" class="form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="updated_at" class="form-control" type="search"/>
                    </th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!loading" ng-repeat="row in displayCollection track by row.id">
                    <td>{{ ::row.id }}</td>
                    <td>{{ ::row.indexer }}</td>
                    <td>{{ ::row.cost|currency }}</td>
                    <td>{{ ::row.decrease }}</td>
                    <td>{{ ::row.increase }}</td>
                    <td>{{ ::row.maxAgeAccession }}</td>
                    <td>{{ ::row.increasePaidMonths }}</td>
                    <td>{{ ::row.maxAgeIncrease }}</td>
                    <td><status value="row.status"></status></td>
                    <td>{{ ::row.updated_by.username }}</td>
                    <td>{{ ::row.updated_at|date:'dd/MM/yyyy HH:mm' }}</td>
                    <td class="text-center">
                        <a acl="optional-step" ui-sref="app.optional-step-form({id: row.id})" class="btn btn-default btn-sm">
                            <span translate="edit"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="12">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/components/pagination.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
