<form name="form" server-validate novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title text-uppercase">
                <small class="pull-right">
                </small>
                <span translate="subscription"></span>
                <person-name person="person"></person-name>
            </h4>
        </div>
        <div class="panel-body">
            <inline-search-person person="person" callback="selectPerson(person)"></inline-search-person>
            <compulsory-accession person="person"></compulsory-accession>
        </div>
    </div>
</form>
