<h2 class="text-center">
    <span class="inss-logo"></span>
    
    <span class="text-capitalize" translate="changes_history"></span>
    -
    <span class="text-capitalize" translate="optional_accession"></span>
</h2>

<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="optional_accession"></span>
            <small class="pull-right">
                <a href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ng-if="user.isPerson()" ui-sref="app.optional-subscription-form({updateSubscription: 1, id: user.person.internalCode})">
                    <i class="fa fa-pencil"></i>
                    <span translate="edit"></span>
                </a>

                <a href="javascript:;" class="btn btn-info btn-sm text-capitalize" ng-if="user.isStaff()" ui-sref="app.optional-subscription-list({updateSubscription: 1, suspend: 0})">
                    <i class="fa fa-arrow-left"></i>
                    <span translate="back"></span>
                </a>
            </small>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row" ng-if="person">

            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span translate="optional_accession" class="text-capitalize"></span>
                            -
                            <span translate="person" class="text-capitalize"></span>

                            <span class="pull-right">
                                &nbsp;
                                <subscription-status model="accession"></subscription-status>
                            </span>

                            <security-code model="person"></security-code>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 worker-container">
                                <person-display person="person"></person-display>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <optional-subscription-list actions="actionsGrid" rows="rows"></optional-subscription-list>
    </div>
</div>
