<h4 class="text-center text-capitalize" style="margin-top: 90px">
    <p>
        <i class="fa fa-exclamation-triangle text-warning fa-5x"></i>
    </p>
    <span translate="optional_subscription_compulsory"></span>
</h4>