<h2 class="text-center">
    <span class="inss-logo"></span>

    <span ng-if="!updateSubscription" translate="subscription" class="text-capitalize"></span>
    <span ng-if="updateSubscription" translate="subscription_change" class="text-capitalize"></span>
    -
    <span class="text-capitalize" translate="optional_accession"></span>
</h2>

<div class="alert alert-warning" ng-if="!updateSubscription && isSubmitted()" translate="subscription_submitted_already"></div>
<div class="alert alert-warning" ng-if="accession.isSuspended()" translate="subscription_suspended"></div>
<div class="alert alert-warning" ng-if="accession.isCeased()" translate="subscription_ceased"></div>

<form name="form" server-validate local-storage ng-submit="save(form, person)" novalidate>

    <div class="row">
        <div class="col-sm-5">
            <a class="btn btn-success text-capitalize pull-left" ng-if="version && person.id" ui-sref="app.optional-subscription-list-changes({id: person.internalCode})">
                <i class="fa fa-arrow-left"></i>
                <span translate="back"></span>
            </a>
        </div>
    </div>

    <br>
    
    <div class="row info-container" ng-form="identificationForm">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">1</span>
                        &nbsp;
                        <span translate="identification" class="text-capitalize"></span>
                        <version ng-if="subscription" entity="subscription" class="pull-right" style="margin-left: 5px"></version>
                        <security-code model="person"></security-code>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <person-data person="person" on-update="setWorker(person)" disabled="!canEdit()"></person-data>
                        </div>
                    </div>
                    <div ng-if="person.displayAllData">
                        <div class="row">
                            <div class="col-sm-12">
                                <address model="person.address" disabled="!canEdit()"  required="true"></address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <naturality model="person.naturality" disabled="!canEdit()"  required="true"></naturality>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group" ng-class="{ 'has-error': identificationForm.maritalStatus.$invalid && identificationForm.maritalStatus.$dirty }">
                                    <label class="control-label text-capitalize">
                                        <span translate="marital-status"></span><i class="required">*</i>
                                    </label>
                                    <select class="form-control" ng-disabled="!canEdit()" name="maritalStatus" ng-required="true" ng-model="person.maritalStatus" ng-options="item.name for item in maritalStatuses track by item.id">
                                        <option value=""></option>
                                    </select>
                                    <i class="help-block" ng-if="identificationForm.maritalStatus.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label text-capitalize">
                                        <span translate="disability"></span>
                                    </label>
                                    <select class="form-control" ng-model="person.disability" ng-disabled="!canEdit()" ng-options="item.name for item in disabilities track by item.id">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <contact-detail model="person.contactDetail" disabled="!canEdit()"></contact-detail>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer" ng-if="person.displayAllData && !person.id">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="button" ng-disabled="!canEdit()" ng-click="saveInformation(identificationForm, person)" class="btn btn-success text-capitalize">
                                <span>
                                    <span translate="next"></span>
                                    <i class="fa fa-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row relative-container" ng-if="isCurrentStep('relative')" ng-form="relativeForm">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">2</span>
                        &nbsp;
                        <span translate="relative" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <relatives person="person" disabled="!canEdit()"></relatives>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row employment-container" ng-if="isCurrentStep('employment')">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">3</span>
                        &nbsp;
                        <span translate="work_contract_situation" class="text-capitalize"></span>
                    </h3>
                </div>

                <div class="panel-body">

                    <div ng-form="employmentForm">

                        <div class="row" ng-if="employers.length > 0">
                            <div class="col-sm-12">
                                <div class="form-group" ng-class="{ 'has-error': employmentForm.employer.$invalid && employmentForm.employer.$dirty }">
                                    <label class="control-label text-capitalize">
                                        <span translate="company"></span>
                                    </label>
                                    <ui-select ng-disabled="!canEdit()" ng-model="accession.workSituation.employer" theme="bootstrap" name="employer" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="item in employers | selectPropsFilter: {name: $select.search}">
                                            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <i class="help-block" ng-if="employmentForm.employer.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error': employmentForm.occupation.$invalid && employmentForm.occupation.$dirty }">
                                    <label class="control-label text-capitalize"><span translate="occupation"></span></label>
                                    <ui-select ng-disabled="!canEdit()" ng-model="accession.workSituation.occupation" theme="bootstrap" name="occupation" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in occupations | selectPropsFilter: {name: $select.search}">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <i class="help-block" ng-if="employmentForm.occupation.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error': employmentForm.post.$invalid && employmentForm.post.$dirty }">
                                    <label class="control-label text-capitalize"><span translate="post"></span></label>
                                    <ui-select ng-disabled="!canEdit()" ng-model="accession.workSituation.post" theme="bootstrap" name="post" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in posts | selectPropsFilter: {name: $select.search}">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <i class="help-block" ng-if="employmentForm.post.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error': employmentForm.dateStart.$invalid && employmentForm.dateStart.$dirty }">
                                    <label class="control-label text-capitalize">
                                        <span translate="date_start_contract"></span><i class="required">*</i>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" ng-disabled="!canEdit()" ng-model="accession.dateStart" min-date="accession.workSituation.employer.dateStartActivity" max-date="maxDate" datepicker-options="{minDate: accession.workSituation.employer.dateStartActivity, maxDate: maxDate}" name="dateStart" data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="accession.calendarStart" close-text="{{ 'close' | translate }}" ng-required="true"
                                        />
                                        <span class="input-group-btn">
                                            <button type="button" tabindex="-1" ng-disabled="!canEdit()" class="btn btn-default" ng-click="accession.calendarStart = true">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <i class="help-block" ng-if="employmentForm.dateStart.$error.required"><span translate="required_message"></span></i>
                                    <i class="help-block text-danger" ng-if="employmentForm.dateStart.$error.minDate"><span translate="error_ee_min_date"></span></i>
                                    <i class="help-block text-danger" ng-if="employmentForm.dateStart.$error.maxDate"><span translate="not_later_today"></span></i>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error': employmentForm.optionalContributionGroup.$invalid && employmentForm.optionalContributionGroup.$dirty }">
                                    <label class="control-label text-capitalize"><span translate="optional_contribution_group"></span><i class="required">*</i></label>
                                    <ui-select ng-required="true" ng-disabled="!canEdit()" ng-model="accession.optionalContributionGroup" name="optionalContributionGroup" close-on-select="true" >
                                        <ui-select-match allow-clear>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in optionalContributionGroups | selectPropsFilter: {name: $select.search}">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <i class="help-block" ng-if="employmentForm.optionalContributionGroup.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="form-group" ng-class="{ 'has-error': employmentForm.activitySectors.$invalid && employmentForm.activitySectors.$dirty }">
                                    <label class="control-label text-capitalize">
                                        <span translate="activity"></span><i class="required">*</i>
                                    </label>
                                    <ui-select multiple ng-required="true" ng-disabled="!canEdit()" name="activitySectors" ng-model="accession.workSituation.activitySectors" theme="bootstrap" close-on-select="true">
                                        <ui-select-match>{{$item.code}} - {{$item.name|limitTo:30}}</ui-select-match>
                                        <ui-select-choices repeat="item in activitiesSectorsTree | selectPropsFilter: {name: $select.search, code:$select.search}">
                                            <div style="padding-left: {{15 * item.level}}px" ng-bind-html="(item.code + ' - ' + item.name) | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <i class="help-block" ng-if="employmentForm.activitySectors.$error.required"><span translate="required_message"></span></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row step-container" ng-if="isCurrentStep('step')">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">4</span>
                        &nbsp;
                        <span translate="optional_step" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    
                    <div class="row" ng-if="subscription.optionalStep">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="current_optional_step"></span>
                                </label>
                                <input type="text" disabled value="{{formatOptionalStep(subscription.optionalStep)}}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-form="optionalStepForm">
                        <div class="col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error': optionalStepForm.optionalStep.$invalid && optionalStepForm.optionalStep.$dirty }">
                                <label class="control-label text-capitalize">
                                    <span translate="optional_step"></span><i class="required">*</i>
                                </label>
                                <select class="form-control" ng-disabled="!canEdit()" name="optionalStep" ng-options="formatOptionalStep(item) for item in optionalSteps track by item.id" ng-model="subscription.optionalStep" required></select>
                                <i class="help-block" ng-if="optionalStepForm.optionalStep.$error.required"><span translate="required_message"></span></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row files-container" ng-if="isCurrentStep('files')">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">5</span>
                        &nbsp;
                        <span translate="files" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <file-upload reference="P" model="person" disabled="!canEdit()"></file-upload>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="person.id">
        <div class="col-sm-12 text-center well">
            <button acl="employer-subscription" ng-if="!updateSubscription" type="submit" class="btn btn-primary btn-lg text-capitalize" ng-disabled="!canEdit()">
                <i class="fa fa-floppy-o"></i>
                <span translate="save"></span>
            </button>
            <button acl="employer-subscription" type="button" ng-click="submit(form)" class="btn btn-success btn-lg text-capitalize" ng-disabled="!canEdit()">
                <i class="fa fa-cloud-upload"></i>
                <span translate="save_and_submit"></span>
            </button>
        </div>
    </div>

</form>
