<h2 class="text-center">
    <span class="inss-logo"></span>
    
    <span ng-if="!suspend && !updateSubscription" translate="subscription" class="text-capitalize"></span>
    <span ng-if="!suspend && updateSubscription" translate="subscription_change" class="text-capitalize"></span>

    <span class="text-capitalize" ng-if="suspend" translate="subscription_suspension"></span>
    -
    <span class="text-capitalize" translate="optional_accession"></span>
</h2>

<div class="panel panel-default">
    <div class="panel-heading text-uppercase">
        <h4>
            <span translate="optional_accession"></span>
            <!-- <small class="pull-right">
                <a href="javascript:;" class="btn btn-primary btn-sm text-capitalize" ui-sref="app.optional-subscription-form">
                    <i class="fa fa-plus"></i>
                    <span translate="new_subscription"></span>
                </a>
            </small> -->
        </h4>
    </div>
    <div class="panel-body">
        <optional-subscription-list actions="actionsGrid" rows="rows"></optional-subscription-list>
    </div>
</div>
