<h2 class="text-center">
    <span class="inss-logo"></span>

    <span translate="subscription_suspension" class="text-capitalize"></span>
    -
    <span class="text-capitalize" translate="optional_accession"></span>
</h2>

<div class="alert alert-warning" ng-if="accession.isSuspended()" translate="subscription_suspended"></div>
<div class="alert alert-warning" ng-if="accession.isCeased()" translate="subscription_ceased"></div>

<form name="form" server-validate local-storage ng-submit="suspend(form)" novalidate>

    <div class="row" ng-if="person">

        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="optional_accession" class="text-capitalize"></span>
                        -
                        <span translate="person" class="text-capitalize"></span>
                        <span class="pull-right">
                            &nbsp;
                            <subscription-status model="accession"></subscription-status>
                        </span>
                        <security-code model="person"></security-code>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 worker-container">
                            <person-display person="person"></person-display>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row" ng-if="subscription">

        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="optional_subscription" class="text-capitalize"></span>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="date_start_activity"></span>
                                </label>
                                <p>{{accession.dateStart|date:'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="date_start_step"></span>
                                </label>
                                <p>{{subscription.dateStart|date:'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="optional_contribution_group"></span>
                                </label>
                                <p>{{accession.optionalContributionGroup.name}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label text-capitalize">
                                    <span translate="current_optional_step"></span>
                                </label>
                                <p>{{subscription.optionalStepName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <div ng-if="subscription && canSuspend()">
        <div class="row" >

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="action"></span>
                    </label>
                    <div class="form-group">
                        <select class="form-control" ng-options="option.value as option.label for option in actions" ng-model="action.status"></select>
                    </div>
                </div>  
            </div>


            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label text-capitalize">
                        <span translate="date_subscription"></span>
                    </label>
                    <p class="input-group">
                        <input ng-disabled="true" type="text" class="form-control" data-mask="00/00/0000" uib-datepicker-popup="dd/MM/yyyy" ng-model="accession.dateStart" name="dateStart" >
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error': form.dateEnd.$invalid && form.dateEnd.$dirty }">
                    <label class="control-label text-capitalize">
                        <span translate="date_end"></span><i class="required">*</i>
                    </label>
                    <p class="input-group">
                        <input ng-disabled="!canSuspend()" type="text" datepicker-options="calendarOptions" ng-required="true" max-date="today" ng-model="accession.dateEnd" min-date="subscription.dateStart" name="dateEnd"
                            data-mask="00/00/0000" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="accession.openEndActivity" close-text="{{ 'close' | translate }}" />
                        <span class="input-group-btn">
                            <button ng-disabled="!canSuspend()" tabindex="-1" type="button" class="btn btn-default" ng-click="accession.openEndActivity = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <i class="help-block" ng-if="form.dateEnd.$error.required"><span translate="required_message"></span></i>
                    <i class="help-block" ng-if="form.dateEnd.$error.date"><span translate="date_invalid_message"></span></i>
                    <i class="help-block" ng-if="form.dateEnd.$error.minDate"><span translate="error_min_date_subscription"></span></i>
                    <i class="help-block" ng-if="form.dateEnd.$error.maxDate"><span translate="not_later_today"></span></i>
                </div>
            </div>
        </div>

        <div class="row" ng-if="accession">
            <div class="col-sm-12 text-center well">
                <button acl="optional-accession-subscription" acl-action="edit" type="submit" class="btn btn-warning btn-lg text-capitalize" ng-disabled="!canSuspend()">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span ng-if="suspendedStatus == action.status" class="text-capitalize" translate="suspend"></span>
                    <span ng-if="ceasedStatus == action.status" class="text-capitalize" translate="cease"></span>
                </button>
            </div>
        </div>
    </div>


    <div ng-if="accession && isSuspended()">
        <div class="row">
            <div class="col-sm-12 text-center well">
                <button acl="optional-accession-subscription" acl-action="edit" type="button" ng-disabled="!canActive()" ng-click="activate()" class="btn btn-success btn-lg text-capitalize">
                    <i class="fa fa-flash"></i>
                    <span class="text-capitalize" translate="activate"></span>
                </button>
                <button acl="optional-accession-subscription" acl-action="edit" type="submit" class="btn btn-warning btn-lg text-capitalize">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="text-capitalize" translate="cease"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row" ng-if="accession">
        <div class="col-sm-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span translate="status_history"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <subscription-status-list rows="accession.statusHistory"></subscription-status-list>
                </div>
            </div>
        </div>
    </div>

</form>