<h4 class="text-center text-capitalize" style="margin-top: 90px">
    <p>
        <i class="fa fa-check-circle-o text-success fa-5x"></i>
    </p>
    <span translate="optional_subscription_thankyou"></span>
</h4>